force-app/main/default/flows/Account_Subflow_Ownership_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_RR_SaaSSEntTeam</name>
        <label>RR SaaSSEntTeam</label>
        <locationX>2811</locationX>
        <locationY>1748</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_EC_Opportunities_on_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>SaaS_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>SaaSEntTeam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RR_BUOLargeTeam_Assign_Billing_Upsell_Owner_on_Account</name>
        <label>RR - BUOLargeTeam</label>
        <locationX>2734</locationX>
        <locationY>2864</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Child_Accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Billing_Upsell_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>BUOLargeTeam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RR_BUOSMBTeam_Assign_Billing_Upsell_Owner_on_Account</name>
        <label>RR - BUOSMBTeam</label>
        <locationX>2998</locationX>
        <locationY>2864</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Child_Accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Billing_Upsell_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>BUOSMBTeam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RR_GovEntTeam_Assign_Billing_Upsell_Owner_on_Account</name>
        <label>RR - GovEntTeam</label>
        <locationX>3262</locationX>
        <locationY>2864</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Child_Accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Billing_Upsell_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>BUOGovEntTeam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RR_SaaSGovEntTeam</name>
        <label>RR SaaSGovEntTeam</label>
        <locationX>204</locationX>
        <locationY>1166</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>SaaS_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>SaaSGovEntTeam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RR_SaaSGovEntTeam2</name>
        <label>RR SaaSGovEntTeam</label>
        <locationX>2228</locationX>
        <locationY>1166</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>SaaS_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>SaaSGovEntTeam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RR_SaaSGovEntTeam_Assign_SaaS_Owner_on_Account</name>
        <label>RR SaaSGovEntTeam</label>
        <locationX>3075</locationX>
        <locationY>1748</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_EC_Opportunities_on_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>SaaS_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>SaaSGovEntTeam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RR_SaaSLargeTeam_Assign_SaaS_Owner_on_Account</name>
        <label>RR SaaSLargeTeam</label>
        <locationX>3339</locationX>
        <locationY>1748</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_EC_Opportunities_on_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>SaaS_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>SaaSLargeTeam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RR_SaaSSMBTeam</name>
        <label>RR SaaSSMBTeam</label>
        <locationX>1612</locationX>
        <locationY>1058</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>SaaS_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>SaaSSMBTeam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RR_SaaSSMBTeam_Assign_SaaS_Owner_on_Account</name>
        <label>RR SaaSSMBTeam</label>
        <locationX>3603</locationX>
        <locationY>1748</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_EC_Opportunities_on_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>SaaS_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>SaaSSMBTeam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Existing_SaaS_Owner</name>
        <label>Assign Existing SaaS Owner</label>
        <locationX>3284</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.SaaS_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_accounts_with_saas_owner.SaaS_Owner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SaaS_Owner_to_match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign to the child accounts the same users previously assigned to the fields SaaS Owner, Education Owner and Billing Upsell Owner.</description>
        <name>Assign_Ownerships</name>
        <label>Assign Ownerships</label>
        <locationX>2943</locationX>
        <locationY>3548</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.SaaS_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.SaaS_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.Billing_Upsell_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Billing_Upsell_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.Education_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EC_Opportunities_on_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ChildAccountsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Child_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Child_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_3</name>
        <label>Assign Saas Owner</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.SaaS_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Queue_user.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the Billing Upsell Owner field on the account is populated with a valid active user.</description>
        <name>Account_Billing_Upsell_Owner_Populated</name>
        <label>Account Billing Upsell Owner Populated?</label>
        <locationX>2987</locationX>
        <locationY>2432</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Billing_Upsell_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Billing_Upsell_Owner_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Billing_Upsell_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Billing_Upsell_Owner__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the SaaS Owner field on the account is populated with a valid active user.</description>
        <name>Account_SaaS_Owner_Populated</name>
        <label>Account SaaS Owner Populated?</label>
        <locationX>2987</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>is_bw_org_UUID_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_SaaS_Owner_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.SaaS_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.SaaS_Owner__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EC_Opportunities_on_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Micro account (i.e. where capacity is less than 10), do not run Ownership Assignments</description>
        <name>Account_Size</name>
        <label>Account Size</label>
        <locationX>1612</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>IsRelated_Payer_Customer_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>Micro_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Micro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Payer_Customer_Type</targetReference>
            </connector>
            <label>Micro Account</label>
        </rules>
        <rules>
            <name>Large_Multi_Site</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>large</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multisite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single-Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_SaaS_Onwer_Exist</targetReference>
            </connector>
            <label>Large/Multi-Site</label>
        </rules>
    </decisions>
    <decisions>
        <description>Assigns an active user as the Biling Upsell Owner of the account.</description>
        <name>Assign_Billing_Upsell_Owner_on_Account</name>
        <label>Assign Billing Upsell Owner on Account</label>
        <locationX>3130</locationX>
        <locationY>2756</locationY>
        <defaultConnector>
            <targetReference>Get_Child_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Large_Team_Assign_Billing_Upsell_Owner_on_Account</name>
            <conditionLogic>1 AND 2 AND (3 OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Related_Payer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Capacity__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Capacity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Multi-Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RR_BUOLargeTeam_Assign_Billing_Upsell_Owner_on_Account</targetReference>
            </connector>
            <label>Large Team</label>
        </rules>
        <rules>
            <name>SMB_Team_Assign_Billing_Upsell_Owner_on_Account</name>
            <conditionLogic>1 AND 2 AND 3 AND NOT(4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Related_Payer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Capacity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Multi-Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RR_BUOSMBTeam_Assign_Billing_Upsell_Owner_on_Account</targetReference>
            </connector>
            <label>SMB Team</label>
        </rules>
        <rules>
            <name>Gov_Ent_Team_Assign_Billing_Upsell_Owner_on_Account</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Related_Payer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Related_Payer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RR_GovEntTeam_Assign_Billing_Upsell_Owner_on_Account</targetReference>
            </connector>
            <label>Gov / Ent Team</label>
        </rules>
    </decisions>
    <decisions>
        <description>Assigns an active user as the SaaS Owner of the account.</description>
        <name>Assign_SaaS_Owner_on_Account</name>
        <label>Assign SaaS Owner on Account</label>
        <locationX>3339</locationX>
        <locationY>1640</locationY>
        <defaultConnector>
            <targetReference>Get_EC_Opportunities_on_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Enterprise1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_RR_SaaSSEntTeam</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
        <rules>
            <name>Gov_Ent_Team_SaaS_Owner_on_Account</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Related_Payer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Related_Payer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RR_SaaSGovEntTeam_Assign_SaaS_Owner_on_Account</targetReference>
            </connector>
            <label>Gov / Ent Team</label>
        </rules>
        <rules>
            <name>Large_Team_Assign_SaaS_Owner_on_Account</name>
            <conditionLogic>(1 AND 2 AND (3 OR (4 AND 5))) OR (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Related_Payer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Capacity__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Capacity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Multi-Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multisite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>large</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RR_SaaSLargeTeam_Assign_SaaS_Owner_on_Account</targetReference>
            </connector>
            <label>Large Team</label>
        </rules>
        <rules>
            <name>SMB_Team_SaaS_Owner_on_Account</name>
            <conditionLogic>(1 AND 2 AND 3 AND NOT(4)) OR (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Related_Payer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Capacity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Multi-Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>small</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RR_SaaSSMBTeam_Assign_SaaS_Owner_on_Account</targetReference>
            </connector>
            <label>SMB Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_Accounts_Found</name>
        <label>Child Accounts Found?</label>
        <locationX>2987</locationX>
        <locationY>3332</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Child_Accounts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Child_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Account_Has_a_Billing_Upsell_Opp</name>
        <label>Account Has a Billing Upsell Opp?</label>
        <locationX>3416</locationX>
        <locationY>2648</locationY>
        <defaultConnectorLabel>No - End</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Billing_Upsell_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Upsell_Owner_on_Account</targetReference>
            </connector>
            <label>Yes - Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_SaaS_Onwer_Exist</name>
        <label>SaaS Onwer Exist and Is Acount Queue?</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assignment_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.SaaS_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.SaaS_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_Queue_user.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_SaaS_Onwer_Exist</name>
        <label>SaaS Onwer Exist?</label>
        <locationX>1612</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>RR_SaaSSMBTeam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.SaaS_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_SaaSGovEntTeam_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_SaaS_Owner_Exist_in_Group</name>
        <label>SaaS Owner Exist in Group?</label>
        <locationX>1458</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>RR_SaaSSMBTeam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_SaaS_Owner_Exist_in_Group</name>
        <label>SaaS Owner Exist in Group?</label>
        <locationX>2074</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>RR_SaaSGovEntTeam2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Get_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_SaaS_Onwer_Exist</name>
        <label>SaaS Onwer Exist?</label>
        <locationX>2228</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>RR_SaaSGovEntTeam2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.SaaS_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Get_SaaSGovEntTeam_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_bw_org_UUID_blank</name>
        <label>is bw org UUID blank?</label>
        <locationX>3339</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_accounts_shared_Org_UUID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.bw_Organization_UUID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SaaS_Owner_on_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_multi_site</name>
        <label>Is multi site?</label>
        <locationX>3570</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_SaaS_Owner_on_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Premium_ECE_Multi_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_accounts_shared_Org_UUID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_other_accounts_with_saas_owner</targetReference>
            </connector>
            <label>Premium ECE Multi Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRelated_Payer_Customer_Type</name>
        <label>Related Payer Customer Type?</label>
        <locationX>2607</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Account_SaaS_Owner_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>Government_Payer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Related_Payer_Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government Payer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_SaaS_Onwer_Exist</targetReference>
            </connector>
            <label>Government Payer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Payer_Customer_Type</name>
        <label>Related Payer Customer Type?</label>
        <locationX>633</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gov_Payer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Related_Payer_Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government Payer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaaS_Onwer_Exist</targetReference>
            </connector>
            <label>Gov Payer</label>
        </rules>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Related_Payer_Customer_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Queue_user</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaaS_Onwer_Exist</name>
        <label>SaaS Onwer Exist?</label>
        <locationX>204</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>RR_SaaSGovEntTeam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yesa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.SaaS_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaaS_Owner_Exist_in_Group</name>
        <label>SaaS Owner Exist in Group?</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>RR_SaaSGovEntTeam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yesb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>saas_owner_exists_on_another_account</name>
        <label>saas owner exists on another account</label>
        <locationX>3416</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_SaaS_Owner_on_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_other_accounts_with_saas_owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_SaaS_Owner</targetReference>
            </connector>
            <label>Yes - Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Education Owner assignments should only happen when a new Experience Curriculum is created on the account.</description>
        <name>Skip_Education_Owner_Assignment_on_Account</name>
        <label>Skip Education Owner Assignment on Account?</label>
        <locationX>2987</locationX>
        <locationY>2132</locationY>
        <defaultConnector>
            <targetReference>Assign_Education_Owner_on_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Education_Owner_Populated_on_Account</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_EC_Opportunities_on_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Education_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Education_Owner__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Billing_Upsell_Owner_Populated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is designed to update the SaaS Owner, Billing Upsell Owner, and Education Owner fields on account records. It&apos;s meant to be integrated into other specific flows as needed, to ensure these ownership assignments are made on accounts.

Diagram: https://drive.google.com/file/d/10OJahGybTMm6oY6BMqVnxR_WgQUsbf3h/view?usp=sharing

04/03/24 - PE - Updated groups for Gov/Ent RR
07/17/24 - PE  -Updated decision to populate if owner is Account Queue
7/7/25 - JH: Added decision nodes for BUO assignment so that it ends if there is no existing Billing Upsell Opps on Account. Sprint 13 request to remove auto assigment if no upsell opps have been created yet.
7/24/24 - updated to incorporate customer segment into the critieria for each saas owner path
8/27/25 - Updated multi site decision criteria and updated order of saas owner paths to correct routing issues
03/17/26- Updated the micro or large or multisite segment assignment in the flow and also added gov payer assignment to gov RR team
18/3/26 - Updated the condition of Decision element from customer type to related payer customer type
24/3/26 - Implemented Validation for Each SaaS owner Assignment</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula calculates the current date and time, then subtracts 5 minutes. It serves as the logic criteria to identify if an EC opportunity was created within the last 5 minutes, indicating a new EC opportunity. This ensures compatibility with the date/time format of the Opportunity&apos;s CreatedDate field.</description>
        <name>forDT_NowMinus5Minutes</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (5/1440)</expression>
    </formulas>
    <interviewLabel>Account - Subflow - Ownership Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Subflow - Ownership Assignments</label>
    <loops>
        <name>Loop_Through_Child_Accounts</name>
        <label>Loop Through Child Accounts</label>
        <locationX>2855</locationX>
        <locationY>3440</locationY>
        <collectionReference>Get_Child_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Ownerships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Billing_Upsell_Opp</name>
        <label>Get Billing Upsell Opp</label>
        <locationX>3416</locationX>
        <locationY>2540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Account_Has_a_Billing_Upsell_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Billing_Upsell_Opportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Group_Member</name>
        <label>Get Group Member</label>
        <locationX>1458</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_SaaS_Owner_Exist_in_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.SaaS_Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_2_of_Get_SaaSGovEntTeam_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_SaaSGovEntTeam_Group</name>
        <label>Get SaaSSMBTeam Group</label>
        <locationX>1458</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Get_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SaaSSMBTeam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_Get_Group_Member</name>
        <label>Get Group Member</label>
        <locationX>2074</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_SaaS_Owner_Exist_in_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.SaaS_Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_3_of_Get_SaaSGovEntTeam_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_Get_SaaSGovEntTeam_Group</name>
        <label>Get SaaSGovEntTeam Group</label>
        <locationX>2074</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Get_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SaaSGovEntTeam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets account associates with the record id</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1612</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Queue_user</name>
        <label>Get Account Queue user</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_SaaS_Onwer_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_accounts_shared_Org_UUID</name>
        <label>Get accounts shared Org UUID</label>
        <locationX>3570</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_multi_site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bw_Organization_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.bw_Organization_UUID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>bw_Organization_UUID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varR_colALLaccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>bw_Organization_UUID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get child accounts related to this account</description>
        <name>Get_Child_Accounts</name>
        <label>Get Child Accounts</label>
        <locationX>2987</locationX>
        <locationY>3224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Accounts_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SaaS_Owner__c</queriedFields>
        <queriedFields>Education_Owner__c</queriedFields>
        <queriedFields>Billing_Upsell_Owner__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Looks if an Experience Curriculum opportunity was just created.</description>
        <name>Get_EC_Opportunities_on_Account</name>
        <label>Get EC Opportunities on Account</label>
        <locationX>2987</locationX>
        <locationY>2024</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skip_Education_Owner_Assignment_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Experience Curriculum</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>forDT_NowMinus5Minutes</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Label.Account_Queue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get SaaSGovEntTeam Group</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SaaSGovEntTeam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Member</name>
        <label>Get Group Member</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SaaS_Owner_Exist_in_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.SaaS_Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_other_accounts_with_saas_owner</name>
        <label>Get other accounts with saas owner</label>
        <locationX>3416</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>saas_owner_exists_on_another_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bw_Organization_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrgUUID</elementReference>
            </value>
        </filters>
        <filters>
            <field>SaaS_Owner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_Premium_ECE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Education_Owner_on_Account</name>
        <label>Assign Education Owner on Account</label>
        <locationX>3075</locationX>
        <locationY>2240</locationY>
        <connector>
            <targetReference>Account_Billing_Upsell_Owner_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Education_Owner__c</field>
            <value>
                <elementReference>Get_EC_Opportunities_on_Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Accounts</name>
        <label>Update Related Accounts</label>
        <locationX>2855</locationX>
        <locationY>3740</locationY>
        <inputReference>varR_ChildAccountsCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SaaS_Owner_to_match</name>
        <label>Update SaaS Owner to match</label>
        <locationX>3284</locationX>
        <locationY>1214</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_EC_Opportunities_on_Account</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1486</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_With_Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_WITHOUT_Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varOrgUUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_ChildAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_ChildAccountsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_colALLaccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varT_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
