force-app/main/default/flows/Account_After_Save_Async_EDU_Owner_UPDATE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_a_parent_account</name>
        <label>Is a parent account?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_EDU_Owner_Subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Calls subflow: Account - Subflow - Update Child Account(s) EDU Owner to match Parent when an account EDU owner is updated and is a parent account</description>
    <environments>Default</environments>
    <interviewLabel>Account - After Save Async - EDU Owner UPDATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - After Save - EDU Owner UPDATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Accounts</name>
        <label>Get Child Accounts</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_a_parent_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Education_Owner__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0053u0000035xeBAAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Education_Owner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Education_Owner__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>launches subflow that updates all child account(s) with the same edu owner as the parent</description>
        <name>Launch_EDU_Owner_Subflow</name>
        <label>Launch EDU Owner Subflow</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <flowName>Account_Subflow_Update_Child_Account_s_EDU_Owner_to_match_Parent</flowName>
        <inputAssignments>
            <name>AccountRecordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
