force-app/main/default/flows/Account_Mismatched_School_UUID_Cleanup_AM_2_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_School_Object</name>
        <label>Assign School Object</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>$Record.School_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSchoolObject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LOGIC_UUID_updated_by_flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Text_UUID</name>
        <label>Assign Text UUID</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>$Record.Brightwheel_School_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.School_Object__r.Brightwheel_School_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LOGIC_UUID_updated_by_flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPremSchool</name>
        <label>AssignPremSchool</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>$Record.School_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_GetBestUUID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LOGIC_UUID_updated_by_flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blank_UUID_Field</name>
        <label>Blank UUID Field?</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Text_UUID_Field_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brightwheel_School_UUID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Text_UUID</targetReference>
            </connector>
            <label>Text UUID Field Blank</label>
        </rules>
        <rules>
            <name>School_Object_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brightwheel_School_UUID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSchoolObject</targetReference>
            </connector>
            <label>School Object Blank</label>
        </rules>
        <rules>
            <name>Free_School_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brightwheel_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Free</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brightwheel_School_UUID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brightwheel_School_UUID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.bw_School_UUID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPremiumSchoolObject</targetReference>
            </connector>
            <label>Free School Object</label>
        </rules>
    </decisions>
    <description>08/28/23 - Created this flow by cloning existing &apos;Account - Mismatched School UUID Cleanup - PM (1/2)&apos; .

NOTE: THIS FLOW HAS A AFTERNOON CLONE. CHANGES TO THIS FLOW MUST BE MIRRORED IN THE AFTERNOON VERSION.</description>
    <environments>Default</environments>
    <formulas>
        <description>This comparison checks the school objects associated with Brightwheel School UUID and bw Organization UUID. If only one of the schools has a Premium plan, it returns the id of that school. If both schools have Premium plans, it returns the id of the school that was created first. If both are on a free plan, it returns the id of the school that was created most recently.</description>
        <name>forT_GetBestUUID</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(
    ISPICKVAL({!$Record.School_Object__r.Brightwheel_Plan__c}, &quot;Premium&quot;),
    ISPICKVAL({!GetPremiumSchoolObject.Brightwheel_Plan__c}, &quot;Free&quot;)
  ),
  {!$Record.School_Object__r.Id},
  IF(
    AND(
      ISPICKVAL({!GetPremiumSchoolObject.Brightwheel_Plan__c}, &quot;Premium&quot;),
      ISPICKVAL({!$Record.School_Object__r.Brightwheel_Plan__c}, &quot;Free&quot;)
    ),
    {!GetPremiumSchoolObject.Id},
    IF(
      AND(
        ISPICKVAL({!$Record.School_Object__r.Brightwheel_Plan__c}, &quot;Premium&quot;),
        ISPICKVAL({!GetPremiumSchoolObject.Brightwheel_Plan__c}, &quot;Premium&quot;)
      ),
      IF(
        {!$Record.School_Object__r.CreatedDate} &lt; {!GetPremiumSchoolObject.CreatedDate},
        {!$Record.School_Object__r.Id},
         {!GetPremiumSchoolObject.Id}
      ),
      IF(
        AND(
          ISPICKVAL({!$Record.School_Object__r.Brightwheel_Plan__c}, &quot;Free&quot;),
          ISPICKVAL({!GetPremiumSchoolObject.Brightwheel_Plan__c}, &quot;Free&quot;)
        ),
         {!GetPremiumSchoolObject.Id},
        &quot;&quot;
      )
    )
  )
)</expression>
    </formulas>
    <interviewLabel>Account - Mismatched School UUID Cleanup - AM (2/2) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Mismatched School UUID Cleanup - AM (2/2)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPremiumSchoolObject</name>
        <label>GetPremiumSchoolObject</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignPremSchool</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brightwheel_School_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Brightwheel_School_UUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>School_Object__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Brightwheel_Plan__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSchoolObject</name>
        <label>GetSchoolObject</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_School_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brightwheel_School_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Brightwheel_School_UUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>School_Object__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>446</locationX>
        <locationY>660</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Blank_UUID_Field</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR (3 AND 4) OR (5 AND 6 AND 7 AND 8)) AND 9 AND 10</filterLogic>
        <filters>
            <field>School_Object__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Brightwheel_School_UUID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>School_Object__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Brightwheel_School_UUID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Brightwheel_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </filters>
        <filters>
            <field>Brightwheel_School_UUID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>bw_School_UUID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Matching_UUIDs__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-29</startDate>
            <startTime>05:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
