force-app/main/default/flows/Account_Cadence_EDU_Exit_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Add Contact to Add the Tag to Remove</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loop_over_colcontacts.Cadence_Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollContactToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_colcontacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_colcontacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contacts_found</name>
        <label>Contacts found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contacts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_colcontacts</targetReference>
            </connector>
            <label>Yes Contacts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Contact_in_an_Cadence_as_Active</name>
        <label>Is the Contact in an Cadence as Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCadenceTrackerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCadenceTrackerId.ActionCadence.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>EDU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>Yes - Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - Cadence {EDU} Exit - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Cadence {EDU} Exit - After Save</label>
    <loops>
        <name>loop_over_colcontacts</name>
        <label>loop over colcontacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Active_Cadence_Tracker</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts_to_Remove_with_Tag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Cadence_Tracker</name>
        <label>Get Active Cadence Tracker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Contact_in_an_Cadence_as_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_over_colcontacts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <object>ActionCadenceTracker</object>
        <outputReference>varCadenceTrackerId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CompletionDisposition</queriedFields>
        <queriedFields>ActionCadenceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get All Related Contacts ( Collection Variables )</description>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts_to_Remove_with_Tag</name>
        <label>Update Contacts to Remove with Tag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varCollContactToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EEL_Customer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EEL_Customer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled Customer</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCadenceTrackerId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ActionCadenceTracker</objectType>
    </variables>
    <variables>
        <name>varCollContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
