force-app/main/default/flows/Account_After_Save_Update_Fields_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>Oops! The updates you made didn&apos;t sync with the related Combined Funnel. Could you manually update them there as well? Also, please drop us a Zendesk ticket to report this error. Thank you!</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Combined_Funnel_Found</name>
        <label>Combined Funnel Found?</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CombinedFunnelFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Combined_Funnel.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Combined_Funnel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Combined_Funnel_Update</name>
        <label>Need Combined Funnel Update?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NeedCombinedFunnelUpdate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand_New_Program__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Setup_Call_Path__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SaaS_Onboarding_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Onboarding_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Open_and_Operating_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Information_Currently_Stored__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SaaS_Next_Steps__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Combined_Funnel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>PE - Flow created to keep fields on the Account in sync with their counterpart on other objects. (Revenue.io Implementation Project)</description>
    <environments>Default</environments>
    <formulas>
        <name>forD_CombinedFunnel_OpenAndOperatingDate</name>
        <dataType>Date</dataType>
        <expression>IF(
ISCHANGED({!$Record.Open_and_Operating_Date__c}),
{!$Record.Open_and_Operating_Date__c},
{!Get_Combined_Funnel.Open_and_Operating_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>forT_CombinedFunnel_BillingOnboardingStatus</name>
        <dataType>String</dataType>
        <expression>IF(
ISCHANGED({!$Record.Billing_Onboarding_Status__c}),
TEXT({!$Record.Billing_Onboarding_Status__c}),
TEXT({!Get_Combined_Funnel.Billing_Onboarding_Status__c})
)</expression>
    </formulas>
    <formulas>
        <name>forT_CombinedFunnel_BrandNewProgram</name>
        <dataType>String</dataType>
        <expression>IF(
ISCHANGED({!$Record.Brand_New_Program__c}),
TEXT({!$Record.Brand_New_Program__c}),
TEXT({!Get_Combined_Funnel.Brand_New_Program__c})
)</expression>
    </formulas>
    <formulas>
        <name>forT_CombinedFunnel_NextSteps</name>
        <dataType>String</dataType>
        <expression>IF(
ISCHANGED({!$Record.SaaS_Next_Steps__c}),
{!$Record.SaaS_Next_Steps__c},
{!Get_Combined_Funnel.SaaS_Next_Steps__c}
)</expression>
    </formulas>
    <formulas>
        <name>forT_CombinedFunnel_OnboardingPath</name>
        <dataType>String</dataType>
        <expression>IF(
ISCHANGED({!$Record.Onboarding_Setup_Call_Path__c}),
TEXT({!$Record.Onboarding_Setup_Call_Path__c}),
TEXT({!Get_Combined_Funnel.Onboarding_Path__c})
)</expression>
    </formulas>
    <formulas>
        <name>forT_CombinedFunnel_SaaSOnboardingStatus</name>
        <dataType>String</dataType>
        <expression>IF(
ISCHANGED({!$Record.SaaS_Onboarding_Status__c}),
TEXT({!$Record.SaaS_Onboarding_Status__c}),
TEXT({!Get_Combined_Funnel.SaaS_Onboarding_Status__c})
)</expression>
    </formulas>
    <formulas>
        <name>forT_CombinedFunnel_StudentInformation_Currently_Stored</name>
        <dataType>String</dataType>
        <expression>IF(
ISCHANGED({!$Record.Student_Information_Currently_Stored__c}),
TEXT({!$Record.Student_Information_Currently_Stored__c}),
TEXT({!Get_Combined_Funnel.Student_Information_Currently_Stored__c})
)</expression>
    </formulas>
    <interviewLabel>Account - After Save - Update - Fields Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - After Save - Update - Fields Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Combined_Funnel</name>
        <label>Get Combined Funnel</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Combined_Funnel_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Combined_Funnel__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Brand_New_Program__c</queriedFields>
        <queriedFields>Onboarding_Path__c</queriedFields>
        <queriedFields>SaaS_Onboarding_Status__c</queriedFields>
        <queriedFields>Billing_Onboarding_Status__c</queriedFields>
        <queriedFields>Open_and_Operating_Date__c</queriedFields>
        <queriedFields>Student_Information_Currently_Stored__c</queriedFields>
        <queriedFields>SaaS_Next_Steps__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Combined_Funnel</name>
        <label>Update Combined Funnel</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Onboarding_Status__c</field>
            <value>
                <elementReference>forT_CombinedFunnel_BillingOnboardingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>forT_CombinedFunnel_BrandNewProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Path__c</field>
            <value>
                <elementReference>forT_CombinedFunnel_OnboardingPath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>forD_CombinedFunnel_OpenAndOperatingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Next_Steps__c</field>
            <value>
                <elementReference>forT_CombinedFunnel_NextSteps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Status__c</field>
            <value>
                <elementReference>forT_CombinedFunnel_SaaSOnboardingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Information_Currently_Stored__c</field>
            <value>
                <elementReference>forT_CombinedFunnel_StudentInformation_Currently_Stored</elementReference>
            </value>
        </inputAssignments>
        <object>Combined_Funnel__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Need_Combined_Funnel_Update</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Brand_New_Program__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Setup_Call_Path__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SaaS_Onboarding_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Onboarding_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Open_and_Operating_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Student_Information_Currently_Stored__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SaaS_Next_Steps__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
