force-app/main/default/flows/Account_Scheduled_Expired_Coupon_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact_Id_Admin</name>
        <label>Assign Contact Id Admin</label>
        <locationX>534</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>varT_AdminId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Id_Admin_No_Billing</name>
        <label>Assign Contact Id Admin No Billing</label>
        <locationX>798</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>varT_AdminNoBillingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Id_Lead_Teacher</name>
        <label>Assign Contact Id Lead Teacher</label>
        <locationX>1062</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>varT_LeadTeacherId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Id_Super_Admin</name>
        <label>Assign Contact Id Super Admin</label>
        <locationX>270</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>varT_SuperAdminId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Admin</name>
        <label>Admin</label>
        <locationX>765</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Admin_No_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Contacts.User_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Id_Admin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Admin_No_Billing</name>
        <label>Admin No Billing</label>
        <locationX>996</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Lead_Teacher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Admin_No_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Contacts.User_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>admin_no_billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Id_Admin_No_Billing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Contact</name>
        <label>Assign Contact?</label>
        <locationX>182</locationX>
        <locationY>1836</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Assign_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forT_BestContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_1_Minute</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Teacher</name>
        <label>Lead Teacher</label>
        <locationX>1194</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Teacher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Contacts.User_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>lead_teacher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Id_Lead_Teacher</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Account_Assignment</name>
        <label>Needs Account Assignment?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Run_Account_Ownership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Needs_Account_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SaaS_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SaaS_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_From_Account</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Super_Admin</name>
        <label>Super Admin</label>
        <locationX>517</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Super_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Contacts.User_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>super_admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Id_Super_Admin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create Proactive Engagement cases on accounts where the date on the field &quot;Current Coupon End&quot; is in 30 days, if the account meets the criteria.
10/01/24 - PE - Tweaked flow for performance.</description>
    <environments>Default</environments>
    <formulas>
        <name>forD_30DaysFromToday</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Current_Coupon_End_Date__c} - 30</expression>
    </formulas>
    <formulas>
        <name>forT_AdminTag</name>
        <dataType>String</dataType>
        <expression>&quot;Case automatically created when the Current Coupon End Date on the account is 30 days from today.&quot;</expression>
    </formulas>
    <formulas>
        <name>forT_BestContactId</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!varT_SuperAdminId})),
{!varT_SuperAdminId},
IF(
NOT(ISBLANK({!varT_AdminId})),
{!varT_AdminId},
IF(
NOT(ISBLANK({!varT_AdminNoBillingId})),
{!varT_AdminNoBillingId},
IF(
NOT(ISBLANK({!varT_LeadTeacherId})),
{!varT_LeadTeacherId},
&quot;&quot;

)
)
)
)</expression>
    </formulas>
    <interviewLabel>Account - Scheduled - Expired Coupon Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Scheduled - Expired Coupon Cases</label>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>182</locationX>
        <locationY>660</locationY>
        <collectionReference>Get_Contacts_From_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Super_Admin</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Risk_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Risk_Case</name>
        <label>Create Risk Case</label>
        <locationX>182</locationX>
        <locationY>1728</locationY>
        <connector>
            <targetReference>Assign_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Admin_Tag__c</field>
            <value>
                <elementReference>forT_AdminTag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Subject__c</field>
            <value>
                <stringValue>At-Risk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Coupon Expiration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.SaaS_Owner__r.User_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123u000000ivhsAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Coupon Risk</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts_From_Account</name>
        <label>Get Contacts From Account</label>
        <locationX>182</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>User_Role__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inactive_School_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>User_Role__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Tag_Contact_to_New_Case</name>
        <label>Tag Contact to New Case</label>
        <locationX>50</locationX>
        <locationY>2052</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Risk_Case</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>forT_BestContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Needs_Account_Assignment</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>Current_Coupon__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>100</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Coupon__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SALES</stringValue>
            </value>
        </filters>
        <filters>
            <field>Coupon_Expires_In_30_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_Premium_ECE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Combined_Activation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SaaS Only Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Combined_Activation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fully Activated</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-30</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Account_Ownership</name>
        <label>Run Account Ownership</label>
        <locationX>270</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Get_Contacts_From_Account</targetReference>
        </connector>
        <flowName>Account_Subflow_Ownership_Assignments</flowName>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varT_AdminId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_AdminNoBillingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_LeadTeacherId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_SuperAdminId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <description>Adding a wait element to delay the addition of the contact to the case. This ensures that any other automation, such as triggers or flows that execute upon case creation, have time to complete first. If we attempt to add the contact immediately, it may result in a LimitException due to concurrent processes running simultaneously.</description>
        <name>Wait_1_Minute</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 1 Minute</label>
        <locationX>50</locationX>
        <locationY>1944</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Tag_Contact_to_New_Case</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
