force-app/main/default/flows/Accounts_Scheduled_Billing_Activation_Start_Date_Population.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Continue_to_get_CW_Opp</name>
        <label>Continue to get CW Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Bad Data</defaultConnectorLabel>
        <rules>
            <name>Good_Data</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Object.Billing_Setting_Up_Bills_Stage_Met_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_Rate_Uploaded_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SaaS_CW_Opp</targetReference>
            </connector>
            <label>Good Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Most_Recent_CW_Opp_decision</name>
        <label>Most Recent CW Opp decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Found_Most_Recent_CW_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gov_CW_Opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_School_Object.Billing_Submit_Verify_Stage_Met_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Activation_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_Payer_Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government Payer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BASD_on_Account_from_Gov</targetReference>
            </connector>
            <label>Found Most Recent CW Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_School_Object_decision</name>
        <label>Found School Object decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Need</defaultConnectorLabel>
        <rules>
            <name>Found_School_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Continue_to_get_CW_Opp</targetReference>
            </connector>
            <label>Found School Object</label>
        </rules>
    </decisions>
    <decisions>
        <name>Most_Recent_CW_Opp_decision</name>
        <label>Most Recent CW Opp decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Gov_CW_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Most_Recent_CW_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SaaS_CW_Opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SaaS_CW_Opp.Billing_Status_at_CW__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opted In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SaaS_CW_Opp.Billing_Opt_Out_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BASD_on_Account</targetReference>
            </connector>
            <label>Found Most Recent CW Opp</label>
        </rules>
    </decisions>
    <description>Scheduled job to catch any accounts that are missing the Billing Activation Start Date after Opp CW
AC - 02/13/26 - Modifying the logic with which BASD gets stamped on Government accounts.</description>
    <environments>Default</environments>
    <interviewLabel>Accounts - Scheduled - Billing Activation Start Date Population {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accounts - Scheduled - Billing Activation Start Date Population</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Gov_CW_Opp</name>
        <label>Get Gov CW Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Most_Recent_CW_Opp_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Most_Recent_Gov_CW_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SaaS_CW_Opp</name>
        <label>Get SaaS CW Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Most_Recent_CW_Opp_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Most_Recent_SaaS_CW_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_School_Object</name>
        <label>Get School Object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_School_Object_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Object__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>School_Object__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BASD_on_Account</name>
        <label>Update BASD on Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Billing_Activation_Start_Date__c</field>
            <value>
                <elementReference>Get_SaaS_CW_Opp.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BASD_on_Account_from_Gov</name>
        <label>Update BASD on Account from Gov</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Billing_Activation_Start_Date__c</field>
            <value>
                <elementReference>Get_School_Object.Billing_Submit_Verify_Stage_Met_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_School_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Activation_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Onboarding_Eligible_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SaaS_Onboarding_Eligible_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Brand_New_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bill_Rate_Uploaded_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Source_of_Most_Recent_SaaS_CW__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2025-08-13</startDate>
            <startTime>14:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
