force-app/main/default/flows/Billing_Activation_Funnel_Movement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_to_Auto_Resolved_SalesResell</name>
        <label>Set to Auto Resolved</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases_SalesResell.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto-Resolved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Cases_SalesResell</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases_SalesResell.Admin_Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_PriorStageVSCurrentStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases_SalesResell</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists</label>
        <locationX>765</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Acct_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_In_Progress_Billing_Onboarding</targetReference>
            </connector>
            <label>Yes Acct Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Sales_or_Upsell_Resell_Cases_Open</name>
        <label>Any Sales or Upsell Resell Cases Open?</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Was_OBE_or_Activation_Date_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Any_Sales_or_Upsell_Resell_Cases_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Sales_or_Upsell_Resell_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Cases_SalesResell</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Onboarding_Exists</name>
        <label>Billing Onboarding Exists</label>
        <locationX>501</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Was_OBE_or_Activation_Date_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Billing_Onboarding_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_In_Progress_Billing_Onboarding</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Funnel_Stage</targetReference>
            </connector>
            <label>Yes Billing Onboarding Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Funnel_Stage_Updated_Out_From_Submitting_Verification</name>
        <label>Funnel Stage Updated Out From Submitting Verification?</label>
        <locationX>336</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Was_OBE_or_Activation_Date_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Funnel_Stage_Updated_Out_From_Submitting_Verification</name>
            <conditionLogic>10 AND ((1 OR 2 OR 3) AND (4 OR 5 OR 6 OR 7 OR 8 OR 9))</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_Activation_Funnel_Stage_2024__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adding Students</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_Activation_Funnel_Stage_2024__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Setting Up Bills</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_Activation_Funnel_Stage_2024__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitting Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Activation_Funnel_Stage_2024__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completing Bill Set-Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Activation_Funnel_Stage_2024__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalizing Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Activation_Funnel_Stage_2024__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adding Payers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Activation_Funnel_Stage_2024__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sending Bills</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Activation_Funnel_Stage_2024__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Receiving Online Payments</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Activation_Funnel_Stage_2024__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Activation_Funnel_Stage_2024__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Sales_or_Upsell_Resell_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Billing Onboarding Eligible Date is populated, we want to capture the AE Owner to the Account&apos;s Billing OBE AE Date. If Billing Activation date is populated, then populate Billing Activation AE Owner ID field.</description>
        <name>Was_OBE_or_Activation_Date_Populated</name>
        <label>Was OBE or Activation Date Populated ?</label>
        <locationX>501</locationX>
        <locationY>1847</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Onboarding_Eligible_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Onboarding_Eligible_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Onboarding_Eligible_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Billing_OBE_AE_Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_Onboarding_Eligible_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Billing_OBE_AE_ID</targetReference>
            </connector>
            <label>Billing Onboarding Eligible Date</label>
        </rules>
        <rules>
            <name>Billing_Activation_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Activation_Date_2024__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Activation_Date_2024__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Billing_Activation_AE_Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_Activation_Date_2024__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Billing_Activation_AE_ID</targetReference>
            </connector>
            <label>Billing Activation Date</label>
        </rules>
    </decisions>
    <description>06/18/2024 - PE - Mapped new fields to be populated on the onboarding record.
07/09/24 - PE - Created asynchronous path to update Billing Retention cases if the billing onboarding stage is updated to a value higher than &quot;Submitting Verification&quot;.
07/11/24 - PE Removed logic to only find Onboarding Record where Billing Activation Date is null
07/16/24 - PE - Updated entry criteria to formula so the flow is fired when a new school object is created
07/23/24 - PE - Updated decision node to only loop through cases if previous Billing Onboarding Funnel Stage value was less than or equal 3.
08/01/24 - PE - Added the old fields to trigger the automation
05.21.2025 - LK - LK - Added Logic to update Account fields - Billing OBE AE Owner or Billing Activation AE Owner when OBE Dates or Activation dates are updated.</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_PriorStageVSCurrentStage</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.Billing_Activation_Funnel_Stage_2024__c}) &amp; TEXT({!$Record.Billing_Activation_Funnel_Stage_2024__c})</expression>
    </formulas>
    <formulas>
        <name>SaaSFunnelStartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.SaaS_Funnel_Start_Date__c})+1</expression>
    </formulas>
    <interviewLabel>Billing Activation Funnel Movement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Activation Funnel Movement</label>
    <loops>
        <name>Loop_Through_Cases_SalesResell</name>
        <label>Loop Through Cases</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <collectionReference>Get_Open_Sales_or_Upsell_Resell_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_to_Auto_Resolved_SalesResell</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Open_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>765</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>School_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Billing_OBE_AE_Owner_ID__c</queriedFields>
        <queriedFields>Billing_Activation_AE_Owner_ID__c</queriedFields>
        <queriedFields>AE_Owner__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_In_Progress_Billing_Onboarding</name>
        <label>Get In-Progress Billing Onboarding</label>
        <locationX>501</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Onboarding_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Opted Out</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121I000000OGlsQAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Sales_or_Upsell_Resell_Cases</name>
        <label>Get Open Sales or Upsell Resell Cases</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Sales_or_Upsell_Resell_Cases_Open</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales: Resell</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upsell: Resell</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Billing_Activation_AE_ID</name>
        <label>Update Account Billing Activation AE ID</label>
        <locationX>501</locationX>
        <locationY>1955</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Activation_AE_Owner_ID__c</field>
            <value>
                <elementReference>Get_Account.AE_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Billing_OBE_AE_ID</name>
        <label>Update Account Billing OBE AE ID</label>
        <locationX>237</locationX>
        <locationY>1955</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_OBE_AE_Owner_ID__c</field>
            <value>
                <elementReference>Get_Account.AE_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Funnel_Stage</name>
        <label>Update Funnel Stage</label>
        <locationX>336</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Funnel_Stage_Updated_Out_From_Submitting_Verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_In_Progress_Billing_Onboarding.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Activation_Date_Stamp__c</field>
            <value>
                <elementReference>$Record.Billing_Activation_Date_2024__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Adding_Payers_Stage_Met_Date__c</field>
            <value>
                <elementReference>$Record.Billing_Adding_Payers_Stage_Met_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Adding_Students_Stage_Met_Date__c</field>
            <value>
                <elementReference>$Record.Billing_Adding_Students_Stage_Met_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Complete_Set_Up_Stage_Met_Date__c</field>
            <value>
                <elementReference>$Record.Billing_Complete_Set_Up_Stage_Met_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_FinalVerification_Stage_Met_Date__c</field>
            <value>
                <elementReference>$Record.Billing_FinalVerification_Stage_Met_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Launch_Date_Stamp__c</field>
            <value>
                <elementReference>$Record.Billing_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Online_Payments_Stage_Met_Date__c</field>
            <value>
                <elementReference>$Record.Billing_Online_Payments_Stage_Met_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Sending_Bills_Stage_Met_Date__c</field>
            <value>
                <elementReference>$Record.Billing_Sending_Bills_Stage_Met_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Setting_Up_Bills_Stage_Met_Date__c</field>
            <value>
                <elementReference>$Record.Billing_Setting_Up_Bills_Stage_Met_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Submit_Verify_Stage_Met_Date__c</field>
            <value>
                <elementReference>$Record.Billing_Submit_Verify_Stage_Met_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Verified_Date_Stamp__c</field>
            <value>
                <elementReference>$Record.Verification_Verified_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complete_Setup_Threshold_Stamp__c</field>
            <value>
                <elementReference>$Record.Complete_Setup_Threshold_Met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funnel_Stage_Changed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funnel_Stage__c</field>
            <value>
                <elementReference>$Record.Billing_Activation_Funnel_Stage_2024__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NEW_Billing_Activation_Funnel_Value__c</field>
            <value>
                <elementReference>$Record.Billing_Activation_Funnel_Value_2024__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parents_Add_Pay_Method_Threshold_Stamp__c</field>
            <value>
                <elementReference>$Record.Parents_Add_Payment_Method_Threshold_Met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parents_Pay_Online_Threshold_Stamp__c</field>
            <value>
                <elementReference>$Record.Parents_Pay_Online_Threshold_Met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Bills_Threshold_Stamp__c</field>
            <value>
                <elementReference>$Record.Send_Bills_Threshold_Met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setup_Charges_Threshold_Stamp__c</field>
            <value>
                <elementReference>$Record.Setup_Charges_Threshold_Met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upload_Students_Threshold_Stamp__c</field>
            <value>
                <elementReference>$Record.Upload_Students_Threshold_Met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_Pending_Date_Stamp__c</field>
            <value>
                <elementReference>$Record.Verification_Pending_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_Started_Date_Stamp__c</field>
            <value>
                <elementReference>$Record.Verification_Started_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Open_Cases</name>
        <label>Update Open Cases</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Was_OBE_or_Activation_Date_Populated</targetReference>
        </connector>
        <inputReference>varR_CasesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>639</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterFormula>OR(
ISCHANGED({!$Record.Billing_Activation_Funnel_Stage_2024__c}),
ISCHANGED({!$Record.Billing_Activation_Funnel_Stage__c}),
ISCHANGED({!$Record.Billing_Activation_Date_2024__c}),
ISCHANGED({!$Record.Billing_Activation_Date__c}),
ISCHANGED({!$Record.Billing_Start_Date__c}),
ISCHANGED({!$Record.Billing_Onboarding_Eligible_Date__c}),
ISNEW() = True
)</filterFormula>
        <object>School_Object__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Get_Sales_Resell_Open_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varR_CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
