force-app/main/default/flows/Call_Me_Now_Task_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>For monitoring purpose - chatter post to confirm the whoid was changed by this flow, date/time and event that was found and whoid.</description>
        <name>ConfirmationPost_on_Task</name>
        <label>ConfirmationPost on Task</label>
        <locationX>1304</locationX>
        <locationY>984</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Call_Result_Disposition_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TextChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Lead_Status_Connected</name>
        <label>Lead Status = Connected</label>
        <locationX>842</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Connected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Status_Recycled</name>
        <label>Lead Status = Recycled</label>
        <locationX>50</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recycled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Times_Recycled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimesRecycled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Booking_Status_CP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.HS_Behavior_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.HS_Demographic_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.HS_HubSpot_Form_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Last_Recycled_or_Unqualified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Meeting_Type_CP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G1I000000XOJhUAO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.OMQ_return_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDatePlus90</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Reasons_to_Recycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecycleCaseStatement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Status_Unqualfied</name>
        <label>Lead Status = Unqualified</label>
        <locationX>314</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Unqualified_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Booking_Status_CP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.HS_Behavior_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.HS_Demographic_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.HS_HubSpot_Form_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Last_Recycled_or_Unqualified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Meeting_Type_CP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G1I000000WgI6UAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Status_Working</name>
        <label>Lead Status = Working</label>
        <locationX>578</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_from_Event.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Call_Result_Disposition_Check</name>
        <label>Call Result/Disposition Check</label>
        <locationX>1304</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>Call Result Not Populated</defaultConnectorLabel>
        <rules>
            <name>Call_Result_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_from_Event</targetReference>
            </connector>
            <label>Call Result Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_Result_Disposition_Decision</name>
        <label>Call Result/Disposition Decision</label>
        <locationX>578</locationX>
        <locationY>1416</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recycled_Other_Reasons</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disposition__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>REC -</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Status_Recycled</targetReference>
            </connector>
            <label>Recycled - Other Reasons</label>
        </rules>
        <rules>
            <name>Unqualified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disposition__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>UNQ -</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Status_Unqualfied</targetReference>
            </connector>
            <label>Unqualified</label>
        </rules>
        <rules>
            <name>Working_Stage</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_from_Event.LOGIC_Owned_by_queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NA -</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>OBS -</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Status_Working</targetReference>
            </connector>
            <label>Working Stage</label>
        </rules>
        <rules>
            <name>Connected_Stage</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_from_Event.LOGIC_Owned_by_queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CC -</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ISR -</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>EN -</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>EDU -</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Status_Connected</targetReference>
            </connector>
            <label>Connected Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Found</name>
        <label>Event Found?</label>
        <locationX>1304</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Get_Event_Try_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event Not Found</defaultConnectorLabel>
        <rules>
            <name>Event_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event_related_records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Related_To</targetReference>
            </connector>
            <label>Event Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>See if we found any event was found for that came from the autodialer router CP</description>
        <name>Event_Found_for_try_2</name>
        <label>Event Found for try 2?</label>
        <locationX>1502</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Event_Found_for_try_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Try_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_to_Related_To_autodailer</targetReference>
            </connector>
            <label>Outcome 1 of Event Found for try 2?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Lead</name>
        <label>Find Lead?</label>
        <locationX>974</locationX>
        <locationY>1308</locationY>
        <defaultConnectorLabel>Did Not Find Lead</defaultConnectorLabel>
        <rules>
            <name>Found_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_from_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Result_Disposition_Decision</targetReference>
            </connector>
            <label>Found Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDatePlus15</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+15</expression>
    </formulas>
    <formulas>
        <name>CurrentDatePlus90</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+90</expression>
    </formulas>
    <formulas>
        <name>EarliestStartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.CompletedDateTime})-({!$Record.CallDurationInSeconds}/1440)-30/1440</expression>
    </formulas>
    <formulas>
        <name>RecycleCaseStatement</name>
        <dataType>String</dataType>
        <expression>IF(
  CONTAINS(TEXT({!$Record.Disposition__c}), &apos;REC - Not Interested - COVID19&apos;), &apos;Recycled - COVID-19&apos;,
  IF(
    CONTAINS(TEXT({!$Record.Disposition__c}), &apos;REC - Not Interested - Feature / Product Limitation&apos;), &apos;Recycled - Features Request&apos;,
    IF(
      CONTAINS(TEXT({!$Record.Disposition__c}), &apos;REC - Not Interested - Not Ready Now&apos;), &apos;Recycled - Not Ready&apos;,
      IF(
        CONTAINS(TEXT({!$Record.Disposition__c}), &apos;REC - Not Interested - Price Too High&apos;), &apos;Recycled - No Budget&apos;,
        IF(
          CONTAINS(TEXT({!$Record.Disposition__c}), &apos;REC - Not Interested - Using Competitor&apos;), &apos;Recycled - Using Competitor&apos;,
          &apos;Recycled - Not Interested&apos;
        )
      )
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>TenMinAFTERTaskENDDATETIME</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Call_Completed_At__c} + ( 10/1440)</expression>
    </formulas>
    <formulas>
        <name>TenMinBeforeTaskENDDATETIME</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Call_Completed_At__c} - ( 10/1440)</expression>
    </formulas>
    <formulas>
        <name>TenMintuesAfterTaskCreatedDATETIME</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate} - ( 10/1440 )</expression>
    </formulas>
    <formulas>
        <name>TenMinutesBeforeTASkCreatedDATETIME</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate} - (10 /1440)</expression>
    </formulas>
    <formulas>
        <name>TimesRecycled</name>
        <dataType>Number</dataType>
        <expression>IF(OR(ISBLANK({!Get_Lead_from_Event.Times_Recycled__c}),{!Get_Lead_from_Event.Times_Recycled__c}=0),1,{!Get_Lead_from_Event.Times_Recycled__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Call Me Now - Task Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Me Now - Task Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Event_related_records</name>
        <label>Event - related records</label>
        <locationX>1304</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CompletedDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>EarliestStartTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Try to Find an Event that was created within 10 mins of the Task being Created OR Event where the End Date/Time is within 10mins of Task Completed AND Router is Autodial_Prod_Inbound_Router</description>
        <name>Get_Event_Try_2</name>
        <label>Get Event Try 2 - AutoDailer Only</label>
        <locationX>1502</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Found_for_try_2</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( ( 3 AND 4) OR ( 5 AND 6 ) )</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Router_Name_CP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Autodial_Prod_Inbound_Router</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TenMinutesBeforeTASkCreatedDATETIME</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TenMintuesAfterTaskCreatedDATETIME</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TenMinBeforeTaskENDDATETIME</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TenMinAFTERTaskENDDATETIME</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LK - 04.07.2025 - Connected Get Event Try 2 , so if no event is found the first try, and we find one with try 2, then we want to use either Id to get the Lead.</description>
        <name>Get_Lead_from_Event</name>
        <label>Get Lead from Event</label>
        <locationX>974</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Lead</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event_related_records.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event_Try_2.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>578</locationX>
        <locationY>1716</locationY>
        <inputReference>Get_Lead_from_Event</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Related_To</name>
        <label>Update Task - Related To</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>ConfirmationPost_on_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Event_related_records.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>When get Event Try 2 is not null - meaning we found an event, then we update the Task to the same Nameid</description>
        <name>Update_Task_to_Related_To_autodailer</name>
        <label>Update Task to Related To (autodailer)</label>
        <locationX>1370</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>ConfirmationPost_on_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Event_Try_2.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00QRd000005fQWjMAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Pause_10_mins</name>
            <connector>
                <targetReference>Event_related_records</targetReference>
            </connector>
            <label>Pause - 20 mins</label>
            <offsetNumber>20</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextChatterPost</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This Task was updated by automation: &lt;/p&gt;&lt;p&gt;on {!$Flow.CurrentDateTime}&lt;/p&gt;&lt;p&gt;Matched Event : {!Event_related_records.Id}  /  {!Get_Event_Try_2.Id}&lt;/p&gt;&lt;p&gt;Name was updated to : {!Event_related_records.WhoId} / {!Get_Event_Try_2.WhoId}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
