force-app/main/default/flows/Case_Update_OA_after_Saved_Fail_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Billing_Onboarding_Attempt_Status_to_In_progress</name>
        <label>Set Billing Onboarding Attempt Status to In progress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Billing_Onboarding_Attempts.Onboarding_Attempt_Status_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_SaaS_and_Billing_Onboarding_attempts_to_In_Progress</name>
        <label>Set SaaS and Billing Onboarding attempts to In Progress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Billing_Onboarding_Attempts.Onboarding_Attempt_Status_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_SaaS_Onboarding_Attempt.Onboarding_Attempt_Status_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_SaaS_Onboarding_Attempt_Status_to_In_progress</name>
        <label>Set SaaS Onboarding Attempt Status to In progress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_SaaS_Onboarding_Attempt.Onboarding_Attempt_Status_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>SaaS_Onboarding_Attempt_Found</name>
        <label>Onboarding Attempts Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Both_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SaaS_Onboarding_Attempt</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Billing_Onboarding_Attempts</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SaaS_and_Billing_Onboarding_attempts_to_In_Progress</targetReference>
            </connector>
            <label>Both Found</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SaaS_Onboarding_Attempt</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SaaS_Onboarding_Attempt_Status_to_In_progress</targetReference>
            </connector>
            <label>SaaS Onboarding Found</label>
        </rules>
        <rules>
            <name>Billing_Onboarding_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Billing_Onboarding_Attempts</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Onboarding_Attempt_Status_to_In_progress</targetReference>
            </connector>
            <label>Billing Onboarding Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case- Update OA after Saved Fail Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case- Update OA after Saved Fail Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SaaS_Onboarding_Attempt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Onboarding_Attempts</name>
        <label>Get Billing Onboarding Attempts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SaaS_Onboarding_Attempt_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OB_Attempt_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Attempt_Status_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Attempt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SaaS_Onboarding_Attempt</name>
        <label>Get SaaS Onboarding Attempt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Billing_Onboarding_Attempts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OB_Attempt_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SaaS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Attempt_Status_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Attempt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aN7yAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed Payment Case Not Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
