force-app/main/default/flows/Case_Update_Gov_Transfer_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Account_Saas_Owner</name>
        <label>Assign Account Saas Owner</label>
        <locationX>1018</locationX>
        <locationY>1763</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>SaaS_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>GovTransferCaseRR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Assign_to_SaasLargeTeam</name>
        <label>Assign to SaasLargeTeam</label>
        <locationX>490</locationX>
        <locationY>1763</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>SaaS_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>SaaSLargeTeam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Assign_to_SaasSMBTeam</name>
        <label>Assign to SaasSMBTeam</label>
        <locationX>754</locationX>
        <locationY>1763</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>SaaS_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>SaaSSMBTeam</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_ColUpdateGovLicAcc</name>
        <label>Add to ColUpdateGovLicAcc</label>
        <locationX>1282</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ColUpdateGovLicAcc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_Gov_Lic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Gov_Lic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_out_Related_Payer_Field_on_Gov_Lic</name>
        <label>Null out Related Payer Field on Gov Lic</label>
        <locationX>1282</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_all_Gov_Lic.Related_Payer_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_ColUpdateGovLicAcc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Clear_Related_Payer_and_Set_Original_Close_Date</name>
        <label>Update Account: Clear Related Payer and Set Original Close Date</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Related_Payer_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Original_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ClosedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Set_Related_Payer</name>
        <label>Update Account: Set Related Payer</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Related_Payer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Payer_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Set_Related_Payer_and_Gov_Close_Date</name>
        <label>Update Account: Set Related Payer and Gov Close Date</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Related_Payer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Payer_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Government_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ClosedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Gov_Licensee_found</name>
        <label>Any Gov Licensee found?</label>
        <locationX>1326</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gov_Lic_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Gov_Lic</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Status_Decision</name>
        <label>Closed Status Decision</label>
        <locationX>886</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transferred_to_Gov</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Payer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Set_Related_Payer_and_Gov_Close_Date</targetReference>
            </connector>
            <label>Transferred to Gov</label>
        </rules>
        <rules>
            <name>Saved_Self_Pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saved - Self Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Clear_Related_Payer_and_Set_Original_Close_Date</targetReference>
            </connector>
            <label>Saved - Self Pay</label>
        </rules>
        <rules>
            <name>Saved_Remained_on_Gov</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Saved_Remained_on_Gov</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Set_Related_Payer</targetReference>
            </connector>
            <label>Saved - Remained on Gov</label>
        </rules>
        <rules>
            <name>Closed_Request_to_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Request to Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cancelation_Case</targetReference>
            </connector>
            <label>Closed - Request to Cancel</label>
        </rules>
        <rules>
            <name>Cancel_Case_Type_Closed_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Cancel_Request_Case</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government Payer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gov_Lic_Accounts</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancel Case Type Closed - Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Large_Team_or_SMB_Team</name>
        <label>Large Team or SMB Team ?</label>
        <locationX>886</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Saas_Large_Team</name>
            <conditionLogic>( 1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Large</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multisite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saved - Self Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_SaasLargeTeam</targetReference>
            </connector>
            <label>Self Pay - Saas Large Team</label>
        </rules>
        <rules>
            <name>Saas_SMB_Team</name>
            <conditionLogic>( 1 OR 2 OR 3 ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Micro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Small</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saved - Self Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_SaasSMBTeam</targetReference>
            </connector>
            <label>Self Pay - Saas SMB Team</label>
        </rules>
        <rules>
            <name>Transferred_to_Gov_GovTransferRoundRobin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Gov</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Saas_Owner</targetReference>
            </connector>
            <label>Transferred to Gov - GovTransferRoundRobin</label>
        </rules>
    </decisions>
    <description>Handle all of the on update automations for Gov Transfer cases:
1) on close, determine if related payer should be added or removed from account, and update either the original close date or gove close date
2) if stage = request to cancel, create a cancellation case

06.30.2025 - LK - Assign Account Saas Owner based on the Close Status.
07.07.2025 - LK - Reorganize the flow - put the Roundrobin after Account update.</description>
    <environments>Default</environments>
    <formulas>
        <name>forTRelatedPayerId</name>
        <dataType>String</dataType>
        <expression>IF( NOT( ISNULL( {!$Record.Account.Related_Payer_Account__c} )), {!$Record.Account.Related_Payer_Account__c}, NULL)</expression>
    </formulas>
    <formulas>
        <name>forTSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Government Transfer Request Cancellation&quot;</expression>
    </formulas>
    <interviewLabel>Case - Update - Gov Transfer Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Update - Gov Transfer Handler</label>
    <loops>
        <name>Loop_through_all_Gov_Lic</name>
        <label>Loop through all Gov Lic</label>
        <locationX>1194</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Gov_Lic_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Null_out_Related_Payer_Field_on_Gov_Lic</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Gov_Lic_Accounts_with_Canceled_Related_Payer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cancelation_Case</name>
        <label>Create Cancelation Case</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Cancel_Request_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Payer_Account__c</field>
            <value>
                <elementReference>Get_Account.Related_Payer_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forTSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>886</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Status_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all Gov licensee accounts to remove the related payer.</description>
        <name>Get_Gov_Lic_Accounts</name>
        <label>Get Gov Lic Accounts</label>
        <locationX>1326</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Gov_Licensee_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Payer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>886</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Large_Team_or_SMB_Team</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Gov_Lic_Accounts_with_Canceled_Related_Payer</name>
        <label>Update Gov Lic Accounts with Canceled Related Payer</label>
        <locationX>1194</locationX>
        <locationY>1163</locationY>
        <inputReference>ColUpdateGovLicAcc</inputReference>
    </recordUpdates>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 OR 2 OR 3 OR 4 OR (  5 AND 6 AND 7)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transferred to Gov</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Saved - Self Pay</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Saved - Remained on Gov</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed - Request to Cancel</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aN7yAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Customer_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Government Payer</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ColUpdateGovLicAcc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
