force-app/main/default/flows/Case_Before_Save_Update_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found?</label>
        <locationX>446</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Look_For_Contact_Associated_With_User_NoAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AccountFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_For_User_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_For_Contact_Associated_With_User_AccountFound</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a case in the &quot;New&quot; status is assigned to a user that is not a group or a queue, then update the case status to &quot;Assigned&quot;</description>
        <name>Case_Reassigned_to_User</name>
        <label>Case Reassigned to User?</label>
        <locationX>1772</locationX>
        <locationY>2363</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Reassigned_to_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0053u0000035xeB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0051I000004HUjO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updade_Case_Status_to_Assigned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a contact was found.</description>
        <name>Contact_Found</name>
        <label>Contact Found?</label>
        <locationX>1293</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Phone_Number_Was_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Contact_Associated_With_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Account_and_Contact_ContactOnly</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Found_PhoneNumber</name>
        <label>Contact Found?</label>
        <locationX>1414</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Matched_Account_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Found_PhoneNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Contact_Associated_With_Phone_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Account_and_Contact_PhoneNumber</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>EC_Cancelation_Request</name>
        <label>EC Cancelation Request</label>
        <locationX>671</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Flag_Case_Wasn_t_Matched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ECCancelationRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EC Cancellation Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Placeholder_Account_and_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the email address was provided</description>
        <name>Email_Provided</name>
        <label>Email Provided?</label>
        <locationX>1383</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Phone_Number_Was_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_For_User_Object</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>For monitoring purposes, check if an account or contact was added to the case</description>
        <name>Matched_Account_Contact</name>
        <label>Matched Account / Contact?</label>
        <locationX>869</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Case_Reassigned_to_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Matched_Account_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EC_Cancelation_Request</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>If this is a new Cancelation Case, attempts to fill in the Contac and Account Fields.</description>
        <name>New_Case_Assign_Account_and_Contact</name>
        <label>New Case - Assign Account and Contact?</label>
        <locationX>1772</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Case_Reassigned_to_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Case_Assign_Account_and_Contact</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>forB_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelation_Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Provided</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the phone number was provided in the webform</description>
        <name>Phone_Number_Was_Provided</name>
        <label>Phone Number Was Provided?</label>
        <locationX>1568</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Matched_Account_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Phone_Number_Was_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_Contact_Associated_With_Phone_Number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Contact_Found_AccountFound</name>
        <label>User Contact Found?</label>
        <locationX>182</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Contact_Found_AccountFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_For_Contact_Associated_With_User_AccountFound.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Account_and_Contact</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Contact_Found_NoAccount</name>
        <label>User Contact Found?</label>
        <locationX>710</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Matched_Account_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Contact_Found_NoAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_For_Contact_Associated_With_User_AccountFound.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Contact</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Record_Found</name>
        <label>User Record Found</label>
        <locationX>869</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Look_for_Contact_Associated_With_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UserRecordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_For_User_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_For_User_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>- If a new cancelation request case is created, the flow tries to populate the account and contact related to it. Also, it fills in fields related to cancelation. 
- If any case in &quot;New&quot; status has its ownership updated to a non-queue user, then set the case status to &quot;Assigned&quot;.
04/17/24 - PE - Updated flow to try and match the case with a contact if it doesn&apos;t find a user. Also added node to try and match the phone number with a contact.
JH 4.23: removed decision node that looks at primary reason for holding back and and all the update paths/nodes where it sets the reason/cancellation reason (this was built in prod and overwritten in last updates so updating again and pushing to prod so its synced in both environ)
06/05/25 - PE - Added logic to reassign EC Cancel cases to placeholder records if no match is found</description>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>forT_CaseFlag</name>
        <dataType>String</dataType>
        <expression>&quot;PE - No account/contact match&quot;</expression>
    </formulas>
    <interviewLabel>Case - Before Save - Updat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Before Save - Update Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get contact associated with the email provided</description>
        <name>Look_for_Contact_Associated_With_Email</name>
        <label>Look for Contact Associated With Email</label>
        <locationX>1293</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>If a phone number was provided, try to find a contact with the same phone number.</description>
        <name>Look_for_Contact_Associated_With_Phone_Number</name>
        <label>Look for Contact Associated With Phone Number</label>
        <locationX>1414</locationX>
        <locationY>1043</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found_PhoneNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Looks for a contact associated with the user object.</description>
        <name>Look_For_Contact_Associated_With_User_AccountFound</name>
        <label>Look For Contact Associated With User</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Contact_Found_AccountFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_For_User_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>User_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_For_User_Object.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Looks for a contact associated with the user object.</description>
        <name>Look_For_Contact_Associated_With_User_NoAccount</name>
        <label>Look For Contact Associated With User</label>
        <locationX>710</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Contact_Found_NoAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_For_User_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>User_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_For_User_Object.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Looks for account associated with user.</description>
        <name>Look_For_User_Account</name>
        <label>Look For User Account</label>
        <locationX>446</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>School_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_For_User_Object.School_Object__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Looks for a not archived user object associated with the provided email address.</description>
        <name>Look_For_User_Object</name>
        <label>Look For User Object</label>
        <locationX>869</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>is_archive_ready__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Object__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>School_Object__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Placeholder_Account_and_Contact</name>
        <label>Assign Placeholder Account and Contact</label>
        <locationX>539</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Case_Reassigned_to_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>001PB00000Np7S9YAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue>003PB00000NYFQuYAP</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>For monitor purposes, flag that the case wasn&apos;t matched to any account / contact</description>
        <name>Flag_Case_Wasn_t_Matched</name>
        <label>Flag Case Wasn&apos;t Matched</label>
        <locationX>803</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Case_Reassigned_to_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Admin_Tag__c</field>
            <value>
                <elementReference>forT_CaseFlag</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updade_Case_Status_to_Assigned</name>
        <label>Updade Case Status to Assigned</label>
        <locationX>1640</locationX>
        <locationY>2471</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Account</name>
        <label>Update Case Account</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Matched_Account_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_For_User_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Account_and_Contact</name>
        <label>Update Case Account and Contact</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Matched_Account_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_For_User_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Look_For_Contact_Associated_With_User_AccountFound.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Account_and_Contact_ContactOnly</name>
        <label>Update Case Account and Contact</label>
        <locationX>1018</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Matched_Account_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_for_Contact_Associated_With_Email.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Look_for_Contact_Associated_With_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Account_and_Contact_PhoneNumber</name>
        <label>Update Case Account and Contact</label>
        <locationX>1282</locationX>
        <locationY>1259</locationY>
        <connector>
            <targetReference>Matched_Account_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_for_Contact_Associated_With_Phone_Number.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Look_for_Contact_Associated_With_Phone_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Contact</name>
        <label>Update Case Contact</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Matched_Account_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Look_For_Contact_Associated_With_User_NoAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1646</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Case_Assign_Account_and_Contact</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
