force-app/main/default/flows/CF_After_Save_OBS_Handoff_Issue_Flagged_Slack_AE_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends a message to the AE&apos;s manager</description>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>479</locationX>
        <locationY>762</locationY>
        <actionName>PostSlackMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Last_Issue_Update_Datestamp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>$Record.Account__r.AE_Owner__r.Manager.Slack_user_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>SlackMessageText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <stringValue>xoxb-4837365695-992742781238-Ff5IoJWIuI3KsAlRX2Np5lzO</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PostSlackMessage</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks to make sure there is an AE Owner on the Account before trying to get the manager&apos;s Slack ID</description>
        <name>Check_AE_Owner</name>
        <label>Check AE Owner</label>
        <locationX>767</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Last_Issue_Update_Datestamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AE_Owner_Present_and_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AE_Owner_From_The_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_AE_Owner_From_The_Account.AE_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_AE_Owner_From_The_Account.AE_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_List_Updated</targetReference>
            </connector>
            <label>AE Owner Present and Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the OB Handoff picklist has been updated to contain more values</description>
        <name>Is_List_Updated</name>
        <label>Is List Updated</label>
        <locationX>471</locationX>
        <locationY>563</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Handoff_Issues_Updated_and_Manager_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OB_Handoff_Issues__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OB_Handoff_Issues__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_AE_Owner_From_The_Account.AE_Owner__r.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_AE_Owner_From_The_Account.AE_Owner__r.Manager.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_Message</targetReference>
            </connector>
            <label>Handoff Issues Set or Updated and AE Manager is Active</label>
        </rules>
    </decisions>
    <description>Sends a slack message to AE managers when the onboarding team selects a picklist value in the OB Handoff Issues field on Combined Funnels.</description>
    <environments>Default</environments>
    <formulas>
        <name>AddedToList</name>
        <dataType>Boolean</dataType>
        <expression>IF(PICKLISTCOUNT({!$Record.OB_Handoff_Issues__c}) &gt; PICKLISTCOUNT(PRIORVALUE({!$Record.OB_Handoff_Issues__c})),true, false)</expression>
    </formulas>
    <formulas>
        <name>TestCountVariable</name>
        <dataType>Number</dataType>
        <expression>IF(
    AND(
            PICKLISTCOUNT({!$Record.OB_Handoff_Issues__c})=0, 
            ISBLANK({!$Record.OB_Handoff_Issues__c})
          ), 
       0, PICKLISTCOUNT({!$Record.OB_Handoff_Issues__c})+1
 )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CF - After Save - OBS Handoff Issue Flagged - Slack AE Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CF - After Save - OBS Handoff Issue Flagged - Slack AE Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AE_Owner_From_The_Account</name>
        <label>Get AE Owner From The Account</label>
        <locationX>776</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_AE_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AE_Owner__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Last Handoff Issue Update if the Slack message was sent</description>
        <name>Last_Issue_Update_Datestamp</name>
        <label>Last Issue Update Datestamp</label>
        <locationX>774</locationX>
        <locationY>763</locationY>
        <inputAssignments>
            <field>Last_Handoff_Issue_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_AE_Owner_From_The_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OB_Handoff_Issues__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OB_Handoff_Issues__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Combined_Funnel__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SlackMessageText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The onboarding team has flagged one or more handoff issues for an Account that was Closed Won by one of your reps!
Account: &lt;https://brightwheel1.lightning.force.com/lightning/r/account/{!$Record.Account__c}/view|{!$Record.Account__r.Name}&gt; 
AE Rep: {!Get_AE_Owner_From_The_Account.AE_Owner__r.FirstName} {!Get_AE_Owner_From_The_Account.AE_Owner__r.LastName}
Handoff Issue(s): {!$Record.OB_Handoff_Issues__c}
Handoff Issue Notes: {!$Record.Handoff_Issue_Notes__c}</text>
    </textTemplates>
    <textTemplates>
        <name>TestPicklistText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.OB_Handoff_Issues__c}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
