force-app/main/default/flows/CF_Record_Triggered_Update_SaaS_Onboarding_Fields_From_Combined_Funnel_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Onboarding_Attempt_Found</name>
        <label>Onboarding Attempt Found?</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Onboarding_Attempt_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SaaS_Onboarding_Attempt</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaaS_Override_approved_by_manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaaS_Activated</name>
        <label>SaaS Activated?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_SaaS_Onboarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SaaS_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.School_Object__r.SaaS_Activation_Date_2024__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaaS_Activation_Override_Changed</name>
        <label>SaaS Activation Override Approve by Manager Changed?</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SaaS_Activation_Override_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SaaS_Override_Approved_by_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SaaS_Override_Approved_by_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SaaS_Onboarding_Attempt</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaaS_Onboarding_Found</name>
        <label>SaaS Onboarding Found</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>SaaS_Activation_Override_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SaaS_Onboarding</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SaaS_Onboarding_with_CD</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision if SaaS Override is updated to yes or no</description>
        <name>SaaS_Override_approved_by_manager</name>
        <label>SaaS Override approved by manager?</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>SaaS_Override_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SaaS_Override_Approved_by_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Date_of_SaaS_Override_On_OA</targetReference>
            </connector>
            <label>SaaS Override Approved</label>
        </rules>
        <rules>
            <name>SaaS_Override_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SaaS_Override_Approved_by_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_SaaS_Override_Denial_On_OA</targetReference>
            </connector>
            <label>SaaS Override Denied</label>
        </rules>
    </decisions>
    <description>Updated record triggered flow that replaces PB  &quot;CF - Trigger - Update SaaS Onboarding Fields From Combined Funnel Record&quot; and autolaunched flow. Updated 9/6/23 to include Payroll Interest Level field mapping.
01/24/24 - Updated flow to populate additional fields in case Activaion Override is changed on CF. (Process Builder Replacement)
09/20/24 - PE - When retrieving OB, removed logic to look at the OB Funnel Stage. Instead, added a decision node to look at SaaS Date Of Activation to check if the account is activated or not.
03/10/25 - PE - Added nodes to populate Date of SaaS Override on related Onboarding Attempt
9/2/25- DM- Added nodes to populate Date of SaaS Override Denial on related OA if denied by manager</description>
    <environments>Default</environments>
    <formulas>
        <name>forD_DateOfOverride_SaaSActivationOverrideUpdatedOnCF</name>
        <dataType>Date</dataType>
        <expression>IF(
ISCHANGED({!$Record.SaaS_Activation_Override__c}),
TODAY(),
null
)</expression>
    </formulas>
    <formulas>
        <name>forD_FunnelStageChanged_SaaSActivationOverrideUpdatedOnCF</name>
        <dataType>Date</dataType>
        <expression>IF(
ISCHANGED({!$Record.SaaS_Activation_Override__c}),
TODAY(),
NULL
)</expression>
    </formulas>
    <formulas>
        <name>forT_FunnelStage_SaaSActivationOverrideUpdatedOnCF</name>
        <dataType>String</dataType>
        <expression>IF(
ISCHANGED({!$Record.SaaS_Activation_Override__c}),
&quot;Activated&quot;,
TEXT({!Get_SaaS_Onboarding.Funnel_Stage__c})
)</expression>
    </formulas>
    <interviewLabel>CF - Update SaaS Onboarding Fields From Combined Funnel Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CF - Record Triggered- Update SaaS Onboarding Fields From Combined Funnel Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SaaS_Onboarding</name>
        <label>Get SaaS Onboarding</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SaaS_Onboarding_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOGIC_SaaS_onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Combined_Funnel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SaaS_Onboarding_Attempt</name>
        <label>Get SaaS Onboarding Attempt</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Attempt_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Attempt_Status_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>OB_Attempt_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SaaS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Attempt__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_of_SaaS_Override__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Date_of_SaaS_Override_On_OA</name>
        <label>Update Date of SaaS Override On OA</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SaaS_Onboarding_Attempt.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_SaaS_Override__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding_Attempt__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_of_SaaS_Override_Denial_On_OA</name>
        <label>Update Date of SaaS Override Denial On OA</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SaaS_Onboarding_Attempt.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_SaaS_Override_Denial__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding_Attempt__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SaaS_Onboarding_with_CD</name>
        <label>Update SaaS Onboarding with CF data</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>SaaS_Activation_Override_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SaaS_Onboarding.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Override__c</field>
            <value>
                <elementReference>$Record.SaaS_Activation_Override__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_Staff_By__c</field>
            <value>
                <elementReference>$Record.Add_Staff_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>$Record.Brand_New_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Launch_Date__c</field>
            <value>
                <elementReference>$Record.Confirmed_Launch_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>$Record.Current_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Override__c</field>
            <value>
                <elementReference>forD_DateOfOverride_SaaSActivationOverrideUpdatedOnCF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Setup__c</field>
            <value>
                <elementReference>$Record.Device_Setup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Status__c</field>
            <value>
                <elementReference>$Record.Device_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funnel_Stage_Changed__c</field>
            <value>
                <elementReference>forD_FunnelStageChanged_SaaSActivationOverrideUpdatedOnCF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funnel_Stage__c</field>
            <value>
                <elementReference>forT_FunnelStage_SaaSActivationOverrideUpdatedOnCF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invite_Parents_By__c</field>
            <value>
                <elementReference>$Record.Invite_Parents_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_Snapshot__c</field>
            <value>
                <elementReference>$Record.SaaS_Next_Steps__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Parents_By__c</field>
            <value>
                <elementReference>$Record.Notify_Parents_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Status__c</field>
            <value>
                <elementReference>$Record.SaaS_Onboarding_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>$Record.Open_and_Operating_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override_Reason__c</field>
            <value>
                <elementReference>$Record.SaaS_Override_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payroll_interest_level__c</field>
            <value>
                <elementReference>$Record.Payroll_interest_level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postponed_Check_In__c</field>
            <value>
                <elementReference>$Record.SaaS_Postponed_Check_In_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postponed_Reason__c</field>
            <value>
                <elementReference>$Record.SaaS_Postponed_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.SaaS_Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pulse_Check__c</field>
            <value>
                <elementReference>$Record.Customer_Dynamics__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SaaS_Activated</targetReference>
        </connector>
        <filterLogic>((5 AND (1 OR 2)) OR 3 OR (4 AND 6) OR 7 OR 8 OR 11 OR (9 AND 10))</filterLogic>
        <filters>
            <field>SaaS_Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opted Out</stringValue>
            </value>
        </filters>
        <filters>
            <field>SaaS_Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>SaaS_Onboarding_Funnel_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SaaS_Override_Approved_by_Manager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SaaS_Onboarding_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SaaS_Override_Approved_by_Manager__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Capacity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_Enrollment__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Brand_New_Program__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Brand_New_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Payroll_interest_level__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Combined_Funnel__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
