force-app/main/default/flows/CF_Update_Gong_Conversation_with_CF_ID_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ConversationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Conversation_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Conversation_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Combined_Funnel_Value_on_Conversation_Record</name>
        <label>Assign Combined Funnel Value on Conversation Record</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Conversation_Records.Combined_Funnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Conversation_Records_Handler</name>
        <label>Conversation Records Handler</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Conversation_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Conversation_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Conversation_Records</targetReference>
            </connector>
            <label>Conversation Records Found</label>
        </rules>
    </decisions>
    <description>When Combined Funnel record is created, it finds all gong conversation records and updates them with CF Id.</description>
    <interviewLabel>CF - Update Gong Conversation with CF ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CF - Update Gong Conversation with CF ID on Create</label>
    <loops>
        <name>Loop_Through_Conversation_Records</name>
        <label>Loop Through Conversation Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Conversation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Combined_Funnel_Value_on_Conversation_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Conversation_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Find Gong Conversation records that match with the primary account of the CF record</description>
        <name>Get_Conversation_Records</name>
        <label>Get Conversation Records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conversation_Records_Handler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gong__Primary_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Gong__Gong_Call__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Combined_Funnel__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Conversation_Records</name>
        <label>Update Conversation Records</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>ConversationCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conversation_Records</targetReference>
        </connector>
        <object>Combined_Funnel__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ConversationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Gong__Gong_Call__c</objectType>
    </variables>
</Flow>
