force-app/main/default/flows/CF_Update_Opted_Out_Billing_Onboardings_Back_to_Active.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists</label>
        <locationX>858</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Onboarding</targetReference>
            </connector>
            <label>Yes Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_Onboarding_Exists</name>
        <label>Active Onboarding Exists</label>
        <locationX>611</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Active_Onboarding_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Onboarding</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opted_Out_Onboarding</targetReference>
            </connector>
            <label>No Active Onboarding Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CF_Exists</name>
        <label>CF Exists</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CF_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Combined_Funnel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CF_Billing_Onboarding_Status_Back_to_Active</targetReference>
            </connector>
            <label>Yes CF Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opted_Out_Onboarding_Exists</name>
        <label>Opted Out Onboarding Exists</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opted_Out_Onboarding</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Back_to_Active</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <description>BW - 6/14/24 - Updated to look at new Billing Funnel Stage on School Object
BW - 1/10/25 - Updated to remove fields identified as a part of School Object cleanup</description>
    <environments>Default</environments>
    <interviewLabel>CF - Update Opted Out Billing Onboardings Back to Active {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CF - Update Opted Out Billing Onboardings Back to Active</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>858</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>School_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Onboarding</name>
        <label>Get Active Onboarding</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Onboarding_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121I000000OGlsQAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Combined_Funnel</name>
        <label>Get Combined Funnel</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CF_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opted_Out_Onboarding.Combined_Funnel__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Combined_Funnel__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Billing_Onboarding_Status__c</queriedFields>
        <queriedFields>Billing_Opted_Out_Date__c</queriedFields>
        <queriedFields>Billing_Reengaged_Date__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opted_Out_Onboarding</name>
        <label>Get Opted Out Onboarding</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opted_Out_Onboarding_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Launch_Date_Stamp__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opted Out</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onboarding_Status__c</queriedFields>
        <queriedFields>Billing_Opted_Out_Date__c</queriedFields>
        <queriedFields>Billing_Setup_Threshold_Met_Stamp__c</queriedFields>
        <queriedFields>Billing_Verified_Date_Stamp__c</queriedFields>
        <queriedFields>Verification_Pending_Date_Stamp__c</queriedFields>
        <queriedFields>Verification_Started_Date_Stamp__c</queriedFields>
        <queriedFields>One_Bill_Sent_Threshold_Met_Stamp__c</queriedFields>
        <queriedFields>One_Billing_Cycle_Threshold_Met_Date__c</queriedFields>
        <queriedFields>Two_Bill_Sent_Threshold_Met_Stamp__c</queriedFields>
        <queriedFields>Two_Billing_Cycles_Threshold_Met_Stamp__c</queriedFields>
        <queriedFields>Billing_Activation_Date_Stamp__c</queriedFields>
        <queriedFields>Combined_Funnel__c</queriedFields>
        <queriedFields>Billing_Reengaged_Date__c</queriedFields>
        <queriedFields>Funnel_Stage__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CF_Billing_Onboarding_Status_Back_to_Active</name>
        <label>Update CF Billing Onboarding Status Back to Active</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Combined_Funnel.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Onboarding_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Reengaged_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Combined_Funnel__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Back_to_Active</name>
        <label>Update Status Back to Active</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_Combined_Funnel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opted_Out_Onboarding.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Activation_Date_Stamp__c</field>
            <value>
                <elementReference>$Record.Billing_Activation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Reengaged_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Verified_Date_Stamp__c</field>
            <value>
                <elementReference>$Record.Verification_Verified_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complete_Setup_Threshold_Stamp__c</field>
            <value>
                <elementReference>$Record.Complete_Setup_Threshold_Met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funnel_Stage__c</field>
            <value>
                <elementReference>$Record.Billing_Activation_Funnel_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parents_Add_Pay_Method_Threshold_Stamp__c</field>
            <value>
                <elementReference>$Record.Parents_Add_Payment_Method_Threshold_Met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parents_Pay_Online_Threshold_Stamp__c</field>
            <value>
                <elementReference>$Record.Parents_Pay_Online_Threshold_Met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Bills_Threshold_Stamp__c</field>
            <value>
                <elementReference>$Record.Send_Bills_Threshold_Met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setup_Charges_Threshold_Stamp__c</field>
            <value>
                <elementReference>$Record.Setup_Charges_Threshold_Met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upload_Students_Threshold_Stamp__c</field>
            <value>
                <elementReference>$Record.Upload_Students_Threshold_Met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_Pending_Date_Stamp__c</field>
            <value>
                <elementReference>$Record.Verification_Pending_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_Started_Date_Stamp__c</field>
            <value>
                <elementReference>$Record.Verification_Started_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Last_Online_Payment_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dollars_Processed_Online__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Activation_Funnel_Stage_2024__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>School_Object__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>200</triggerOrder>
</Flow>
