force-app/main/default/flows/CF_Update_Billing_Onboarding_Fields_From_Combined_Funnel_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Test</name>
        <label>Test</label>
        <locationX>293</locationX>
        <locationY>530</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>dylan@mybrightwheel.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>HERE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Billing_Onboarding_Found</name>
        <label>Billing Onboarding Found</label>
        <locationX>284</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>Test</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Billing_Onboarding</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Onboarding_with_CF_data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When Billing Onboarding Status on Combined Funnel record is changed to Inactive or Opted Out OR Billing Activation Override is populated on CF OR School Object Billing Funnel Stage updates to Activated, Billing Onboarding fields are updated from Combined Funnel billing fields.</description>
    <interviewLabel>CF - Update Billing Onboarding Fields From Combined Funnel Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CF - Update Billing Onboarding Fields From Combined Funnel Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Billing_Onboarding</name>
        <label>Get Billing Onboarding</label>
        <locationX>176</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Onboarding_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Combined_Funnel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StartingCFRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funnel_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121I000000OGlsQAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Opted Out</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billing_Onboarding_with_CF_data</name>
        <label>Update Billing Onboarding with CF data</label>
        <locationX>490</locationX>
        <locationY>331</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Billing_Onboarding.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Override__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Activation_Override__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_2_Date__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Check_In_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_2_Status__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Check_In_Call_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_3_Date__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Extra_Help_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_3_Status__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Extra_Help_Call_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_4_Date__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Wrap_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_4_Status__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Wrap_Call_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_or_Webinar_Date__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Call_or_Webinar_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_or_Webinar_Status__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Call_or_Webinar_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Conversation_Notes__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Conversation_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Dropout_Reason__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Dropout_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Intervals__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Intervals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Delayed_Reason__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Postponed_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Setup_Call_Path__c</field>
            <value>
                <elementReference>StartingCFRecord.Onboarding_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>StartingCFRecord.Brand_New_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>StartingCFRecord.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>StartingCFRecord.Current_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tool_for_Billing__c</field>
            <value>
                <elementReference>StartingCFRecord.Current_Tool_for_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Next_Steps__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Next_Steps__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Persona__c</field>
            <value>
                <elementReference>StartingCFRecord.Customer_Persona__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declined_Billing_Training__c</field>
            <value>
                <elementReference>StartingCFRecord.Declined_Billing_Training__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Concerns__c</field>
            <value>
                <elementReference>StartingCFRecord.Onboarding_Concerns__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Status__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Onboarding_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Product_Dropout_Reason__c</field>
            <value>
                <elementReference>StartingCFRecord.Other_Product_Dropout_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override_Reason__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Override_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payer_Scenarios__c</field>
            <value>
                <elementReference>StartingCFRecord.Payer_Scenarios__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postponed_Check_In__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Postponed_Check_In_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>StartingCFRecord.Billing_Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pulse_Check__c</field>
            <value>
                <elementReference>StartingCFRecord.Customer_Dynamics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Siblings_Billing__c</field>
            <value>
                <elementReference>StartingCFRecord.Siblings_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidy_Tracking__c</field>
            <value>
                <elementReference>StartingCFRecord.Subsidies__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Activation_Date__c</field>
            <value>
                <elementReference>StartingCFRecord.Target_Billing_Activation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uses_Attendance_or_Variable_Rate_Billing__c</field>
            <value>
                <elementReference>StartingCFRecord.Uses_Attendance_or_Variable_Rate_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_BW_Billing__c</field>
            <value>
                <elementReference>StartingCFRecord.Why_BW_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Billing_Onboarding</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>StartingCFRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Combined_Funnel__c</objectType>
    </variables>
</Flow>
