force-app/main/default/flows/Child_Site_Creation_After_Save_Create_Child_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Used for CF creation</description>
        <name>Assign_Opp_Values_to_tmp_Variable</name>
        <label>Assign Opp Values to tmp Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_CW_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Combined_Funnel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Original_CW_Opp_to_Child_Opp</name>
        <label>Change Original CW Opp to Child Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Original_CW_Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012PB000000IkqoYAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Original_CW_Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentAccountFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Original_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Values_From_CW_Opportunity</name>
        <label>Copy Values From CW Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_CW_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_Required_Fields_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Gov</name>
        <label>Set Child Gov</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Gov_Child_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Different_Billing_Status_at_CW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_SaaS</name>
        <label>Set Child SaaS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.SaaS_Child_Oppprtunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Different_Billing_Status_at_CW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Billing_CW_Values</name>
        <label>Set New Billing CW Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Billing_Status_at_CW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Status_at_Closed_Won__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Billing_Closed_Lost_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Closed_Lost_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Was_rate_card_captured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Was_rate_card_captured__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Closed_Lost_Reason_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Opt_Out_Reason_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Billing_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Current_Tool_for_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_Tool_for_Billing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Uses_Attendance_or_Variable_Rate_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Uses_Attendance_or_Variable_Rate_Billing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Billing_Conversation_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Conversation_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Billing_Intervals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Intervals_New__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Target_Billing_Launch_Timeframe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Target_Billing_Launch_Timeframe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.of_Students_Processing_Tuition_Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Expected_of_Paying_Students__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Different_SSPR_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_SSPR_Values</name>
        <label>Set New SSPR Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Onboarding_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Onboarding_Path__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Was_SSP_added_on_call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Was_SSP_added_on_call__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Reason_SSP_was_not_added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason_SSP_was_not_added__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Reason_SSP_was_not_added_details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason_SSP_Was_Not_Added_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.OBS_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OBS_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.OBS_Call_Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OBS_Call_Scheduled_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Sales_Follow_up_Call_Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Follow_up_Call_Scheduled_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Current_Center_Operating_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_Center_Operating_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Child_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Required_Fields_Values</name>
        <label>Set Opportunity Required Fields Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Open_and_Operating_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Open_and_Operating_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.of_Total_Staff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.of_Staff__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Current_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enrollment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_NewOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Current_Center_Operating_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_Center_Operating_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Closed_Won_School_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.School_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentAccountFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_CW_Opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Target_Billing_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Target_Billing_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.JungleGym_Sync_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.JungleGym_Sync_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Brightwheel_User_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Brightwheel_User_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Organization_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Organization_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.Closed_Won_School_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Closed_Won_School_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewOpportunityValues.List_Price__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_Child_Opportunity_Record_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Different_Billing_Status_at_CW</name>
        <label>Different Billing Status at CW?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Different_SSPR_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Different_Billing_Status_at_CW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Same_Billing_Status_at_CW_as_the_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Billing_CW_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Different_SSPR_Info</name>
        <label>Different SSPR Info?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Child_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Different_SSPR_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Same_Onboarding_and_SSPR_as_the_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_SSPR_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Account</name>
        <label>Existing Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SaaS_or_Gov</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Account</defaultConnectorLabel>
        <rules>
            <name>Use_Existing_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Chosen_Existing_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_Values_From_CW_Opportunity</targetReference>
            </connector>
            <label>Use Existing Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Site_Add_create_OA</name>
        <label>If Site Add create OA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Original_Close_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Site_add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_CW_Opportunity.Site_Add__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Site add</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaaS_or_Gov</name>
        <label>SaaS or Gov?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Child_Gov_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gov</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_SaaS_or_Gov</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_CW_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaaS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_SaaS_Account</targetReference>
            </connector>
            <label>SaaS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Child_Opportunity_Record_Type</name>
        <label>Set Child Opportunity Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Child_Gov</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gov</defaultConnectorLabel>
        <rules>
            <name>SaaS_Set_Opportunity_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_CW_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaaS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Child_SaaS</targetReference>
            </connector>
            <label>SaaS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Add_Check</name>
        <label>Site Add Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_Values_From_CW_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Site-Add or 2nd+ Location</defaultConnectorLabel>
        <rules>
            <name>First_Site_Add_Child</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Site_Add_Child__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Original_CW_Opp_to_Child_Opp</targetReference>
            </connector>
            <label>First Site Add Child</label>
        </rules>
    </decisions>
    <description>When a Multi-Site Opportunity is CW, it creates Child Site records with the info needed to set up child Accounts, Opportunities, and Combined Funnel records. This flow takes care of creating and prepopulating all those child records.

04/10/25 - PE - Updating mapping for Billing Intervals
04/14/25 - PE - Added mapping to AE Owner on Child Accounts CF to Child opportunity.
04/17/25 - PE - Added formula to set right opportunity record type.
07/30/25 - AC - Added mapping to Original Close Date and Government Close Date to Child Account creation.
08/01/25 - AC - Added Update Account Original Close Date node.
10/08/2025 - LK - Updated the Account - to also update the &quot;Most Recent Saas CW Opportunity&quot; field when the new child opportunities are created.
2/6/26 - DM- Removed references to &apos;OBC Owner&apos; (deprecating field)
2/26/26 - AC - Split the Account creating node between SaaS and Gov as to not assign Billing Activation Start Date on Child Gov Account creation
03/17/26 - AC - Added condition to create Onboarding Attempts for Site Adds as they&apos;re skipping the SaaS CW flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>for_AcctBillingActivationStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
OR(
AND(
{!$Record.Same_Billing_Status_at_CW_as_the_Parent__c} = &quot;Yes&quot;,
ISPICKVAL({!Get_Original_CW_Opportunity.Billing_Status_at_CW__c}, &quot;Opted In&quot;)),
{!$Record.Billing_Status_at_Closed_Won__c} = &quot;Opted In&quot;),
{!$Flow.CurrentDate},
Null
)</expression>
    </formulas>
    <formulas>
        <name>for_BillingOnboardingStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!var_NewOpportunityValues.Billing_Status_at_CW__c}, &quot;Hard Opt Out&quot;),
    &quot;Opted Out&quot;,
    &quot;Active&quot;
)</expression>
    </formulas>
    <formulas>
        <name>for_BrandNewProgram</name>
        <dataType>String</dataType>
        <expression>IF(
   OR(
    ISPICKVAL({!var_NewOpportunityValues.Onboarding_Path__c}, &apos;BNP Site-Add&apos;),
    ISPICKVAL({!var_NewOpportunityValues.Onboarding_Path__c}, &apos;Brand New Program&apos;)),
    &apos;Yes&apos;, &apos;No&apos;
)</expression>
    </formulas>
    <formulas>
        <name>for_CombinedFunnel_WebinarDate</name>
        <dataType>Date</dataType>
        <expression>IF(
   ISPICKVAL({!var_NewOpportunityValues.Onboarding_Path__c}, &apos;Brand New Program&apos;),
{!var_NewOpportunityValues.Onboarding_Webinar_Date__c},
   null
)</expression>
    </formulas>
    <formulas>
        <name>for_CombinedFunnelBillingCallOrWebinarStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!var_NewOpportunityValues.Billing_1_1_Onboarding_Call_Date__c}),
    null, &apos;Scheduled&apos;
)</expression>
    </formulas>
    <formulas>
        <name>for_CombinedFunnelName</name>
        <dataType>String</dataType>
        <expression>IF(
  LEN({!$Record.Child_Site_Name__c} &amp; &apos; - Combined Funnel&apos;) &gt; 80,
  LEFT({!$Record.Child_Site_Name__c} , 80 - LEN(&apos; - Combined Funnel&apos;)) &amp; &apos; - Combined Funnel&apos;,
  {!$Record.Child_Site_Name__c}  &amp; &apos; - Combined Funnel&apos;
)</expression>
    </formulas>
    <formulas>
        <description>Formula to populate the &quot;Most Recent SaaS CW Opportunity&quot; based on whether the Child opportunity is Gov or not.</description>
        <name>for_MostRecentGovOpp</name>
        <dataType>String</dataType>
        <expression>If( {!var_NewOpportunityValues.RecordTypeId} = {!$Label.Gov_Child_Opportunity} , 
{!var_NewOpportunityValues.Id}, 
null )</expression>
    </formulas>
    <formulas>
        <name>for_NewOpportunityName</name>
        <dataType>String</dataType>
        <expression>&quot;Child Opp of&quot; &amp; &quot; &quot; &amp; {!$Record.Original_CW_Opportunity__r.Name}</expression>
    </formulas>
    <formulas>
        <description>Formula to populate the &quot;Most Recent SaaS CW Opportunity&quot; based on whether the Child opportunity is SaaS or not.</description>
        <name>for_RecentSaasCWOpp</name>
        <dataType>String</dataType>
        <expression>If( {!var_NewOpportunityValues.RecordTypeId} ={!$Label.SaaS_Child_Oppprtunity} , 
{!var_NewOpportunityValues.Id}, 
null )</expression>
    </formulas>
    <formulas>
        <name>ForD_Bill_Rate_Submitted_Date</name>
        <dataType>Date</dataType>
        <expression>IF(CONTAINS(TEXT({!Get_Original_CW_Opportunity.Was_rate_card_captured__c}), &quot;Yes&quot;), {!$Flow.CurrentDate}, NULL)</expression>
    </formulas>
    <formulas>
        <name>forD_HotPassOBCCompletedDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Get_Original_CW_Opportunity.HotPass__c} = True, {!$Flow.CurrentDate}, {!Get_Original_CW_Opportunity.Account.OBC_Call_Completed_Date__c})</expression>
    </formulas>
    <formulas>
        <name>forSiteAddBASD</name>
        <dataType>Date</dataType>
        <expression>IF(ISPICKVAL({!Get_Original_CW_Opportunity.Billing_Status_at_CW__c},&quot;Opted In&quot;), {!$Flow.CurrentDate},NULL)</expression>
    </formulas>
    <formulas>
        <name>parentAccountFormula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Chosen_Existing_Account__c} != null, {!$Record.Chosen_Existing_Account__c} , IF({!newSaasChildAccount}!=null, {!newSaasChildAccount},{!newGovChildAccount}))</expression>
    </formulas>
    <interviewLabel>Child Site Creation - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Child Site Creation - After Save - Create Child Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Gov_Account</name>
        <label>Create Child Gov Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newGovChildAccount</assignRecordIdToReference>
        <connector>
            <targetReference>Site_Add_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>AE_Owner__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brightwheel_School_UUID__c</field>
            <value>
                <elementReference>$Record.School_UUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Center_Type__c</field>
            <value>
                <elementReference>$Record.Center_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Center_Operating_Status__c</field>
            <value>
                <elementReference>$Record.Current_Center_Operating_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>$Record.Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value>
                <stringValue>Multi-Site Child</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Government_Close_Date__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Account.Government_Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOGIC_created_by_flow__c</field>
            <value>
                <stringValue>SaaS Opp CW - Create Combined Funnel and Onboardings</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Child_Site_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>$Record.Open_and_Operating_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Close_Date__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Account.Original_Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Original_CW_Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Payer_Account__c</field>
            <value>
                <elementReference>$Record.Related_Payer_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Child_Opportunity</name>
        <label>Create Child Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Combined_Funnel</targetReference>
        </connector>
        <inputReference>var_NewOpportunityValues</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Child_SaaS_Account</name>
        <label>Create Child SaaS Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newSaasChildAccount</assignRecordIdToReference>
        <connector>
            <targetReference>Site_Add_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>AE_Owner__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Activation_Start_Date__c</field>
            <value>
                <elementReference>for_AcctBillingActivationStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brightwheel_School_UUID__c</field>
            <value>
                <elementReference>$Record.School_UUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Center_Type__c</field>
            <value>
                <elementReference>$Record.Center_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Center_Operating_Status__c</field>
            <value>
                <elementReference>$Record.Current_Center_Operating_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>$Record.Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value>
                <stringValue>Multi-Site Child</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Government_Close_Date__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Account.Government_Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOGIC_created_by_flow__c</field>
            <value>
                <stringValue>SaaS Opp CW - Create Combined Funnel and Onboardings</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Child_Site_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>$Record.Open_and_Operating_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Close_Date__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Account.Original_Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Original_CW_Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Payer_Account__c</field>
            <value>
                <elementReference>$Record.Related_Payer_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Combined_Funnel</name>
        <label>Create Combined Funnel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tag_Combined_Funnel_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentAccountFormula</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>parentAccountFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BNP_Webinar_Date__c</field>
            <value>
                <elementReference>for_CombinedFunnel_WebinarDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_or_Webinar_Date__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Billing_Call_or_Webinar_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_or_Webinar_Status__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.CF_Billing_Call_or_Webinar_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Dropout_Reason__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Billing_Closed_Lost_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Intervals__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Billing_Intervals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Status__c</field>
            <value>
                <elementReference>for_BillingOnboardingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Primary_Contact__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Billing_Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Status_at_CW__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Billing_Status_at_CW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>for_BrandNewProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Center_Operating_Status__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Current_Center_Operating_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Current_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tech__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Current_Tech__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tool_for_Billing__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Current_Tool_for_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declined_SaaS_Training__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Declined_SaaS_Training__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Bill_Date__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.First_Bill_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Site_Info__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Multi_Site_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>for_CombinedFunnelName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sites__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Number_of_Sites__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Path__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Onboarding_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Open_and_Operating_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payroll_interest_level__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Payroll_interest_level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Preferred_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prevent_Sync_to_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_Offered__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Promo_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_CW_Opportunity__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Primary_Contact__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_of_Devices__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Status_of_Devices__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Information_Currently_Stored__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Student_Information_Currently_Stored__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uses_Attendance_or_Variable_Rate_Billing__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Uses_Attendance_or_Variable_Rate_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_BW_Billing__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Why_BW_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <object>Combined_Funnel__c</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Combined_Funnel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentAccountFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Combined_Funnel</name>
        <label>Get Combined Funnel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Onboarding_Attempts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Combined_Funnel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Combined_Funnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_CW_Opportunity</name>
        <label>Get Original CW Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Original_CW_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Tag_Combined_Funnel_to_Opportunity</name>
        <label>Tag Combined Funnel to Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tag_Records_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewOpportunityValues.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Combined_Funnel__c</field>
            <value>
                <elementReference>Create_Combined_Funnel</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Tag_Records_Created</name>
        <label>Tag Records Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Site_Add_create_OA</targetReference>
        </connector>
        <inputAssignments>
            <field>Child_Account_Created__c</field>
            <value>
                <elementReference>parentAccountFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Combined_Funnel_Created__c</field>
            <value>
                <elementReference>Create_Combined_Funnel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Opportunity_Created__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Original_Close_Date</name>
        <label>Update Account Original Close Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Most_Recent_Gov_CW_Opportunity__c</field>
            <value>
                <elementReference>for_MostRecentGovOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_SaaS_CW_Opportunity__c</field>
            <value>
                <elementReference>for_RecentSaasCWOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Close_Date__c</field>
            <value>
                <elementReference>var_NewOpportunityValues.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Child_Account_Created__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Opp</name>
        <label>Update Original Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Opp_Values_to_tmp_Variable</targetReference>
        </connector>
        <inputReference>Get_Original_CW_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Account_Type</name>
        <label>Update Parent Account Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account_Original_Close_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value>
                <stringValue>Multi-Site Parent</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Account_if_Site_Add</name>
        <label>Update Triggering Account if Site Add</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Parent_Account_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_Rate_Submitted_Date__c</field>
            <value>
                <elementReference>ForD_Bill_Rate_Submitted_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Activation_Start_Date__c</field>
            <value>
                <elementReference>forSiteAddBASD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Status__c</field>
            <value>
                <elementReference>for_BillingOnboardingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>for_BrandNewProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSM_Owner1__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.OBS_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Curriculum_Other__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Current_Curriculum_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Curriculum__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Current_Curriculum__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Activation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Interested_in_bw_Learning__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Interested_in_bw_Learning__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OBC_Call_Completed_Date__c</field>
            <value>
                <elementReference>forD_HotPassOBCCompletedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OBC_Call_Scheduled_Date__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.OBC_Call_Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Coordinator__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.OBC_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Setup_Call_Path__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Onboarding_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Preferred_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotion_Offered__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Promo_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Information_Currently_Stored__c</field>
            <value>
                <elementReference>Get_Original_CW_Opportunity.Student_Information_Currently_Stored__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Child_Account_Created__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Updated_by_CW_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Child_Site_Creation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Original_CW_Opportunity</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Onboarding_Attempts</name>
        <label>Create Onboarding Attempts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Triggering_Account_if_Site_Add</targetReference>
        </connector>
        <flowName>Onboarding_Attempt_Subflow_Create_and_Update_OAs</flowName>
        <inputAssignments>
            <name>AccountInput</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CombinnelFunnelInput</name>
            <value>
                <elementReference>Get_Combined_Funnel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityInput</name>
            <value>
                <elementReference>Get_Original_CW_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>newGovChildAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newSaasAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>newSaasChildAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewOpportunityValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
