force-app/main/default/flows/Combined_Funnel_Update_Billing_Onboarding_Fields_from_CF_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Billing_Activated</name>
        <label>Billing Activated?</label>
        <locationX>336</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Retrieve_Billing_Onboarding_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Billing_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.School_Object__r.Billing_Activation_Date_2024__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Activation_Override_Changed</name>
        <label>Billing Activation Override Approved by Manager Changed?</label>
        <locationX>864</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Billing_Activation_Override_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Override_Approved_by_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Override_Approved_by_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Billing_Onboarding_Attempt</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Override_approved_by_Manager</name>
        <label>Billing Override approved by Manager?</label>
        <locationX>336</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Override_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Override_Approved_by_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Date_of_Billing_Override_On_OA</targetReference>
            </connector>
            <label>Billing Override Approved</label>
        </rules>
        <rules>
            <name>Billing_Override_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Override_Approved_by_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Billing_Override_Denial_On_OA</targetReference>
            </connector>
            <label>Billing Override Denied</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Progress_Billing_OB_Attempt_Found</name>
        <label>In Progress Billing OB Attempt Found?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Billing_Activated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Progress_Billing_OB_Attempt_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_For_In_Progress_Billing_Onboarding_Attempt</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Attempt_Found</name>
        <label>Onboarding Attempt Found?</label>
        <locationX>600</locationX>
        <locationY>1787</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Onboarding_Attempt_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Billing_Onboarding_Attempt</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Override_approved_by_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opted_Out_Status</name>
        <label>Opted Out Status</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Billing_Activated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opted_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opted Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Opted Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Stamp_Opted_Out_Date</targetReference>
            </connector>
            <label>Yes Opted Out</label>
        </rules>
    </decisions>
    <description>Updates Billing Onboarding when Combined Funnel Records are updated
01/24/24 - PE - Updated flow to populate additional fields in case Activaion Override is changed on CF. (Process Builder Replacement)
09/20/24 - PE - When retrieving OB, removed logic to look at the OB Funnel Stage. Instead, added a decision node to look at Billing Date Of Activation to check if the account is activated or not.
02/25/25 - PE - Added node to look for and update any Billing Onboarding Attempt In Progress
03/10/25 - PE - Added nodes to populate Date of Billing Override on related Onboarding Attempt
9/2/25- DM- Added nodes to populate Date of Billing Override Denial on related OA if denied by manager
02/02/2026 - LK - Fix for failing Flows because the pickvalue &quot;checks/cash&quot; is not a valid value anymore and we have 6k records with that value that is failing when trying to update the onboarding record.</description>
    <environments>Default</environments>
    <formulas>
        <name>For_CurrentToolForBilling</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.Current_Tool_for_Billing__c}, &quot;Checks/Cash&quot;),
    &quot;&quot;,
    TEXT({!$Record.Current_Tool_for_Billing__c})
)</expression>
    </formulas>
    <formulas>
        <name>forD_DateOfOverride_BillingActivationOverrideUpdatedOnCF</name>
        <dataType>Date</dataType>
        <expression>IF(
ISCHANGED({!$Record.Billing_Activation_Override__c}),
TODAY(),
null
)</expression>
    </formulas>
    <formulas>
        <name>forD_FunnelStageChanged_BillingActivationOverrideUpdatedOnCF</name>
        <dataType>Date</dataType>
        <expression>IF(
ISCHANGED({!$Record.Billing_Activation_Override__c}),
TODAY(),
NULL
)</expression>
    </formulas>
    <formulas>
        <name>forT_FunnelStage_BillingActivationOverrideUpdatedOnCF</name>
        <dataType>String</dataType>
        <expression>IF(
ISCHANGED({!$Record.Billing_Activation_Override__c}),
&quot;Activated&quot;,
TEXT({!Retrieve_Billing_Onboarding_Records.Funnel_Stage__c})
)</expression>
    </formulas>
    <formulas>
        <name>OptedOutDate</name>
        <dataType>Date</dataType>
        <expression>IF(
   {!Yes_Opted_Out},
   TODAY(), {!Retrieve_Billing_Onboarding_Records.Billing_Opted_Out_Date__c}
)</expression>
    </formulas>
    <interviewLabel>Combined Funnel Update Billing Onboarding Fields from CF Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Combined Funnel Update Billing Onboarding Fields from CF Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Billing_OB_Status_to_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Onboarding_Attempt</name>
        <label>Get Billing Onboarding Attempt</label>
        <locationX>600</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Attempt_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Attempt_Status_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>OB_Attempt_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Attempt__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_of_Billing_Override__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_For_In_Progress_Billing_Onboarding_Attempt</name>
        <label>Look For In Progress Billing Onboarding Attempt</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>In_Progress_Billing_OB_Attempt_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OB_Attempt_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Attempt_Status_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Attempt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get billing onboarding records</description>
        <name>Retrieve_Billing_Onboarding_Records</name>
        <label>Retrieve Billing Onboarding Records</label>
        <locationX>864</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Billing_Onboarding_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Combined_Funnel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121I000000OGlsQAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Date_of_Billing_Override_On_OA</name>
        <label>Update Date of Billing Override On OA</label>
        <locationX>72</locationX>
        <locationY>2003</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Billing_Onboarding_Attempt.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Billing_Override__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding_Attempt__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Date_Stamp_Opted_Out_Date</name>
        <label>Date Stamp Opted Out Date</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Look_For_In_Progress_Billing_Onboarding_Attempt</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Opted_Out_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Billing_OB_Status_to_Closed</name>
        <label>Set Billing OB Status to Closed</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Stamp_Billing_Onboarding_Attempt_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_For_In_Progress_Billing_Onboarding_Attempt.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Attempt_Status_New__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Attempt__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Billing Onboarding Record based on the updates in the Combined Funnel Record.</description>
        <name>Update_Billing_Onboarding_Record</name>
        <label>Update Billing Onboarding Record</label>
        <locationX>864</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Billing_Activation_Override_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Retrieve_Billing_Onboarding_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Override__c</field>
            <value>
                <elementReference>$Record.Billing_Activation_Override__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_2_Date__c</field>
            <value>
                <elementReference>$Record.Billing_Check_In_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_2_Status__c</field>
            <value>
                <elementReference>$Record.Billing_Check_In_Call_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_3_Date__c</field>
            <value>
                <elementReference>$Record.Billing_Extra_Help_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_3_Status__c</field>
            <value>
                <elementReference>$Record.Billing_Extra_Help_Call_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_4_Date__c</field>
            <value>
                <elementReference>$Record.Billing_Wrap_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_4_Status__c</field>
            <value>
                <elementReference>$Record.Billing_Wrap_Call_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_or_Webinar_Date__c</field>
            <value>
                <elementReference>$Record.Billing_Call_or_Webinar_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_or_Webinar_Status__c</field>
            <value>
                <elementReference>$Record.Billing_Call_or_Webinar_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Conversation_Notes__c</field>
            <value>
                <elementReference>$Record.Billing_Conversation_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Dropout_Reason__c</field>
            <value>
                <elementReference>$Record.Billing_Dropout_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Intervals__c</field>
            <value>
                <elementReference>$Record.Billing_Intervals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Delayed_Reason__c</field>
            <value>
                <elementReference>$Record.Billing_Postponed_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Opted_Out_Date__c</field>
            <value>
                <elementReference>OptedOutDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Setup_Call_Path__c</field>
            <value>
                <elementReference>$Record.Onboarding_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>$Record.Brand_New_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>$Record.Current_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tool_for_Billing__c</field>
            <value>
                <elementReference>For_CurrentToolForBilling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Next_Steps__c</field>
            <value>
                <elementReference>$Record.Billing_Next_Steps__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Persona__c</field>
            <value>
                <elementReference>$Record.Customer_Persona__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Override__c</field>
            <value>
                <elementReference>forD_DateOfOverride_BillingActivationOverrideUpdatedOnCF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declined_Billing_Training__c</field>
            <value>
                <elementReference>$Record.Declined_Billing_Training__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funnel_Stage_Changed__c</field>
            <value>
                <elementReference>forD_FunnelStageChanged_BillingActivationOverrideUpdatedOnCF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funnel_Stage__c</field>
            <value>
                <elementReference>forT_FunnelStage_BillingActivationOverrideUpdatedOnCF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Concerns__c</field>
            <value>
                <elementReference>$Record.Onboarding_Concerns__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Status__c</field>
            <value>
                <elementReference>$Record.Billing_Onboarding_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>$Record.Open_and_Operating_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Product_Dropout_Reason__c</field>
            <value>
                <elementReference>$Record.Other_Product_Dropout_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override_Reason__c</field>
            <value>
                <elementReference>$Record.Billing_Override_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payer_Scenarios__c</field>
            <value>
                <elementReference>$Record.Payer_Scenarios__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postponed_Check_In__c</field>
            <value>
                <elementReference>$Record.Billing_Postponed_Check_In_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Billing_Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pulse_Check__c</field>
            <value>
                <elementReference>$Record.Customer_Dynamics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Siblings_Billing__c</field>
            <value>
                <elementReference>$Record.Siblings_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidy_Tracking__c</field>
            <value>
                <elementReference>$Record.Subsidies__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Activation_Date__c</field>
            <value>
                <elementReference>$Record.Target_Billing_Activation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uses_Attendance_or_Variable_Rate_Billing__c</field>
            <value>
                <elementReference>$Record.Uses_Attendance_or_Variable_Rate_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_BW_Billing__c</field>
            <value>
                <elementReference>$Record.Why_BW_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_of_Billing_Override_Denial_On_OA</name>
        <label>Update Date of Billing Override Denial On OA</label>
        <locationX>336</locationX>
        <locationY>2003</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Billing_Onboarding_Attempt.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Billing_Override_Denial__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding_Attempt__c</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opted_Out_Status</targetReference>
        </connector>
        <filterLogic>((1 AND (2 OR 3)) OR 4 OR 5 OR (6 AND 7))</filterLogic>
        <filters>
            <field>Billing_Onboarding_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opted Out</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Override_Approved_by_Manager__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Onboarding_Funnel_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fully Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Brand_New_Program__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Brand_New_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Combined_Funnel__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Stamp_Billing_Onboarding_Attempt_Values</name>
        <label>Stamp Billing Onboarding Attempt Values</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Billing_Activated</targetReference>
        </connector>
        <flowName>Onboarding_Attempt_Subflow_Create_and_Update_OAs</flowName>
        <inputAssignments>
            <name>AccountInput</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BillingOBAttemptInput</name>
            <value>
                <elementReference>Look_For_In_Progress_Billing_Onboarding_Attempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CombinnelFunnelInput</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdateOBAttemptsInput</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
