force-app/main/default/flows/Combined_Funnel_After_Save_Primary_Onboarding_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_Update_Collection</name>
        <label>Assign to Update Collection</label>
        <locationX>83</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>collectionUpdateContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_SaaS_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Update_Collection_1</name>
        <label>Assign to Update Collection</label>
        <locationX>237</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>collectionUpdateContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Collection_Check_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Update_Collection_2</name>
        <label>Assign to Update Collection</label>
        <locationX>83</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>collectionUpdateBillingContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateBillingContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Billing_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Update_Collection_3</name>
        <label>Assign to Update Collection</label>
        <locationX>50</locationX>
        <locationY>4295</locationY>
        <assignmentItems>
            <assignToReference>collectionUpdateSecondaryContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateSecondaryContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Secondary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Update_Collection_4</name>
        <label>Assign to Update Collection</label>
        <locationX>237</locationX>
        <locationY>3179</locationY>
        <assignmentItems>
            <assignToReference>collectionUpdateBillingContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateBillingContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Collection_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Update_Collection_5</name>
        <label>Assign to Update Collection</label>
        <locationX>204</locationX>
        <locationY>4895</locationY>
        <assignmentItems>
            <assignToReference>collectionUpdateSecondaryContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdateSecondaryContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Secondary_Contact_Collection_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Billing_Contact_True</name>
        <label>Set New Billing Contact True</label>
        <locationX>237</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>varUpdateBillingContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Billing_Primary_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateBillingContact.Onboarding_Billing_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_Collection_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_SaaS_Contact_True</name>
        <label>Set New SaaS Contact True</label>
        <locationX>237</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>varUpdateContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_SaaS_Primary_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateContact.Onboarding_SaaS_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_Collection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Secondary_Contact_True</name>
        <label>Set New Secondary Contact True</label>
        <locationX>204</locationX>
        <locationY>4787</locationY>
        <assignmentItems>
            <assignToReference>varUpdateSecondaryContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Secondary_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateSecondaryContact.Secondary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_Collection_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_Billing_Contact_Untrue</name>
        <label>Set Previous Billing Contact Untrue</label>
        <locationX>83</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>varUpdateBillingContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Billing_Primary_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateBillingContact.Onboarding_Billing_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_SaaS_Contact_Untrue</name>
        <label>Set Previous SaaS Contact Untrue</label>
        <locationX>83</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varUpdateContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_SaaS_Primary_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateContact.Onboarding_SaaS_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_Secondary_Contact_to_Untrue</name>
        <label>Set Previous Secondary Contact to Untrue</label>
        <locationX>50</locationX>
        <locationY>4187</locationY>
        <assignmentItems>
            <assignToReference>varUpdateSecondaryContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Secondary_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateSecondaryContact.Secondary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_Collection_3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_Billing_Primary_Contact_Change</name>
        <label>Did Billing Primary Contact Change</label>
        <locationX>534</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Update_Collection_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Primary_Contact_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Primary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Billing_Primary_Contact_Population_Check</targetReference>
            </connector>
            <label>Billing Primary Contact Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_SaaS_Primary_Contact_Change</name>
        <label>Did SaaS Primary Contact Change</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Collection_Check_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SaaS_Primary_Contact_needs_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SaaS_Primary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_SaaS_Primary_Contact_Population_check</targetReference>
            </connector>
            <label>SaaS Primary Contact needs Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Secondary_Contact_Change</name>
        <label>Did Secondary Contact Change</label>
        <locationX>534</locationX>
        <locationY>3755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Secondary_Contact_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Secondary_Contact_check</targetReference>
            </connector>
            <label>Secondary Contact changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Billing_Primary_Contact_Check</name>
        <label>New Billing Primary Contact Check</label>
        <locationX>369</locationX>
        <locationY>2963</locationY>
        <defaultConnector>
            <targetReference>Update_Collection_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_New_Billing_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Billing_Primary_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Billing_Contact_True</targetReference>
            </connector>
            <label>Found New Billing Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_SaaS_Primary_Contact_check</name>
        <label>New SaaS Primary Contact check</label>
        <locationX>369</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Collection_Check_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_New_SaaS_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_SaaS_Primary_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_SaaS_Contact_True</targetReference>
            </connector>
            <label>Found New SaaS Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Secondary_Contact_check</name>
        <label>New Secondary Contact check</label>
        <locationX>336</locationX>
        <locationY>4679</locationY>
        <defaultConnector>
            <targetReference>Update_Secondary_Contact_Collection_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_new_Secondary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Secondary_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Secondary_Contact_True</targetReference>
            </connector>
            <label>Found new Secondary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Billing_Primary_Contact_Check</name>
        <label>Previous Billing Primary Contact Check</label>
        <locationX>215</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>Get_New_Billing_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Previous_Billing_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Billing_Primary_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Previous_Billing_Contact_Untrue</targetReference>
            </connector>
            <label>Found Previous Billing Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Billing_Primary_Contact_Population_Check</name>
        <label>Previous Billing Primary Contact Population Check</label>
        <locationX>369</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Get_New_Billing_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Billing_Primary_Contact_was_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Billing_Primary_Contact</targetReference>
            </connector>
            <label>Previous Billing Primary Contact was Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_SaaS_Primary_Contact_check</name>
        <label>Previous SaaS Primary Contact check</label>
        <locationX>215</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_New_SaaS_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Previous_SaaS_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_SaaS_Primary_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Previous_SaaS_Contact_Untrue</targetReference>
            </connector>
            <label>Found Previous SaaS Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_SaaS_Primary_Contact_Population_check</name>
        <label>Previous SaaS Primary Contact Population check</label>
        <locationX>369</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_New_SaaS_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_SaaS_Primary_Contact_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SaaS_Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_SaaS_Primary_Contact</targetReference>
            </connector>
            <label>Previous SaaS Primary Contact populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Secondary_Contact_check</name>
        <label>Previous Secondary Contact check</label>
        <locationX>336</locationX>
        <locationY>3863</locationY>
        <defaultConnector>
            <targetReference>Get_New_Secondary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Secondary_Contact_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Secondary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Secondary_Contact</targetReference>
            </connector>
            <label>Previous Secondary Contact Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Secondary_Contact_Found_True</name>
        <label>Previous Secondary Contact Found True</label>
        <locationX>182</locationX>
        <locationY>4079</locationY>
        <defaultConnector>
            <targetReference>Get_New_Secondary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>g</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Secondary_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Previous_Secondary_Contact_to_Untrue</targetReference>
            </connector>
            <label>Found Previous Secondary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Collection_Check</name>
        <label>Update Collection Check</label>
        <locationX>534</locationX>
        <locationY>3455</locationY>
        <defaultConnector>
            <targetReference>Did_Secondary_Contact_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Records_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionUpdateBillingContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collection</targetReference>
            </connector>
            <label>Found Records to Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Collection_Check_1</name>
        <label>Update Collection Check</label>
        <locationX>534</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Did_Billing_Primary_Contact_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Records_to_Update_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionUpdateContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collection_1</targetReference>
            </connector>
            <label>Found Records to Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Secondary_Contact_Collection_Check</name>
        <label>Update Secondary Contact Collection Check</label>
        <locationX>336</locationX>
        <locationY>5087</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Records_to_Update_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionUpdateSecondaryContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collection_3</targetReference>
            </connector>
            <label>Found Records to Update</label>
        </rules>
    </decisions>
    <description>When a Combined Funnel record has any of the fields SaaS Primary Contact, Billing Primary Contact or Secondary Contact updated, update these contact to flag the their relationship to the combined funnel.
12/14/23 - PE - Updated flow to trigger on record update only
01/24/24 - PE - Updated flow entry criteria with field to prevent it from firing when not needed</description>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Combined Funnel - After Save - Primary Onboarding Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Combined Funnel - After Save - Primary Onboarding Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_New_Billing_Primary_Contact</name>
        <label>Get New Billing Primary Contact</label>
        <locationX>369</locationX>
        <locationY>2855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Billing_Primary_Contact_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_SaaS_Primary_Contact</name>
        <label>Get New SaaS Primary Contact</label>
        <locationX>369</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_SaaS_Primary_Contact_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SaaS_Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Secondary_Contact</name>
        <label>Get New Secondary Contact</label>
        <locationX>336</locationX>
        <locationY>4571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Secondary_Contact_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Secondary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Billing_Primary_Contact</name>
        <label>Get Previous Billing Primary Contact</label>
        <locationX>215</locationX>
        <locationY>2255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Billing_Primary_Contact_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Billing_Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_SaaS_Primary_Contact</name>
        <label>Get Previous SaaS Primary Contact</label>
        <locationX>215</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_SaaS_Primary_Contact_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.SaaS_Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Secondary_Contact</name>
        <label>Get Previous Secondary Contact</label>
        <locationX>182</locationX>
        <locationY>3971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Secondary_Contact_Found_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Secondary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>402</locationX>
        <locationY>3563</locationY>
        <connector>
            <targetReference>Did_Secondary_Contact_Change</targetReference>
        </connector>
        <inputReference>collectionUpdateBillingContacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_1</name>
        <label>Update Collection</label>
        <locationX>402</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Did_Billing_Primary_Contact_Change</targetReference>
        </connector>
        <inputReference>collectionUpdateContacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_3</name>
        <label>Update Collection</label>
        <locationX>204</locationX>
        <locationY>5195</locationY>
        <inputReference>collectionUpdateSecondaryContacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_SaaS_Primary_Contact_Change</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>SaaS_Primary_Contact__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Primary_Contact__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Secondary_Contact__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Prevent_Sync_to_Account__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Combined_Funnel__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionUpdateBillingContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>collectionUpdateContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>collectionUpdateSecondaryContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varUpdateBillingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varUpdateContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varUpdateSecondaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
