force-app/main/default/flows/Completed_Onboarding_Events_Update_Corresponding_Account_Date_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists</label>
        <locationX>1568</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Type</targetReference>
            </connector>
            <label>Yes Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Type</name>
        <label>Event Type</label>
        <locationX>974</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Initial_Setup_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initial_Setup_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Initial_Setup_Call_Completed</targetReference>
            </connector>
            <label>Initial Setup Call</label>
        </rules>
        <rules>
            <name>Onboarding_Training_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Training_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Onboarding_Training_Call_Completed</targetReference>
            </connector>
            <label>Onboarding Training Call</label>
        </rules>
        <rules>
            <name>Onboarding_Check_In_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Check_In_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Onboarding_Check_In_Call_Completed</targetReference>
            </connector>
            <label>Onboarding Check-In Call</label>
        </rules>
        <rules>
            <name>Billing_Training_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Training_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Billing_Training_Call_Completed</targetReference>
            </connector>
            <label>Billing Training Call</label>
        </rules>
        <rules>
            <name>Retention_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retention_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Retention_Call_Completed</targetReference>
            </connector>
            <label>Retention Call</label>
        </rules>
        <rules>
            <name>Billing_Upsell_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Upsell_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Billing_Upsell_Call_Completed</targetReference>
            </connector>
            <label>Billing Upsell Call</label>
        </rules>
        <rules>
            <name>BNP_Intro_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BNP_Intro_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_BNP_Intro_Call_Completed</targetReference>
            </connector>
            <label>BNP Intro Call</label>
        </rules>
    </decisions>
    <description>When events with Onboarding-specific Outreach Meeting Types are updated after the scheduled end time, update corresponding Completed call date fields on the Account: Initial Setup Call Completed, Onboarding Training Call Completed, Onboarding Check-In Call Completed, Billing Training Call Completed
12.22.23 - DJ - Added updates to Initial Setup Call Completed and Onboarding Training Call Completed on the Contact related to the event (WhoID)
4/12/23 JH: added 2 paths for retention calls and billing upsell called to get marked completed
6/10/24 JH: Added path for BNP intro call to get completed
7/25/24 JH: Additional update node added for BNP Intro Call Status on CF
03/04/2025 - Delayed 30 Mins to see if that corrects the incorrect completed dates - to encount for the delay in no show field update.
05/27/2025 - JS: Updated Entry Criteria to check if LOGIC Trigger Counter field is incremented to allow flow to run if meeting is marked as complete prior to event end time.</description>
    <environments>Default</environments>
    <interviewLabel>Completed Onboarding Events - Update Corresponding Account Date Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Completed Onboarding/ENGMT Events - Update Corresponding Account Date Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1568</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Combined_Funnel</name>
        <label>Get Combined Funnel</label>
        <locationX>1634</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_CF_BNP_Intro_Call_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Combined_Funnel__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>BNP_Intro_Call_status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1568</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Billing_Training_Call_Completed</name>
        <label>Update Account.Billing Training Call Completed</label>
        <locationX>842</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Training_Call_Completed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Training_Call_Completed__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Billing_Upsell_Call_Completed</name>
        <label>Update Account.Billing Upsell Call Completed</label>
        <locationX>1370</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Upsell_Call_Completed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Upsell_Call_Completed__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_BNP_Intro_Call_Completed</name>
        <label>Update Account.BNP Intro Call Completed</label>
        <locationX>1634</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Get_Combined_Funnel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BNP_Intro_call_Completed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BNP_Intro_Call_status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BNP_Intro_call_Completed__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Initial_Setup_Call_Completed</name>
        <label>Update Account.Initial Setup Call Completed</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_Contact_Initial_Setup_Call_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Initial_Setup_Call_Completed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Setup_Call_Completed__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Onboarding_Check_In_Call_Completed</name>
        <label>Update Account.Onboarding Check-In Call Completed</label>
        <locationX>578</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Check_in_Call_Completed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_Check_in_Call_Completed__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Onboarding_Training_Call_Completed</name>
        <label>Update Account.Onboarding Training Call Completed</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_Contact_Onboarding_Training_Call_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Call_Complete__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_Call_Complete__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Retention_Call_Completed</name>
        <label>Update Account.Retention Call Completed</label>
        <locationX>1106</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Retention_Call_Completed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Retention_Call_Completed__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CF_BNP_Intro_Call_Status</name>
        <label>Update CF.BNP Intro Call Status</label>
        <locationX>1634</locationX>
        <locationY>924</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Combined_Funnel.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BNP_Intro_Call_status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Combined_Funnel__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Initial_Setup_Call_Completed</name>
        <label>Update Contact.Initial Setup Call Completed</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Setup_Call_Completed__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Onboarding_Training_Call_Completed</name>
        <label>Update Contact.Onboarding Training Call Completed</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_Training_Call_Completed__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 6 AND (5 OR 7) AND (8 OR 9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>LOGIC_event_past_end_time__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>No_Show__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Canceled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Meeting__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Meeting_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>003</stringValue>
            </value>
        </filters>
        <filters>
            <field>Meeting_Type_CP__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LOGIC_trigger_counter__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LOGIC_trigger_counter__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LOGIC_trigger_counter__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LOGIC_trigger_counter__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Wait_30_Mins</name>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Wait 30 Mins</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
