force-app/main/default/flows/Contact_Last_Inbound_Activity_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Conversion_Handler</name>
        <label>Conversion Handler</label>
        <locationX>490</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No Conversion</defaultConnectorLabel>
        <rules>
            <name>Conversion_Found_Recent_Update</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoFreeTrialWithin4Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoRecentConversionDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_Conversion_Priority</targetReference>
            </connector>
            <label>Conversion Found, Recent Update</label>
        </rules>
        <rules>
            <name>Conversion_Found_No_Recent_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoRecentConversionDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoFreeTrialWithin4Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Conversion</targetReference>
            </connector>
            <label>Conversion Found, No Recent Updates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_Ranking_Handler</name>
        <label>Priority Ranking Handler</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>No Prior, No Update</defaultConnectorLabel>
        <rules>
            <name>Prior_Found_No_Free_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_Conversion_Priority</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoFreeTrialWithin4Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping.Priority_Ranking__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Prior_Conversion_Priority.Priority_Ranking__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoRecentConversionDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_with_IB_Activity</targetReference>
            </connector>
            <label>Prior Found, No Free Trial</label>
        </rules>
        <rules>
            <name>Prior_Found_Free_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_Conversion_Priority</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoFreeTrialWithin4Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping.Priority_Ranking__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoRecentConversionDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_with_IB_Activity</targetReference>
            </connector>
            <label>Prior Found, Free Trial</label>
        </rules>
        <rules>
            <name>Prior_Found_Free_Trial_Recent_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_Conversion_Priority</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoFreeTrialWithin4Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoRecentConversionDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping.Priority_Ranking__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Prior_Conversion_Priority.Priority_Ranking__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping.Priority_Ranking__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_with_IB_Activity</targetReference>
            </connector>
            <label>Prior Found, Free Trial &amp; Recent Activity</label>
        </rules>
        <rules>
            <name>No_Prior_Free_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_Conversion_Priority</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoFreeTrialWithin4Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping.Priority_Ranking__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_with_IB_Activity</targetReference>
            </connector>
            <label>No Prior, Free Trial</label>
        </rules>
    </decisions>
    <decisions>
        <name>School_Evaluation_Handler</name>
        <label>School Evaluation Handler</label>
        <locationX>1502</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_To_Free_Trial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update to PTL</defaultConnectorLabel>
        <rules>
            <name>Don_t_Update_to_PTL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Conversion_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Conversion_Mapping.Priority_Ranking__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Update to PTL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger_Evaluation</name>
        <label>Trigger Evaluation</label>
        <locationX>1150</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HS_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_Form_submissions__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HS_Recent_conversion__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.HS_Recent_conversion__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_HS_Conversion_Mapping</targetReference>
            </connector>
            <label>HS Change</label>
        </rules>
        <rules>
            <name>School_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Object__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoRecentConversionDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Free_Trial</targetReference>
            </connector>
            <label>School Change</label>
        </rules>
        <rules>
            <name>School_Change_Needs_Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Object__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoRecentConversionDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conversion_Mapping</targetReference>
            </connector>
            <label>School Change, Needs Evaluation</label>
        </rules>
    </decisions>
    <description>Evaluates last inbound activity based on HS recent activity updates</description>
    <formulas>
        <name>NoFreeTrialWithin4Days</name>
        <dataType>Boolean</dataType>
        <expression>OR(DATEVALUE({!$Record.School_Object__r.CreatedDate}) &lt;= TODAY()-4,
ISNULL({!$Record.School_Object__c}))</expression>
    </formulas>
    <formulas>
        <name>NoRecentConversionDate</name>
        <dataType>Boolean</dataType>
        <expression>OR(DATEVALUE({!$Record__Prior.HS_Recent_conversion_date__c}) &lt;= Today()-4,
ISNULL({!$Record__Prior.HS_Recent_conversion_date__c}))</expression>
    </formulas>
    <interviewLabel>Contact - Last Inbound Activity Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Last Inbound Activity Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Conversion_Mapping</name>
        <label>Get Conversion Mapping</label>
        <locationX>1502</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>School_Evaluation_Handler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HS_Recent_Convers__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HS_Recent_conversion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HS_Conversion_Mapping__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_Conversion_Type__c</queriedFields>
        <queriedFields>Priority_Ranking__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HS_Conversion_Mapping</name>
        <label>Get HS Conversion Mapping</label>
        <locationX>490</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conversion_Handler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HS_Recent_Convers__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HS_Recent_conversion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HS_Conversion_Mapping__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_Conversion_Type__c</queriedFields>
        <queriedFields>Priority_Ranking__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prior_Conversion_Priority</name>
        <label>Get Prior Conversion Priority</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Priority_Ranking_Handler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HS_Recent_Convers__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.HS_Recent_conversion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HS_Conversion_Mapping__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Priority_Ranking__c</queriedFields>
        <queriedFields>Sales_Conversion_Type__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Conversion</name>
        <label>Update Contact Conversion</label>
        <locationX>666</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Last_Inbound_Activity__c</field>
            <value>
                <elementReference>Get_HS_Conversion_Mapping.Sales_Conversion_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_with_IB_Activity</name>
        <label>Update Contact with IB Activity</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>Last_Inbound_Activity__c</field>
            <value>
                <elementReference>Get_HS_Conversion_Mapping.Sales_Conversion_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Free_Trial</name>
        <label>Update To Free Trial</label>
        <locationX>1150</locationX>
        <locationY>1583</locationY>
        <inputAssignments>
            <field>Last_Inbound_Activity__c</field>
            <value>
                <stringValue>PTL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1024</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Trigger_Evaluation</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>HS_Recent_conversion__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HS_Form_submissions__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>School_Object__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
