force-app/main/default/flows/Contact_to_Organization_matching.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Account_already_connected_to_Org</name>
        <label>Account already connected to Org</label>
        <locationX>3370</locationX>
        <locationY>148</locationY>
        <defaultConnector>
            <targetReference>Incoming_contact_has_required_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Org</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Incoming_Contact.Account.Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_with_Account_Org</targetReference>
            </connector>
            <label>Has Org</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_has_Org</name>
        <label>Account has Org</label>
        <locationX>280</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_All_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_from_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_from_Contact.Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Organization_All</targetReference>
            </connector>
            <label>record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Incoming_contact_has_required_data</name>
        <label>Incoming contact has required data</label>
        <locationX>3585</locationX>
        <locationY>148</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_required_info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Incoming_Contact.Account.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Incoming_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Incoming_Contact.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Incoming_Contact.MailingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_BW_Org_record</targetReference>
            </connector>
            <label>All required info</label>
        </rules>
    </decisions>
    <decisions>
        <description>School name, Phone, Email, State</description>
        <name>Organization_All</name>
        <label>Organization - All</label>
        <locationX>1391</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_School_name_Phone_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_All</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_All</targetReference>
            </connector>
            <label>record found All</label>
        </rules>
    </decisions>
    <decisions>
        <description>School name, Phone, State</description>
        <name>Organization_All_Account</name>
        <label>Organization - All - Account</label>
        <locationX>406</locationX>
        <locationY>382</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_School_name_Phone_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_All_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_All_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_All</targetReference>
            </connector>
            <label>record found All</label>
        </rules>
    </decisions>
    <decisions>
        <description>School name, Phone, State</description>
        <name>Organization_All_Account_BW</name>
        <label>Organization - All - Account</label>
        <locationX>786</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_School_name_Phone_Account_BW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_All_Account_BW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_All_Account_BW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_All_BW</targetReference>
            </connector>
            <label>record found All</label>
        </rules>
    </decisions>
    <decisions>
        <description>School name, Phone, Email, State</description>
        <name>Organization_All_BW</name>
        <label>Organization - All</label>
        <locationX>2445</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_School_name_Phone_Email_BW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_All_BW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_All_BW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_All_BW</targetReference>
            </connector>
            <label>record found All</label>
        </rules>
    </decisions>
    <decisions>
        <description>Email</description>
        <name>Organization_Email</name>
        <label>Organization - Email</label>
        <locationX>2188</locationX>
        <locationY>1378</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Email</targetReference>
            </connector>
            <label>record found Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Email</description>
        <name>Organization_Email_BW</name>
        <label>Organization - Email</label>
        <locationX>3242</locationX>
        <locationY>1365</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_Phone_BW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_Email_BW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_Email_BW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Email_BW</targetReference>
            </connector>
            <label>record found Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Name, Email, Phone</description>
        <name>Organization_Name_Email_Phone</name>
        <label>Organization - Name, Email, Phone</label>
        <locationX>1930</locationX>
        <locationY>961</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_Phone_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_Name_Email_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_Name_Email_Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Name_Email_Phone</targetReference>
            </connector>
            <label>record found Name, Email, Phone</label>
        </rules>
    </decisions>
    <decisions>
        <description>Name, Email, Phone</description>
        <name>Organization_Name_Email_Phone_BW</name>
        <label>Organization - Name, Email, Phone</label>
        <locationX>2984</locationX>
        <locationY>948</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_Phone_Email_BW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_Name_Email_Phone_BW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_Name_Email_Phone_BW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Name_Email_Phone_BW</targetReference>
            </connector>
            <label>record found Name, Email, Phone</label>
        </rules>
    </decisions>
    <decisions>
        <description>Phone</description>
        <name>Organization_Phone</name>
        <label>Organization - Phone</label>
        <locationX>2318</locationX>
        <locationY>1556</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_All_BW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Phone</targetReference>
            </connector>
            <label>record found Phone</label>
        </rules>
    </decisions>
    <decisions>
        <description>Phone</description>
        <name>Organization_Phone_Account</name>
        <label>Organization - Phone - Account</label>
        <locationX>660</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_All_Account_BW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_Phone_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_Phone_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Phone</targetReference>
            </connector>
            <label>record found Phone - Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Phone</description>
        <name>Organization_Phone_Account_BW</name>
        <label>Organization - Phone - Account</label>
        <locationX>1041</locationX>
        <locationY>1401</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_All</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_Phone_Account_BW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_Phone_Account_BW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Phone_BW</targetReference>
            </connector>
            <label>record found Phone - Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Phone</description>
        <name>Organization_Phone_BW</name>
        <label>Organization - Phone</label>
        <locationX>3372</locationX>
        <locationY>1543</locationY>
        <defaultConnector>
            <targetReference>Account_already_connected_to_Org</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_Phone_BW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_Phone_BW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Phone_BW</targetReference>
            </connector>
            <label>record found Phone</label>
        </rules>
    </decisions>
    <decisions>
        <description>Phone, Email</description>
        <name>Organization_Phone_Email</name>
        <label>Organization - Phone, Email</label>
        <locationX>2060</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_Phone_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_Phone_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Phone_Email</targetReference>
            </connector>
            <label>record found Phone, Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Phone, Email</description>
        <name>Organization_Phone_Email_BW</name>
        <label>Organization - Phone, Email</label>
        <locationX>3114</locationX>
        <locationY>1162</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_Email_BW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_Phone_Email_BW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_Phone_Email_BW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Phone_Email_BW</targetReference>
            </connector>
            <label>record found Phone, Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>School name, Email</description>
        <name>Organization_School_name_Email</name>
        <label>Organization - School name, Email</label>
        <locationX>1660</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_School_name_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_School_name_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_School_name_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_School_name_Email</targetReference>
            </connector>
            <label>record found School name, Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>School name, Email</description>
        <name>Organization_School_name_Email_BW</name>
        <label>Organization - School name, Email</label>
        <locationX>2714</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_School_name_Phone_BW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_School_name_Email_BW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_School_name_Email_BW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_School_name_Email_BW</targetReference>
            </connector>
            <label>record found School name, Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>School name, Phone</description>
        <name>Organization_School_name_Phone</name>
        <label>Organization - School name, Phone</label>
        <locationX>1792</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_Name_Email_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_School_name_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_School_name_Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_School_name_Phone</targetReference>
            </connector>
            <label>record found School name, Phone</label>
        </rules>
    </decisions>
    <decisions>
        <description>School name, Phone</description>
        <name>Organization_School_name_Phone_Account</name>
        <label>Organization - School name, Phone - Account</label>
        <locationX>533</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_Phone_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_School_name_Phone_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_School_name_Phone_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_School_name_Phone</targetReference>
            </connector>
            <label>record found School name, Phone - Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>School name, Phone</description>
        <name>Organization_School_name_Phone_Account_BW</name>
        <label>Organization - School name, Phone - Account</label>
        <locationX>914</locationX>
        <locationY>1197</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_Phone_Account_BW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_School_name_Phone_Account_BW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_School_name_Phone_Account_BW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_School_name_Phone_BW</targetReference>
            </connector>
            <label>record found School name, Phone - Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>School name, Phone</description>
        <name>Organization_School_name_Phone_BW</name>
        <label>Organization - School name, Phone</label>
        <locationX>2846</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_Name_Email_Phone_BW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_School_name_Phone_BW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_School_name_Phone_BW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_School_name_Phone_BW</targetReference>
            </connector>
            <label>record found School name, Phone</label>
        </rules>
    </decisions>
    <decisions>
        <description>School name, Phone, Email</description>
        <name>Organization_School_name_Phone_Email</name>
        <label>Organization - School name, Phone, Email</label>
        <locationX>1527</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_School_name_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_School_name_Phone_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_School_name_Phone_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_School_name_Phone_Email</targetReference>
            </connector>
            <label>record found School name, Phone, Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>School name, Phone, Email</description>
        <name>Organization_School_name_Phone_Email_BW</name>
        <label>Organization - School name, Phone, Email</label>
        <locationX>2581</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>Find_Organization_School_name_Email_BW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found_School_name_Phone_Email_BW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Organization_School_name_Phone_Email_BW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_School_name_Phone_Email_BW</targetReference>
            </connector>
            <label>record found School name, Phone, Email</label>
        </rules>
    </decisions>
    <description>Contact to Organization matching on various data points</description>
    <formulas>
        <name>SUBSTITUTE_phone_account</name>
        <dataType>String</dataType>
        <expression>IF(
     NOT(ISBLANK({!Account_from_Contact.Phone})),
     IF(
          LEN(
                   SUBSTITUTE(
                   SUBSTITUTE(
                   SUBSTITUTE(
                   SUBSTITUTE(
                   SUBSTITUTE({!Account_from_Contact.Phone} , &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;+&quot;, &quot;&quot;)
        ) = 11,
        MID(
                  SUBSTITUTE(
                  SUBSTITUTE(
                  SUBSTITUTE(
                  SUBSTITUTE(
                  SUBSTITUTE({!Account_from_Contact.Phone} , &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;+&quot;, &quot;&quot;)
                  , 2, 10
        ),
        TRIM(
                    SUBSTITUTE(
                    SUBSTITUTE(
                    SUBSTITUTE(
                    SUBSTITUTE(
                    SUBSTITUTE({!Account_from_Contact.Phone} , &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;+&quot;, &quot;&quot;)
        )
        ),
        &apos;1&apos;
)</expression>
    </formulas>
    <formulas>
        <name>SUBSTITUTE_phone_contact</name>
        <dataType>String</dataType>
        <expression>IF(
     NOT(ISBLANK({!Incoming_Contact.Phone})),
     IF(
          LEN(
                   SUBSTITUTE(
                   SUBSTITUTE(
                   SUBSTITUTE(
                   SUBSTITUTE(
                   SUBSTITUTE({!Incoming_Contact.Phone} , &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;+&quot;, &quot;&quot;)
        ) = 11,
        MID(
                  SUBSTITUTE(
                  SUBSTITUTE(
                  SUBSTITUTE(
                  SUBSTITUTE(
                  SUBSTITUTE({!Incoming_Contact.Phone} , &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;+&quot;, &quot;&quot;)
                  , 2, 10
        ),
        TRIM(
                    SUBSTITUTE(
                    SUBSTITUTE(
                    SUBSTITUTE(
                    SUBSTITUTE(
                    SUBSTITUTE({!Incoming_Contact.Phone} , &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;+&quot;, &quot;&quot;)
        )
        ),
        &apos;1&apos;
)</expression>
    </formulas>
    <formulas>
        <name>SUBSTITUTE_school_name_account</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE( {!Account_from_Contact.Name} ,&quot;&apos;&quot;,&quot;&quot;) ,&quot;’&quot;,&quot;&quot;) ,&quot;‘&quot;,&quot;&quot;) ,&quot;/&quot;,&quot;&quot;) ,&quot;.&quot;,&quot;&quot;) ,&quot;-&quot;,&quot;&quot;) ,&quot;,&quot;,&quot;&quot;) ,&quot;#&quot;,&quot;&quot;) ,&quot;&amp;&quot;,&quot;&quot;) ,&quot;)&quot;,&quot;&quot;) ,&quot;(&quot;,&quot;&quot;) ,&quot;)&quot;,&quot;&quot;) ,&quot;!&quot;,&quot;&quot;) ,&quot;[&quot;,&quot;&quot;) ,&quot;]&quot;,&quot;&quot;) ,&quot;\&quot;&quot;,&quot;&quot;) ,&quot;“&quot;,&quot;&quot;) ,&quot;”&quot;,&quot;&quot;) ,&quot;=&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>SUBSTITUTE_school_name_contact</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE( {!Incoming_Contact.Account.Name} ,&quot;&apos;&quot;,&quot;&quot;) ,&quot;’&quot;,&quot;&quot;) ,&quot;‘&quot;,&quot;&quot;) ,&quot;/&quot;,&quot;&quot;) ,&quot;.&quot;,&quot;&quot;) ,&quot;-&quot;,&quot;&quot;) ,&quot;,&quot;,&quot;&quot;) ,&quot;#&quot;,&quot;&quot;) ,&quot;&amp;&quot;,&quot;&quot;) ,&quot;)&quot;,&quot;&quot;) ,&quot;(&quot;,&quot;&quot;) ,&quot;)&quot;,&quot;&quot;) ,&quot;!&quot;,&quot;&quot;) ,&quot;[&quot;,&quot;&quot;) ,&quot;]&quot;,&quot;&quot;) ,&quot;\&quot;&quot;,&quot;&quot;) ,&quot;“&quot;,&quot;&quot;) ,&quot;”&quot;,&quot;&quot;) ,&quot;=&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Lead to Organization matching {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact to Organization matching</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_BW_Org_record</name>
        <label>New BW Org record</label>
        <locationX>3793</locationX>
        <locationY>149</locationY>
        <assignRecordIdToReference>New_BW_Org_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Connect_contact_to_BW_Org_record</targetReference>
        </connector>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Incoming_Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Incoming_Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outbound_Email__c</field>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outbound_Phone__c</field>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123u000000aNTLAA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Name__c</field>
            <value>
                <elementReference>Incoming_Contact.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Incoming_Contact.MailingState</elementReference>
            </value>
        </inputAssignments>
        <object>Organization__c</object>
    </recordCreates>
    <recordLookups>
        <name>Account_from_Contact</name>
        <label>Account from Contact</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_has_Org</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Organization__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>School name, Phone, Email, State</description>
        <name>Find_Organization_All</name>
        <label>Find Organization - All</label>
        <locationX>1272</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_school_name_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.MailingState</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTGAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>School name, Phone, State</description>
        <name>Find_Organization_All_Account</name>
        <label>Find Organization - All - Account</label>
        <locationX>287</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_All_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_school_name_account</elementReference>
            </value>
        </filters>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_account</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_from_Contact.BillingState</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTGAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>School name, Phone, State</description>
        <name>Find_Organization_All_Account_BW</name>
        <label>Find Organization - All - Account</label>
        <locationX>669</locationX>
        <locationY>994</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_All_Account_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_school_name_account</elementReference>
            </value>
        </filters>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_account</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_from_Contact.BillingState</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTLAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>School name, Phone, Email, State</description>
        <name>Find_Organization_All_BW</name>
        <label>Find Organization - All</label>
        <locationX>2326</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_All_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_school_name_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.MailingState</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTLAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Email</description>
        <name>Find_Organization_Email</name>
        <label>Find Organization - Email</label>
        <locationX>2068</locationX>
        <locationY>1376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTGAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Email</description>
        <name>Find_Organization_Email_BW</name>
        <label>Find Organization - Email</label>
        <locationX>3122</locationX>
        <locationY>1363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_Email_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTLAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Name, Email, Phone</description>
        <name>Find_Organization_Name_Email_Phone</name>
        <label>Find Organization - Name, Email, Phone</label>
        <locationX>1800</locationX>
        <locationY>959</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_Name_Email_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTGAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Name, Email, Phone</description>
        <name>Find_Organization_Name_Email_Phone_BW</name>
        <label>Find Organization - Name, Email, Phone</label>
        <locationX>2854</locationX>
        <locationY>946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_Name_Email_Phone_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTLAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Phone</description>
        <name>Find_Organization_Phone</name>
        <label>Find Organization - Phone</label>
        <locationX>2196</locationX>
        <locationY>1554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Normalized_Phone_Length__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTGAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Phone</description>
        <name>Find_Organization_Phone_Account</name>
        <label>Find Organization - Phone - Account</label>
        <locationX>541</locationX>
        <locationY>789</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_Phone_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_account</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTGAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Phone</description>
        <name>Find_Organization_Phone_Account_BW</name>
        <label>Find Organization - Phone - Account</label>
        <locationX>922</locationX>
        <locationY>1399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_Phone_Account_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_account</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTLAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Phone</description>
        <name>Find_Organization_Phone_BW</name>
        <label>Find Organization - Phone</label>
        <locationX>3250</locationX>
        <locationY>1541</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_Phone_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Normalized_Phone_Length__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTLAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Phone, Email</description>
        <name>Find_Organization_Phone_Email</name>
        <label>Find Organization - Phone, Email</label>
        <locationX>1938</locationX>
        <locationY>1173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_Phone_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTGAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Phone, Email</description>
        <name>Find_Organization_Phone_Email_BW</name>
        <label>Find Organization - Phone, Email</label>
        <locationX>2992</locationX>
        <locationY>1160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_Phone_Email_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTLAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>School name, Email</description>
        <name>Find_Organization_School_name_Email</name>
        <label>Find Organization - School name, Email</label>
        <locationX>1535</locationX>
        <locationY>553</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_School_name_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Normalized_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_school_name_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTGAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>School name, Email</description>
        <name>Find_Organization_School_name_Email_BW</name>
        <label>Find Organization - School name, Email</label>
        <locationX>2589</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_School_name_Email_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Normalized_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_school_name_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTLAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>School name, Phone</description>
        <name>Find_Organization_School_name_Phone</name>
        <label>Find Organization - School name, Phone</label>
        <locationX>1669</locationX>
        <locationY>754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_School_name_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Normalized_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_school_name_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTGAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>School name, Phone</description>
        <name>Find_Organization_School_name_Phone_Account</name>
        <label>Find Organization - School name, Phone - Account</label>
        <locationX>414</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_School_name_Phone_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_school_name_account</elementReference>
            </value>
        </filters>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_account</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTGAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>School name, Phone</description>
        <name>Find_Organization_School_name_Phone_Account_BW</name>
        <label>Find Organization - School name, Phone - Account</label>
        <locationX>795</locationX>
        <locationY>1195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_School_name_Phone_Account_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_school_name_account</elementReference>
            </value>
        </filters>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_account</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTLAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>School name, Phone</description>
        <name>Find_Organization_School_name_Phone_BW</name>
        <label>Find Organization - School name, Phone</label>
        <locationX>2723</locationX>
        <locationY>741</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_School_name_Phone_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Normalized_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_school_name_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTLAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>School name, Phone, Email</description>
        <name>Find_Organization_School_name_Phone_Email</name>
        <label>Find Organization - School name, Phone, Email</label>
        <locationX>1400</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_School_name_Phone_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_school_name_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTGAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>School name, Phone, Email</description>
        <name>Find_Organization_School_name_Phone_Email_BW</name>
        <label>Find Organization - School name, Phone, Email</label>
        <locationX>2454</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_School_name_Phone_Email_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Normalized_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_school_name_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Normalized_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBSTITUTE_phone_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Outbound_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Outbound_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNTLAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>School name, Phone, State</description>
        <name>Account_All</name>
        <label>Account - All (1)</label>
        <locationX>602</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Find_Organization_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_from_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_All_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone, State</description>
        <name>Account_All_BW</name>
        <label>Account - All (4)</label>
        <locationX>982</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Find_Organization_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_from_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_All_Account_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Phone</description>
        <name>Account_Phone</name>
        <label>Account - Phone (3)</label>
        <locationX>902</locationX>
        <locationY>790</locationY>
        <connector>
            <targetReference>Find_Organization_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_from_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Phone_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Phone</description>
        <name>Account_Phone_BW</name>
        <label>Account - Phone (6)</label>
        <locationX>1283</locationX>
        <locationY>1400</locationY>
        <connector>
            <targetReference>Find_Organization_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_from_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Phone_Account_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone</description>
        <name>Account_School_name_Phone</name>
        <label>Account - School name, Phone (2)</label>
        <locationX>775</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>Find_Organization_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_from_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Phone_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone</description>
        <name>Account_School_name_Phone_BW</name>
        <label>Account - School name, Phone (5)</label>
        <locationX>1156</locationX>
        <locationY>1194</locationY>
        <connector>
            <targetReference>Find_Organization_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_from_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Phone_Account_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Connect_contact_to_BW_Org_record</name>
        <label>Connect contact to BW Org record</label>
        <locationX>3793</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>Connect_contacts_account_to_BW_Org_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>New_BW_Org_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Connect_contacts_account_to_BW_Org_record</name>
        <label>Connect contacts account to BW Org record</label>
        <locationX>3793</locationX>
        <locationY>424</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>New_BW_Org_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone, Email, State</description>
        <name>Contact_All</name>
        <label>Contact - All (1)</label>
        <locationX>1587</locationX>
        <locationY>182</locationY>
        <connector>
            <targetReference>Update_associated_account_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_All.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone, Email, State</description>
        <name>Contact_All_BW</name>
        <label>Contact - All (1)</label>
        <locationX>2641</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>Update_associated_account_All_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_All_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Email</description>
        <name>Contact_Email</name>
        <label>Contact - Email (7)</label>
        <locationX>2403</locationX>
        <locationY>1376</locationY>
        <connector>
            <targetReference>Update_associated_account_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Email</description>
        <name>Contact_Email_BW</name>
        <label>Contact - Email (7)</label>
        <locationX>3457</locationX>
        <locationY>1363</locationY>
        <connector>
            <targetReference>Update_associated_account_Email_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Email_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Name, Email, Phone</description>
        <name>Contact_Name_Email_Phone</name>
        <label>Contact - Name, Email, Phone (5)</label>
        <locationX>2161</locationX>
        <locationY>959</locationY>
        <connector>
            <targetReference>Update_associated_account_Name_Email_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Name_Email_Phone.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Name, Email, Phone</description>
        <name>Contact_Name_Email_Phone_BW</name>
        <label>Contact - Name, Email, Phone (5)</label>
        <locationX>3215</locationX>
        <locationY>946</locationY>
        <connector>
            <targetReference>Update_associated_account_Name_Email_Phone_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Name_Email_Phone_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Phone</description>
        <name>Contact_Phone</name>
        <label>Contact - Phone (8)</label>
        <locationX>2536</locationX>
        <locationY>1554</locationY>
        <connector>
            <targetReference>Update_associated_account_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Phone.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Phone</description>
        <name>Contact_Phone_BW</name>
        <label>Contact - Phone (8)</label>
        <locationX>3590</locationX>
        <locationY>1541</locationY>
        <connector>
            <targetReference>Update_associated_account_Phone_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Phone_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Phone, Email</description>
        <name>Contact_Phone_Email</name>
        <label>Contact - Phone, Email (6)</label>
        <locationX>2296</locationX>
        <locationY>1173</locationY>
        <connector>
            <targetReference>Update_associated_account_Phone_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Phone_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Phone, Email</description>
        <name>Contact_Phone_Email_BW</name>
        <label>Contact - Phone, Email (6)</label>
        <locationX>3350</locationX>
        <locationY>1160</locationY>
        <connector>
            <targetReference>Update_associated_account_Phone_Email_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Phone_Email_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Email</description>
        <name>Contact_School_name_Email</name>
        <label>Contact - School name, Email (3)</label>
        <locationX>1896</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Update_associated_account_School_name_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Email</description>
        <name>Contact_School_name_Email_BW</name>
        <label>Contact - School name, Email (3)</label>
        <locationX>2950</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_associated_account_School_name_Email_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Email_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone</description>
        <name>Contact_School_name_Phone</name>
        <label>Contact - School name, Phone (4)</label>
        <locationX>2025</locationX>
        <locationY>753</locationY>
        <connector>
            <targetReference>Update_associated_account_School_name_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Phone.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone</description>
        <name>Contact_School_name_Phone_BW</name>
        <label>Contact - School name, Phone (4)</label>
        <locationX>3079</locationX>
        <locationY>740</locationY>
        <connector>
            <targetReference>Update_associated_account_School_name_Phone_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Phone_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone, Email</description>
        <name>Contact_School_name_Phone_Email</name>
        <label>Contact - School name, Phone, Email  (2)</label>
        <locationX>1762</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>Update_associated_account_School_name_Phone_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Phone_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone, Email</description>
        <name>Contact_School_name_Phone_Email_BW</name>
        <label>Contact - School name, Phone, Email  (2)</label>
        <locationX>2816</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Update_associated_account_School_name_Phone_Email_BW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Phone_Email_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone, Email, State</description>
        <name>Update_associated_account_All</name>
        <label>Update associated account - All (1)</label>
        <locationX>1708</locationX>
        <locationY>182</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_All.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone, Email, State</description>
        <name>Update_associated_account_All_BW</name>
        <label>Update associated account - All (1)</label>
        <locationX>2762</locationX>
        <locationY>169</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_All_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Email</description>
        <name>Update_associated_account_Email</name>
        <label>Update associated account - Email (7)</label>
        <locationX>2538</locationX>
        <locationY>1376</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Email</description>
        <name>Update_associated_account_Email_BW</name>
        <label>Update associated account - Email (7)</label>
        <locationX>3592</locationX>
        <locationY>1363</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Email_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Name, Email, Phone</description>
        <name>Update_associated_account_Name_Email_Phone</name>
        <label>Update associated account - Name, Email, Phone (5)</label>
        <locationX>2292</locationX>
        <locationY>959</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Name_Email_Phone.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Name, Email, Phone</description>
        <name>Update_associated_account_Name_Email_Phone_BW</name>
        <label>Update associated account - Name, Email, Phone (5)</label>
        <locationX>3346</locationX>
        <locationY>946</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Name_Email_Phone_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Phone</description>
        <name>Update_associated_account_Phone</name>
        <label>Update associated account - Phone (8)</label>
        <locationX>2675</locationX>
        <locationY>1554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Phone.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Phone</description>
        <name>Update_associated_account_Phone_BW</name>
        <label>Update associated account - Phone (8)</label>
        <locationX>3726</locationX>
        <locationY>1541</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Phone_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Phone, Email</description>
        <name>Update_associated_account_Phone_Email</name>
        <label>Update associated account - Phone, Email (6)</label>
        <locationX>2422</locationX>
        <locationY>1173</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Phone_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Phone, Email</description>
        <name>Update_associated_account_Phone_Email_BW</name>
        <label>Update associated account - Phone, Email (6)</label>
        <locationX>3473</locationX>
        <locationY>1160</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_Phone_Email_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Email</description>
        <name>Update_associated_account_School_name_Email</name>
        <label>Update associated account - School name, Email (3)</label>
        <locationX>2023</locationX>
        <locationY>552</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Email</description>
        <name>Update_associated_account_School_name_Email_BW</name>
        <label>Update associated account - School name, Email (3)</label>
        <locationX>3077</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Email_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone</description>
        <name>Update_associated_account_School_name_Phone</name>
        <label>Update associated account - School name, Phone (4)</label>
        <locationX>2155</locationX>
        <locationY>753</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Phone.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone</description>
        <name>Update_associated_account_School_name_Phone_BW</name>
        <label>Update associated account - School name, Phone (4)</label>
        <locationX>3209</locationX>
        <locationY>740</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Phone_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone, Email</description>
        <name>Update_associated_account_School_name_Phone_Email</name>
        <label>Update associated account - School name, Phone, Email (2)</label>
        <locationX>1889</locationX>
        <locationY>348</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Phone_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>School name, Phone, Email</description>
        <name>Update_associated_account_School_name_Phone_Email_BW</name>
        <label>Update associated account - School name, Phone, Email (2)</label>
        <locationX>2943</locationX>
        <locationY>335</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Find_Organization_School_name_Phone_Email_BW.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_with_Account_Org</name>
        <label>Update Contact with Account Org</label>
        <locationX>3202</locationX>
        <locationY>147</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incoming_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>Incoming_Contact.Account.Organization__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_match_strength__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Account_from_Contact</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Incoming_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>New_BW_Org_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
