force-app/main/default/flows/Contact_After_Save_Gone_Dark_Sequence_Update_Opportunity_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Opportunity_to</name>
        <label>Add Opportunity to UpdateOpportunities</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>UpdateOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thro_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thro_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Post_CW_Status</name>
        <label>Assign Post CW Status</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_thro_Opps.Post_CW_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unresponsive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_to</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opportunities_found</name>
        <label>Opportunities found?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Opportunities_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thro_Opps</targetReference>
            </connector>
            <label>Found Opportunities to Update</label>
        </rules>
    </decisions>
    <description>When a contact is sequenced into the &quot;Sales - Gone Dark&quot; sequence (i.e., the Most Recent Sequence Entered equals Sales - Gone Dark), any associated Post CW Opportunities currently in the &quot;SSPR Collection&quot; stage will have their Post CW Status updated to &quot;Unresponsive.&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Contact - After Save - Gone Dark Sequence- Update Opportunity Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - After Save - Gone Dark Sequence- Update Opportunity Status</label>
    <loops>
        <name>Loop_thro_Opps</name>
        <label>Loop thro Opps</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Related_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Post_CW_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get related opportunities where the contact is the primary contact and the opportunity&apos;s stage = SSPR Collection</description>
        <name>Get_Related_Opportunities</name>
        <label>Get Related Opportunities</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunities_found</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSPR Collection</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>UpdateOpportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Opportunities</targetReference>
        </connector>
        <filterLogic>( 1 AND 2 ) OR ( 1 AND 3 )</filterLogic>
        <filters>
            <field>RDNACadence__Cadence_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RDNACadence__Cadence_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales - Gone Dark</stringValue>
            </value>
        </filters>
        <filters>
            <field>RDNACadence__Cadence_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sales - Gone Dark</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>collection of opportunities that need to have their Post CW Status updated</description>
        <name>UpdateOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
