force-app/main/default/flows/Contact_Before_Save_Webinar_1_Sequence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found?</label>
        <locationX>1535</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_School_Object</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Correct_Sequence</name>
        <label>Correct Sequence</label>
        <locationX>710</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>OBS_SaaS_Billing_Activation_Drip_2_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sequence 2.5</defaultConnectorLabel>
        <rules>
            <name>Sequence_2_6_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaaSActivationDateFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OBS_SaaS_Activated_Billing_Drip_2_6</targetReference>
            </connector>
            <label>Sequence 2.6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mapping_Found</name>
        <label>Mapping Found?</label>
        <locationX>1238</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_mapping_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sequence_on_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the account is only CW on SaaS or Billing as well</description>
        <name>SaaS_Billing_CW</name>
        <label>SaaS &amp; Billing CW</label>
        <locationX>182</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Update_Sequence_SaaS_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SaaS Only</defaultConnectorLabel>
        <rules>
            <name>SaaS_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.School_Object__r.Billing_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sequence_on_Contact_SaaS_Billing</targetReference>
            </connector>
            <label>SaaS &amp; Billing</label>
        </rules>
    </decisions>
    <decisions>
        <name>School_Object_Found</name>
        <label>School Object Found?</label>
        <locationX>1172</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_School_Object_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sequences_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks which group of sequences a contact should be added to based on common requirements for each group.</description>
        <name>Sequences_Group</name>
        <label>Sequences Group</label>
        <locationX>710</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Get_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Original Sequences</defaultConnectorLabel>
        <rules>
            <name>Small_Single_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerSegmentFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Small</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_School_Object.Number_of_Sites__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Related_Payer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaaS_Billing_CW</targetReference>
            </connector>
            <label>Small Single Site</label>
        </rules>
        <rules>
            <name>Activation_Drips</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_Sequences25and26</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correct_Sequence</targetReference>
            </connector>
            <label>Activation Drips</label>
        </rules>
    </decisions>
    <description>06/08/23 - Updated flow to include two new sequences for when a small segment account is closed won on billing or not (Sprint 6 - 2023)
09/21/23 - Updated flow to correct contact&apos;s Outreach sequence routing (Sprint 17)</description>
    <environments>Default</environments>
    <formulas>
        <name>AddParentsThresholdMetFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account.School_Object__r.Add_Parents_Threshold_Met__c}),&apos;&apos;,&apos;not null&apos;)</expression>
    </formulas>
    <formulas>
        <description>Returns &quot;No&quot; if the field Billing Launch Date on the related school object is empty. Otherwise, returns &quot;Yes&quot;.</description>
        <name>BillingClosedWonFormula</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Get_School_Object.Billing_Start_Date__c}),
&quot;No&quot;,
&quot;Yes&quot;
)</expression>
    </formulas>
    <formulas>
        <name>BillingLaunchEligible</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_School_Object.Billing_Start_Date__c} &gt;= {!BillingLaunchWindow}, true, false)</expression>
    </formulas>
    <formulas>
        <description>Generates a date for a Billing Launch Date two weeks prior to the flow running</description>
        <name>BillingLaunchWindow</name>
        <dataType>Date</dataType>
        <expression>TODAY()-60</expression>
    </formulas>
    <formulas>
        <name>BillingVerifiedDateFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_School_Object.Verification_Verified_Date__c}),&apos;&apos;,&apos;not null&apos;)</expression>
    </formulas>
    <formulas>
        <description>Pulls the value from the field Customer Segment on the related account</description>
        <name>CustomerSegmentFormula</name>
        <dataType>String</dataType>
        <expression>IF(AND({!$Record.Account.Capacity__c} &gt;=10, {!$Record.Account.Capacity__c} &lt;=39), &apos;Small&apos;, IF(AND({!$Record.Account.Capacity__c} &gt;=40, {!$Record.Account.Capacity__c} &lt;=149), &apos;Medium&apos;, IF({!$Record.Account.Capacity__c} &gt;= 150, &apos;Large&apos;, &apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <description>Evaluates various field combinations that could send a contact to either sequence  &apos;OBS - SaaS Activated, Billing Drip [2.6]&apos; or &apos;OBS - SaaS &amp; Billing Activation Drip [2.5]&apos;.</description>
        <name>forB_Sequences25and26</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
{!NumberOfSitesFormula} = &quot;1&quot;,
{!AddParentsThresholdMetFormula} = &apos;not null&apos;,
{!UploadStudentsThresholdMetFormula} = &apos;not null&apos;,
{!InitiateParentSignupsThresholdMetFormula} = &apos;not null&apos;,
{!LogFirstActivityThresholdMetFormula} = &apos;not null&apos;,
{!BillingLaunchEligible} = true,
{!BillingVerifiedDateFormula} = &apos;not null&apos;,
{!SaaSActivationDateFormula} = &quot;&quot;
),
AND(
{!NumberOfSitesFormula} = &quot;1&quot;,
{!AddParentsThresholdMetFormula} = &apos;not null&apos;,
{!UploadStudentsThresholdMetFormula} = &apos;not null&apos;,
{!InitiateParentSignupsThresholdMetFormula} = &quot;&quot;,
{!LogFirstActivityThresholdMetFormula} = &quot;&quot;,
{!BillingLaunchEligible} = true,
{!BillingVerifiedDateFormula} = &apos;not null&apos;,
{!SaaSActivationDateFormula} = &quot;&quot;
),
AND(
{!NumberOfSitesFormula} = &quot;1&quot;,
{!AddParentsThresholdMetFormula} = &apos;not null&apos;,
{!UploadStudentsThresholdMetFormula} = &apos;not null&apos;,
{!InitiateParentSignupsThresholdMetFormula} = &apos;not null&apos;,
{!LogFirstActivityThresholdMetFormula} = &quot;&quot;,
{!BillingLaunchEligible} = true,
{!BillingVerifiedDateFormula} = &apos;not null&apos;,
{!SaaSActivationDateFormula} = &quot;&quot;
),
AND(
{!NumberOfSitesFormula} = &quot;1&quot;,
{!AddParentsThresholdMetFormula} = &apos;not null&apos;,
{!UploadStudentsThresholdMetFormula} = &apos;not null&apos;,
{!InitiateParentSignupsThresholdMetFormula} = &quot;&quot;,
{!LogFirstActivityThresholdMetFormula} = &apos;not null&apos;,
{!BillingLaunchEligible} = true,
{!BillingVerifiedDateFormula} = &apos;not null&apos;,
{!SaaSActivationDateFormula} = &quot;&quot;
),
AND(
{!NumberOfSitesFormula} = &quot;1&quot;,
{!AddParentsThresholdMetFormula} = &apos;not null&apos;,
{!UploadStudentsThresholdMetFormula} = &apos;not null&apos;,
{!InitiateParentSignupsThresholdMetFormula} = &apos;not null&apos;,
{!LogFirstActivityThresholdMetFormula} = &apos;not null&apos;,
{!BillingLaunchEligible} = true,
{!BillingVerifiedDateFormula} = &apos;not null&apos;,
{!SaaSActivationDateFormula} = &apos;not null&apos;
)
)</expression>
    </formulas>
    <formulas>
        <name>InitiateParentSignupsThresholdMetFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account.School_Object__r.Initiate_Parent_Signups_Threshold_Met__c}),&apos;&apos;,&apos;not null&apos;)</expression>
    </formulas>
    <formulas>
        <name>LogFirstActivityThresholdMetFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account.School_Object__r.Log_First_Activity_Threshold_Met__c}),&apos;&apos;,&apos;not null&apos;)</expression>
    </formulas>
    <formulas>
        <name>NumberOfSitesFormula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Account.School_Object__r.Number_of_Sites__c} =1,&quot;1&quot;,&quot;&gt;1&quot;)</expression>
    </formulas>
    <formulas>
        <name>SaaSActivationDateFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account.School_Object__r.SaaS_Activation_Date__c}),&apos;&apos;,&apos;not null&apos;)</expression>
    </formulas>
    <formulas>
        <name>UploadStudentsThresholdMetFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account.School_Object__r.Upload_Students_Threshold_Met__c}),&apos;&apos;,&apos;not null&apos;)</expression>
    </formulas>
    <interviewLabel>Contact - Before Save - Webinar 1 Sequence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Before Save - Webinar 1 Sequence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1535</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>1238</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mapping_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Add_Parents_Threshold_Met__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddParentsThresholdMetFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Upload_Students_Threshold_Met__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UploadStudentsThresholdMetFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Initiate_Parent_Signups_Threshold_Met__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InitiateParentSignupsThresholdMetFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Log_First_Activity_Threshold_Met__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LogFirstActivityThresholdMetFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Number_of_Sites__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NumberOfSitesFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Outreach_Sequence_Mapping__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Outreach_Sequence_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_School_Object</name>
        <label>Get School Object</label>
        <locationX>1172</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>School_Object_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.School_Object__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>School_Object__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>OBS_SaaS_Activated_Billing_Drip_2_6</name>
        <label>OBS - SaaS Activated, Billing Drip [2.6]</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Webinar_1_Sequence__c</field>
            <value>
                <stringValue>OBS - SaaS Activated, Billing Drip [2.6]</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OBS_SaaS_Billing_Activation_Drip_2_5</name>
        <label>OBS - SaaS &amp; Billing Activation Drip [2.5]</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Webinar_1_Sequence__c</field>
            <value>
                <stringValue>OBS - SaaS &amp; Billing Activation Drip [2.5]</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sequence_on_Contact</name>
        <label>Update Sequence on Contact</label>
        <locationX>1106</locationX>
        <locationY>1043</locationY>
        <inputAssignments>
            <field>Webinar_1_Sequence__c</field>
            <value>
                <elementReference>Get_Metadata.Outreach_Sequence_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sequence_on_Contact_SaaS_Billing</name>
        <label>Update Sequence on Contact SaaS &amp; Billing</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Webinar_1_Sequence__c</field>
            <value>
                <stringValue>OBS - Intro: LMS, SaaS &amp; Billing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sequence_SaaS_Only</name>
        <label>Update Sequence SaaS Only</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Webinar_1_Sequence__c</field>
            <value>
                <stringValue>OBS - Intro: LMS, SaaS Only</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1409</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Webinar_1_Completed_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Webinar_1_Completed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Owner_Role__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
