force-app/main/default/flows/Contact_Cadence_Retention_Exit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that removes the Contact from all cadences and sets the completion reason to ManuallyRemoved.</description>
        <name>Remove_Contact</name>
        <label>Remove Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>removeTargetFromSalesCadence</actionName>
        <actionType>removeTargetFromSalesCadence</actionType>
        <connector>
            <targetReference>Remove_Most_Recent_Cadence</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionReasonCode</name>
            <value>
                <stringValue>AutomaticallyExited</stringValue>
            </value>
        </inputParameters>
        <nameSegment>removeTargetFromSalesCadence</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determines whether the ID of the GetActiveCadenceTrackerRecord exists.</description>
        <name>Has_Cadence_Tracker_ID</name>
        <label>Has Cadence Tracker ID?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>CadenceTrackerIdExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Cadence.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Active_Cadence.ActionCadence.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RETN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Exit Cadence flow for: Contacts, Retention</description>
    <environments>Default</environments>
    <interviewLabel>Contact - Cadence {Retention} - Exit - After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Cadence {Retention} - Exit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets a cadence tracker record with a Target ID matching the Contact ID of the triggering record and with a State not equal to Complete or Error. Stores the ID of the returned record in the GetActiveCadenceTrackerRecord record variable.</description>
        <name>Get_Active_Cadence</name>
        <label>Get Active Cadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Cadence_Tracker_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadenceTracker</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActionCadenceId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Most_Recent_Cadence</name>
        <label>Remove Most Recent Cadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Most_Recent_Cadence_Entered__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SE_Tag__c</field>
            <value>
                <stringValue>Contact - Cadence {Retention} - Exit</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Do_Not_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Most_Recent_Case_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Most_Recent_Case_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding Handoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>Most_Recent_Case_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Most_Recent_Case_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Most_Recent_Case_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Most_Recent_Case_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto Closed</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Run_20_Record_Batch</name>
            <connector>
                <targetReference>Get_Active_Cadence</targetReference>
            </connector>
            <label>Run 20-Record Batch</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
