force-app/main/default/flows/Contact_Scheduled_Revio_Sequence_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks if the record was already updated today</description>
        <name>Record_Already_Updated_Today</name>
        <label>Record Already Updated Today?</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Update_Admin_Tag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordAlreadyUpdatedToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ADMIN_Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>forT_AdminTagStamp</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates contact records flagged as either &quot;Onboarding Billing Primary Contact&quot; or &quot;Onboarding SaaS Primary Contact&quot; to make Rev.io reevaluate entry criteria.
01/04/24 - Updated flow&apos;s entry criteria.
01/11/23 - PE - Updated entry criteria to not run on records where field &quot;Most Recent Sequence Entered&quot; is populated.
02/02/24 - PE - Updated entry criteria.
02/12/24 - PE - Updated entry criteria ([2024-02-12 14:11:24])
05/24/24 - PE - Updated entry criteria

THIS FLOW HAS A CLONED VERSION SET TO RUN LATER IN THE DAY.</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_AdminTagStamp</name>
        <dataType>String</dataType>
        <expression>&quot;PE - Flow Update - Rev.io Contact Trigger &quot; &amp; TEXT(TODAY()) &amp; &quot; &quot; &amp; TEXT(NOW())</expression>
    </formulas>
    <interviewLabel>Contact - Scheduled - Revio Sequence Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Scheduled - Revio Sequence Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates admn tag field stamping today&apos;s date so the contact record gets updated and reevaluated on sequences entry criteria.</description>
        <name>Update_Admin_Tag</name>
        <label>Update Admin Tag</label>
        <locationX>308</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>ADMIN_Tag__c</field>
            <value>
                <elementReference>forT_AdminTagStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Already_Updated_Today</targetReference>
        </connector>
        <filterLogic>(((1 OR 2) AND ((3 OR 4) OR (20 AND (21 OR 22)))) OR (5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 23)) AND 19</filterLogic>
        <filters>
            <field>Onboarding_Billing_Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_SaaS_Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Onboarding_Funnel_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SaaS_Onboarding_Funnel_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rescheduling</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verbal Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>EC_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>EC_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>EC_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </filters>
        <filters>
            <field>EC_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </filters>
        <filters>
            <field>EC_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>EC_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rescheduling</stringValue>
            </value>
        </filters>
        <filters>
            <field>EC_Upsell_Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verbal Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>RDNACadence__Cadence_ID__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Account_Onboarding_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Brand New Program</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Onboarding_Funnel_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SaaS_Onboarding_Funnel_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>New_Case_Type__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-12-20</startDate>
            <startTime>03:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
