force-app/main/default/flows/Contact_After_Create_EC_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ExistingOppFFSlackApex</name>
        <label>ExistingOppFFSlack</label>
        <locationX>132</locationX>
        <locationY>600</locationY>
        <actionName>PostSlackMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>Get_EC_Opportunity.Owner.Slack_user_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>existingOppFFSlack</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <stringValue>xoxb-4837365695-992742781238-Ff5IoJWIuI3KsAlRX2Np5lzO</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PostSlackMessage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reassign_Education_Owner</name>
        <label>Reassign Education Owner</label>
        <locationX>1188</locationX>
        <locationY>816</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Contact_Subflow_Create_EC_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Education_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>EC Upsell</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>compares the education owner on the account of the contact who triggered this flow with the new EC In App Router Event created today&apos;s assigned to user id</description>
        <name>Compare_EDU_Owner</name>
        <label>Compare EDU Owner</label>
        <locationX>572</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Contact_Subflow_Create_EC_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Education_Owner_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Education_Owner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Education_Owner_to_match_event</targetReference>
            </connector>
            <label>Education Owner is Null</label>
        </rules>
        <rules>
            <name>Edu_Owner_Mismatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Education_Owner__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_EC_In_App_Router_Events.Owner:User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Education_Owner_to_match_event</targetReference>
            </connector>
            <label>Edu Owner Mismatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Education_Owner_Decision</name>
        <label>Education Owner Decision</label>
        <locationX>1100</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Reassign_Education_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Needs Reassignment</defaultConnectorLabel>
        <rules>
            <name>Correct_EDU_owner_Continue</name>
            <conditionLogic>1 OR (2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Education_Owner__r.UserRole.DeveloperName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Upsell_Sales_Specialist_Education</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Education_Owner__r.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EC Engagement User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Education_Owner__r.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Manager_Government</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Education_Owner__r.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Head_of_Government_Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Subflow_Create_EC_Opportunity</targetReference>
            </connector>
            <label>Correct EDU owner - Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_EC_In_App_Router_Event_Created_Today</name>
        <label>Found EC In-App Router Event Created Today</label>
        <locationX>836</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Education_Owner_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EC_In_App_Router_Events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compare_EDU_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_EC_Opp_Found</name>
        <label>Open EC Opp Found?</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Get_EC_In_App_Router_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found - Create EC Opp</defaultConnectorLabel>
        <rules>
            <name>Found_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EC_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Needs_EC_Opp_Flag</targetReference>
            </connector>
            <label>Found - End</label>
        </rules>
    </decisions>
    <description>record-triggered flow to fire when Contact.Needs_EC_Opp_Created__c = TRUE to create a new EC Opportunity
JH 8/4/25: updated the non create path to uncheck the needs EC opp created checkbox and slack owner of new form fill
JH 8/13/25: added decision to check who the Education Owner is on the account to ensure its routed to a EDU rep correctly before the ec opp is creating in the subflow.
JH 8/25/25 - updated logic for EC In App Router updates, if event was recently created and EDU owner is null, update it to match the assigned to on the event</description>
    <environments>Default</environments>
    <formulas>
        <name>varLast24HoursCutoff</name>
        <dataType>DateTime</dataType>
        <expression>$Flow.CurrentDateTime - 1</expression>
    </formulas>
    <interviewLabel>Contact - After - Create EC Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - After - Create EC Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EC_In_App_Router_Events</name>
        <label>Get EC In App Router Events</label>
        <locationX>836</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_EC_In_App_Router_Event_Created_Today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Router_Name_CP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EC In-App Router</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varLast24HoursCutoff</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EC_Opportunity</name>
        <label>Get EC Opportunity</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_EC_Opp_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Experience_Curriculum_Opportunity</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck_Needs_EC_Opp_Flag</name>
        <label>Uncheck Needs EC Opp Flag</label>
        <locationX>132</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>ExistingOppFFSlackApex</targetReference>
        </connector>
        <inputAssignments>
            <field>Needs_EC_Opp_Created__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Education_Owner_to_match_event</name>
        <label>Update Account Education Owner to match event</label>
        <locationX>572</locationX>
        <locationY>966</locationY>
        <connector>
            <targetReference>Contact_Subflow_Create_EC_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Education_Owner__c</field>
            <value>
                <elementReference>Get_EC_In_App_Router_Events.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Needs_EC_Opp_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_min_Delay_Path</name>
            <connector>
                <targetReference>Get_EC_Opportunity</targetReference>
            </connector>
            <label>1 min Delay Path</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Contact_Subflow_Create_EC_Opportunity</name>
        <label>Contact - Subflow - Create EC Opportunity</label>
        <locationX>836</locationX>
        <locationY>1158</locationY>
        <flowName>Contact_Subflow_Create_EC_Opportunity</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>existingOppFFSlack</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new EEL Demo Request Form was submitted and an open EC opportunity already exists on that Account: https://brightwheel1.my.salesforce.com/{!Get_EC_Opportunity.Id}</text>
    </textTemplates>
</Flow>
