force-app/main/default/flows/Event_Stamp_original_leadID_and_fields_on_create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CP_Meeting_or_Live_Demo_Event</name>
        <label>CP Meeting or Live Demo Event?</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_snapshot_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Chili_Piper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Meeting_Type_CP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_CP_Mtg_record_type_and_snapshot_fields</targetReference>
            </connector>
            <label>Chili Piper Meeting</label>
        </rules>
        <rules>
            <name>Live_Demo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123u000000ivfNAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Booked_By</targetReference>
            </connector>
            <label>Live Demo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Type</name>
        <label>Event Type?</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_snapshot_fields_and_Activity_Type_c2</targetReference>
            </connector>
            <label>Discovery Call</label>
        </rules>
        <rules>
            <name>Demo_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_snapshot_fields_and_Activity_Type_C</targetReference>
            </connector>
            <label>Demo Call</label>
        </rules>
    </decisions>
    <description>On event creation, stamps original lead ID field, assigned to role snapshot, booked by role snapshot, booked up if its a live demo, and updates chili piper meetings to CP meeting record type. Built to replace 4 inactive PBs: &quot;Event Original Lead ID&quot;, &quot;Sales Funnel - Activity Type_c Updates for Live Transfers and Live Demos Events&quot;, &quot;Chili Piper meetings record type&quot;, &quot;Booked By - Autopopulation&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>OriginalLeadID18</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$Record.WhoId})</expression>
    </formulas>
    <interviewLabel>Event - Stamp original leadID and fields on create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Stamp original leadID and fields on create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Booked_By</name>
        <label>Update Booked By</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Event_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Booked_By__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OriginalLeadID</name>
        <label>Update OriginalLeadID</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>CP_Meeting_or_Live_Demo_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Original_Lead_ID__c</field>
            <value>
                <elementReference>OriginalLeadID18</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_snapshot_fields</name>
        <label>Update snapshot fields</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Assigned_To_Role_Snapshot__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booked_By_Role_Snapshot__c</field>
            <value>
                <elementReference>$Record.Booked_By__r.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_snapshot_fields_and_Activity_Type_C</name>
        <label>Update snapshot fields and Activity Type_c</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Assigned_To_Role_Snapshot__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booked_By_Role_Snapshot__c</field>
            <value>
                <elementReference>$Record.Booked_By__r.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task__c</field>
            <value>
                <stringValue>Demo Call</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_snapshot_fields_and_Activity_Type_c2</name>
        <label>Update snapshot fields and Activity Type_c</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Assigned_To_Role_Snapshot__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booked_By_Role_Snapshot__c</field>
            <value>
                <elementReference>$Record.Booked_By__r.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task__c</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_CP_Mtg_record_type_and_snapshot_fields</name>
        <label>Update to CP Mtg record type and snapshot fields</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Assigned_To_Role_Snapshot__c</field>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booked_By_Role_Snapshot__c</field>
            <value>
                <elementReference>$Record.Booked_By__r.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123u000000yyQhAAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_OriginalLeadID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
