force-app/main/default/flows/HS_Progressive_Forms_Set_delay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Set Flow Id from pause workflow</description>
    <formulas>
        <description>1 min</description>
        <name>Min_delay</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+0.0007</expression>
    </formulas>
    <interviewLabel>HS Progressive Forms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HS Progressive Forms - Set delay</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_delay</name>
        <label>Clear delay</label>
        <locationX>458</locationX>
        <locationY>206</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HS_Delay_Distribution__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Flow_Id</name>
        <label>Flow Id</label>
        <locationX>176</locationX>
        <locationY>203</locationY>
        <connector>
            <targetReference>HS_Delay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Flow_Id__c</field>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Flow_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Lead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>HS_Delay</name>
        <label>HS Delay</label>
        <locationX>311</locationX>
        <locationY>203</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Delay</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Clear_delay</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Min_delay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Delay</label>
        </waitEvents>
    </waits>
</Flow>
