force-app/main/default/flows/LDC_Screen_Flow_Mass_Re_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Leads_Query_Apex</name>
        <label>Call Leads Query Apex</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <actionName>QueryLeadsByOwnersInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Leads_Found_decision</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>queue0numLeads</name>
            <value>
                <elementReference>Number_of_Leads_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queue0Id</name>
            <value>
                <elementReference>Queue_Selection_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queue1numLeads</name>
            <value>
                <elementReference>Number_of_Leads_1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queue1Id</name>
            <value>
                <elementReference>Queue_Selection_1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queue2numLeads</name>
            <value>
                <elementReference>Number_of_Leads_2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queue2Id</name>
            <value>
                <elementReference>Queue_Selection_2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queue3numLeads</name>
            <value>
                <elementReference>Number_of_Leads_3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queue3Id</name>
            <value>
                <elementReference>Queue_Selection_3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queue4numLeads</name>
            <value>
                <elementReference>Number_of_Leads_4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queue4Id</name>
            <value>
                <elementReference>Queue_Selection_4</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QueryLeadsByOwnersInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Lead_Owner</name>
        <label>Assign Lead Owner</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LeadTemp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Leads_to_Assign_to_Campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadTemp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Request_Record.Rep_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadTemp.Inbound_or_Outbound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LDC Assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadTemp.Outreach_stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadTemp.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lead_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_to_Collection</name>
        <label>Assign Lead to Collection</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>LeadsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadTemp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>LeadsToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Leads_to_Assign_to_Campaign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Leads_Found_decision</name>
        <label>Leads Found?</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_Leads_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Leads_Found_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApexOutputEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Leads_to_Assign_to_Campaign</targetReference>
            </connector>
            <label>Yes Leads Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_Matching_to_Assigned</name>
        <label>Requested Matching to Assigned?</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Requested_Not_Matching_Assigned_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_matching_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadsRequestedForDistribution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LeadCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Owners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LDC_Queue_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>LDC_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>If the Apex doesn&apos;t return any results, the output is formatted as &quot;[]&quot;. This formula identifies that value and returns a true or false.</description>
        <name>ApexOutputEmpty</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Call_Leads_Query_Apex.leadIds} = &quot;[]&quot;,FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <name>LeadsRequestedForDistribution</name>
        <dataType>Number</dataType>
        <expression>{!Number_of_Leads_0}+IF(ISNULL({!Number_of_Leads_1}),0,{!Number_of_Leads_1})+
IF(ISNULL({!Number_of_Leads_2}),0,{!Number_of_Leads_2})+
IF(ISNULL({!Number_of_Leads_3}),0,{!Number_of_Leads_3})+
IF(ISNULL({!Number_of_Leads_4}),0,{!Number_of_Leads_4})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>LDC - Screen Flow - Mass Re-Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LDC - Screen Flow - Mass Re-Assignment</label>
    <loops>
        <name>Loop_Leads_to_Assign_to_Campaign</name>
        <label>Loop Leads to Assign to Campaign</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Call_Leads_Query_Apex.leadIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Lead_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Requested_Matching_to_Assigned</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead_Request_Record</name>
        <label>Get Lead Request Record</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rep_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Owners</name>
        <label>Update Lead Owners</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>LeadsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!LeadCount}&lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; &lt;/strong&gt;Leads from the selected Queue(s) have been assigned to {!Get_Lead_Request_Record.Rep_Name__r.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>402</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Error&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;An error occurred when trying to assign Leads from the selected Queue(s) to the User. Please try again or contact the Administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Leads_Found_Screen</name>
        <label>No Leads Found Screen</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoLeadsTextDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;We did not find any Leads from the selected Queue(s). Please verify there are Leads owned by the&amp;nbsp;Queue(s) and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Queue_Selection</name>
        <label>Queue Selection</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_Leads_Query_Apex</targetReference>
        </connector>
        <fields>
            <name>Queue_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queue_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Leads_0</name>
                    <dataType>Number</dataType>
                    <fieldText># of Leads</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queue_Selection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Queue_Selection_0</name>
                    <choiceReferences>LDC_Queue_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Queue</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queue_Selection_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Add_Another_0</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Add</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Queue_Selection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queue_Selection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Leads_1</name>
                    <dataType>Number</dataType>
                    <fieldText># of Leads</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queue_Selection_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Queue_Selection_1</name>
                    <choiceReferences>LDC_Queue_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Queue</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queue_Selection_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Add_Another_1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Add</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Another_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queue_Selection_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queue_Selection_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Leads_2</name>
                    <dataType>Number</dataType>
                    <fieldText># of Leads</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queue_Selection_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Queue_Selection_2</name>
                    <choiceReferences>LDC_Queue_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Queue</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queue_Selection_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Add_Another_2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Add</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Another_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queue_Selection_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queue_Selection_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Leads_3</name>
                    <dataType>Number</dataType>
                    <fieldText># of Leads</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queue_Selection_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Queue_Selection_3</name>
                    <choiceReferences>LDC_Queue_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Queue</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queue_Selection_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Add_Another_3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Add</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Another_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queue_Selection_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Queue_Selection_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Leads_4</name>
                    <dataType>Number</dataType>
                    <fieldText># of Leads</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queue_Selection_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Queue_Selection_4</name>
                    <choiceReferences>LDC_Queue_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Queue</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Queue_Selection_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Another_3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Requested_Not_Matching_Assigned_Screen</name>
        <label>Requested Not Matching Assigned Screen</label>
        <locationX>138</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lead_Owners</targetReference>
        </connector>
        <fields>
            <name>RequestingNotMatchingErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error: Requested amount not available in selected Queues.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Requested: {!LeadsRequestedForDistribution}&lt;/p&gt;&lt;p&gt;Ready to Assign: {!LeadCount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you would like to proceed with the Leads that are ready to assign, click next. Otherwise, please verify the requested amount.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Request_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LeadRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
