force-app/main/default/flows/Lead_Last_Inbound_Activity_on_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Conversion_Validation</name>
        <label>Conversion Validation</label>
        <locationX>1040</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Conversion</defaultConnectorLabel>
        <rules>
            <name>Conversion_Found_Recent_Update</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecentConversionDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FreeTrialWithin4Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_HS_Conversion</targetReference>
            </connector>
            <label>Conversion Found, Recent Update</label>
        </rules>
        <rules>
            <name>Conversion_Found_No_Recent_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecentConversionDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FreeTrialWithin4Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inbound_Activity_on_Lead</targetReference>
            </connector>
            <label>Conversion Found, No Recent Updates</label>
        </rules>
        <rules>
            <name>No_Conversion_Free_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FreeTrialWithin4Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Inbound_Activity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PTL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_PTL</targetReference>
            </connector>
            <label>No Conversion, Free Trial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_Ranking_Handler</name>
        <label>Priority Ranking Handler</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>Prior_Found_No_Free_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_HS_Conversion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FreeTrialWithin4Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping.Priority_Ranking__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Prior_HS_Conversion.Priority_Ranking__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_with_New_Inbound_Activity</targetReference>
            </connector>
            <label>Prior Found, No Free Trial</label>
        </rules>
        <rules>
            <name>Prior_Found_Free_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_HS_Conversion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping.Priority_Ranking__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FreeTrialWithin4Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Lead_with_New_Inbound_Activity</targetReference>
            </connector>
            <label>Prior Found, Free Trial</label>
        </rules>
        <rules>
            <name>No_Prior_Free_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_HS_Conversion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FreeTrialWithin4Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HS_Conversion_Mapping.Priority_Ranking__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Lead_with_New_Inbound_Activity</targetReference>
            </connector>
            <label>No Prior, Free Trial</label>
        </rules>
    </decisions>
    <description>When HS activity is triggered, evaluates if last inbound activity field needs to be updated</description>
    <formulas>
        <name>FreeTrialWithin4Days</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!$Record.School_Object__r.CreatedDate}) &gt;= TODAY()-4</expression>
    </formulas>
    <formulas>
        <name>RecentConversionDate</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!$Record__Prior.HS_Recent_conversion_date__c}) &gt;= Today()-4</expression>
    </formulas>
    <interviewLabel>Lead - Last Inbound Activity on Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Last Inbound Activity on Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HS_Conversion_Mapping</name>
        <label>Get HS Conversion Mapping</label>
        <locationX>1040</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conversion_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HS_Recent_Convers__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HS_Recent_conversion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HS_Conversion_Mapping__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_Conversion_Type__c</queriedFields>
        <queriedFields>Priority_Ranking__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prior_HS_Conversion</name>
        <label>Get Prior HS Conversion</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Priority_Ranking_Handler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HS_Recent_Convers__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.HS_Recent_conversion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HS_Conversion_Mapping__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_Conversion_Type__c</queriedFields>
        <queriedFields>Priority_Ranking__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inbound_Activity_on_Lead</name>
        <label>Update Inbound Activity on Lead</label>
        <locationX>1106</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Last_Inbound_Activity__c</field>
            <value>
                <elementReference>Get_HS_Conversion_Mapping.Sales_Conversion_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_with_New_Inbound_Activity</name>
        <label>Update Lead with New Inbound Activity</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Last_Inbound_Activity__c</field>
            <value>
                <elementReference>Get_HS_Conversion_Mapping.Sales_Conversion_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_PTL</name>
        <label>Update to PTL</label>
        <locationX>1370</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Last_Inbound_Activity__c</field>
            <value>
                <stringValue>PTL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_HS_Conversion_Mapping</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>HS_Form_submissions__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HS_Recent_conversion__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>School_Object__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
