force-app/main/default/flows/Lead_Create_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>HFP_not_NULL</name>
        <label>HFP not NULL</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>THS_not_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HFP_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_HubSpot_Form_Priority__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_Scoring</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>THS_not_NULL</name>
        <label>THS not NULL</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_THS_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SFDC_Total_Hubspot_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Score_Scoring</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Create After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Create After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Priority_Scoring</name>
        <label>Priority Scoring</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>THS_not_NULL</targetReference>
        </connector>
        <inputAssignments>
            <field>Field_Event__c</field>
            <value>
                <stringValue>HubSpot Form Priority </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Recent_conversion__c</field>
            <value>
                <elementReference>$Record.HS_Recent_conversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.HS_HubSpot_Form_Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Scoring__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Score_Scoring</name>
        <label>Score Scoring</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Field_Event__c</field>
            <value>
                <stringValue>Total HubSpot Score</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Recent_conversion__c</field>
            <value>
                <elementReference>$Record.HS_Recent_conversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.HS_HubSpot_Form_Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <object>Scoring__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HFP_not_NULL</targetReference>
        </connector>
        <filterFormula>{!$Permission.Admin_Data_Loader} = FALSE</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
