force-app/main/default/flows/Lead_Updates_After_Save_Flow_CC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Leads</name>
        <label>Convert Leads</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LeanData_Revenue_Sequence_Type_Clear</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <stringValue>0053u0000035xeBAAQ</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_Leads_Org_with_Parent</name>
        <label>Convert Leads Org with Parent</label>
        <locationX>182</locationX>
        <locationY>7403</locationY>
        <actionName>ConvertLeadsInvocableOrg</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Auto_Converted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_accounts_from_org.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocableOrg</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_Leads_Org_without_Account</name>
        <label>Convert Leads Org without Account</label>
        <locationX>446</locationX>
        <locationY>7403</locationY>
        <actionName>ConvertLeadsInvocableOrg</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Auto_Converted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocableOrg</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Email_prospect_of_IPR</name>
        <label>Email prospect of IPR</label>
        <locationX>314</locationX>
        <locationY>2339</locationY>
        <actionName>Lead.In_Product_Request_email_to_submitter</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>First_assignment_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.In_Product_Request_email_to_submitter</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASN_Clear_LDC_First_Call_Date</name>
        <label>Clear LDC First Call Date</label>
        <locationX>314</locationX>
        <locationY>4031</locationY>
        <assignmentItems>
            <assignToReference>$Record.LDC_First_Call_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nullDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Moved_from_queue_to_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Date_Stamp_CHAMP_Score_Achieved_field</name>
        <label>Date Stamp CHAMP Score Achieved field</label>
        <locationX>160</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.CHAMP_Score_Achieved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Date_Set_on_Lead_Conversion_New_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Date_Time_Stamp_First_Assigned</name>
        <label>Date/Time Stamp First Assigned</label>
        <locationX>314</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>$Record.LOGIC_First_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LOGIC_Last_Assigned__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_HS_form_submission_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Previous_Lead_Owner</name>
        <label>Previous Lead Owner</label>
        <locationX>292</locationX>
        <locationY>5255</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Lead_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Organization_User_Reassignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Previous_Lead_Owner_Update</name>
        <label>Previous Lead Owner Update</label>
        <locationX>292</locationX>
        <locationY>4439</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Lead_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Organization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Status_Last_Changed_Field_Today</name>
        <label>Status Last Changed Field = Today</label>
        <locationX>314</locationX>
        <locationY>7895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Scoring_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Update_to_assigned_status</name>
        <label>Update to assigned status</label>
        <locationX>292</locationX>
        <locationY>4331</locationY>
        <assignmentItems>
            <assignToReference>$Record.OR_Sync_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrSyncTest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Target_Resell_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ASN_Previous_Lead_Owner_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Organization_Record_Owner</name>
        <label>Assign Organization Record Owner</label>
        <locationX>160</locationX>
        <locationY>6287</locationY>
        <assignmentItems>
            <assignToReference>Get_Organization_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Account_Queue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Organization_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_LDRST</name>
        <label>Clear LDRST</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeanData_Revenue_Sequence_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_CHAMP_Score_is_greater_or_equal_to_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Organization_Owner_Update</name>
        <label>Organization Owner Update</label>
        <locationX>160</locationX>
        <locationY>4763</locationY>
        <assignmentItems>
            <assignToReference>Get_Organization.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Organization_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Organization_Owner_Update_Sales_Reassignment</name>
        <label>Organization Owner Update - Sales Reassignment</label>
        <locationX>160</locationX>
        <locationY>5579</locationY>
        <assignmentItems>
            <assignToReference>Get_Organization_User_Reassignment.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Organization_Owner_Sales_Reassignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Close_Date</name>
        <label>Set Opportunity Close Date</label>
        <locationX>160</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today30</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opp_Close_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Found_Dec</name>
        <label>Account Found Dec</label>
        <locationX>182</locationX>
        <locationY>7295</locationY>
        <defaultConnector>
            <targetReference>Convert_Leads_Org_without_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Parent Account</defaultConnectorLabel>
        <rules>
            <name>Converted_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Converted Lead</label>
        </rules>
        <rules>
            <name>Found_Parent_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_accounts_from_org.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Leads_Org_with_Parent</targetReference>
            </connector>
            <label>Found Parent Accounts</label>
        </rules>
    </decisions>
    <decisions>
        <description>Process Builder - Auto conversion trigger</description>
        <name>Auto_conversion_trigger</name>
        <label>Auto conversion trigger</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>LeanData_Revenue_Sequence_Type_Clear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Lead_with_Premium_plan_single_site</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 7 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOGIC_Premium_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Object__r.is_user_default_school__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Object__r.School_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Object__r.LOGIC_associated_leads__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Object__r.LOGIC_associated_accounts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School_Object__r.LOGIC_associated_accounts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bypass_Logic</targetReference>
            </connector>
            <label>Lead with Premium plan (single site)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Process Builder - Close Date Set on Lead Conversion New Opp</description>
        <name>Close_Date_Set_on_Lead_Conversion_New_Opp</name>
        <label>Close Date Set on Lead Conversion New Opp</label>
        <locationX>446</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Email_to_prospect_IPR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_is_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Opportunity</targetReference>
            </connector>
            <label>Lead is Converted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Process Builder - CHAMP Score is greater or equal to 3</description>
        <name>DEC_CHAMP_Score_is_greater_or_equal_to_3</name>
        <label>CHAMP Score is greater or equal to 3</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Close_Date_Set_on_Lead_Conversion_New_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DEC_CHAMP_Score_is_greater_or_equal_to_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CHAMP_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CHAMP_Score__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CHAMP_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Date_Stamp_CHAMP_Score_Achieved_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Date_Stamp_CHAMP_Score_Achieved_field</name>
        <label>Date Stamp CHAMP Score Achieved field</label>
        <locationX>292</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Close_Date_Set_on_Lead_Conversion_New_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DEC_Date_Stamp_CHAMP_Score_Achieved_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CHAMP_Score_Achieved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASN_Date_Stamp_CHAMP_Score_Achieved_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Process Builder - LDC - Update First Call</description>
        <name>DEC_Last_Transfer_Date_Change</name>
        <label>Last Transfer Date Change</label>
        <locationX>446</locationX>
        <locationY>3923</locationY>
        <defaultConnector>
            <targetReference>DEC_Moved_from_queue_to_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DEC_Last_Transfer_Date_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LDC_Last_Transfered_At__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LDC_Last_Transfered_At__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASN_Clear_LDC_First_Call_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Moved_from_queue_to_owner</name>
        <label>Moved from queue to owner</label>
        <locationX>446</locationX>
        <locationY>4223</locationY>
        <defaultConnector>
            <targetReference>DEC_Moved_from_user_to_user_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DEC_Moved_from_queue_to_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOGIC_Owned_by_queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LOGIC_Owned_by_queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASN_Update_to_assigned_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Moved_from_user_to_user_owner</name>
        <label>Moved from user to user owner</label>
        <locationX>446</locationX>
        <locationY>5147</locationY>
        <defaultConnector>
            <targetReference>Moved_from_owner_to_queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DEC_Moved_from_user_to_user_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LOGIC_Owned_by_queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASN_Previous_Lead_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Scoring_Update</name>
        <label>Scoring Update</label>
        <locationX>446</locationX>
        <locationY>8087</locationY>
        <defaultConnector>
            <targetReference>DEC_Scoring_Update_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_DEC_Scoring_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_HubSpot_Form_Priority__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.HS_HubSpot_Form_Priority__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_Scoring_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Scoring_Update_0</name>
        <label>Scoring Update - 0</label>
        <locationX>446</locationX>
        <locationY>8387</locationY>
        <defaultConnector>
            <targetReference>DEC_Scoring_Update_100</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DEC_Scoring_Update_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SFDC_Total_Hubspot_Score__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SFDC_Total_Hubspot_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Total_Hubspot_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scoring_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Scoring_Update_100</name>
        <label>Scoring Update - 100</label>
        <locationX>446</locationX>
        <locationY>8687</locationY>
        <defaultConnector>
            <targetReference>Lead_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DEC_Scoring_Update_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SFDC_Total_Hubspot_Score__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SFDC_Total_Hubspot_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Total_Hubspot_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SFDC_Total_Hubspot_Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scoring_100</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Process Builder - HubSpot lead notification tasks</description>
        <name>Duplicateformsubmission3</name>
        <label>Duplicate form submission</label>
        <locationX>446</locationX>
        <locationY>3623</locationY>
        <defaultConnector>
            <targetReference>DEC_Last_Transfer_Date_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicateformsubmission2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_Recent_conversion_date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.HS_Recent_conversion_date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HS_Last_form_submission_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.HS_Last_form_submission_type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HS_Last_form_submission_type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HS_First_conversion_date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HS_Recent_conversion_date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_notification_duplicate_submission</targetReference>
            </connector>
            <label>Duplicate form submission</label>
        </rules>
    </decisions>
    <decisions>
        <description>Process Builder - Email to prospect IPR</description>
        <name>Email_to_prospect_IPR</name>
        <label>Email to prospect IPR</label>
        <locationX>446</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>First_assignment_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_IPR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOGIC_Open_IPR_task__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_prospect_of_IPR</targetReference>
            </connector>
            <label>New IPR</label>
        </rules>
    </decisions>
    <decisions>
        <description>Process Builder - HubSpot lead notification tasks</description>
        <name>Existing_HS_form_submission_notification</name>
        <label>Existing HS form submission notification</label>
        <locationX>446</locationX>
        <locationY>3131</locationY>
        <defaultConnector>
            <targetReference>Existing_HS_form_submission_notification_Check_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_HS_form_submission_notification2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_Recent_conversion_date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.HS_Recent_conversion_date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HS_First_conversion_date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HS_Recent_conversion_date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_notification_existing_lead</targetReference>
            </connector>
            <label>Existing HS form submission notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>Process Builder - HubSpot lead notification tasks</description>
        <name>Existing_HS_form_submission_notification_Check_2</name>
        <label>Existing HS form submission notification Check 2</label>
        <locationX>644</locationX>
        <locationY>3239</locationY>
        <defaultConnector>
            <targetReference>Duplicateformsubmission3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_HS_form_submission_notification2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_First_conversion_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HS_Last_form_submission_type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HS_First_conversion_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HS_Recent_conversion_date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_notification_existing_lead_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Existing HS form submission notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Lead_Organization_Rec</name>
        <label>Find Lead Organization Rec</label>
        <locationX>292</locationX>
        <locationY>4655</locationY>
        <defaultConnector>
            <targetReference>DEC_Moved_from_user_to_user_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Organization Found</defaultConnectorLabel>
        <rules>
            <name>Found_Organization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Organization_Owner_Update</targetReference>
            </connector>
            <label>Found Organization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Org_Record</name>
        <label>Find Org Record</label>
        <locationX>292</locationX>
        <locationY>6179</locationY>
        <defaultConnector>
            <targetReference>Org_object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Org_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Organization_Record_Owner</targetReference>
            </connector>
            <label>Found Org Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Organization_Rec_Sales_Reassignment</name>
        <label>Find Organization Rec - Sales Reassignment</label>
        <locationX>292</locationX>
        <locationY>5471</locationY>
        <defaultConnector>
            <targetReference>Moved_from_owner_to_queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Organization Found</defaultConnectorLabel>
        <rules>
            <name>Found_Organization_Sales_Reassignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization_User_Reassignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Organization_Owner_Update_Sales_Reassignment</targetReference>
            </connector>
            <label>Found Organization - Sales Reassignment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Process Builder - First Assigned Field Update</description>
        <name>First_assignment_Null</name>
        <label>First assignment Null</label>
        <locationX>446</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>New_HS_form_submission_notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_assignment_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOGIC_First_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LOGIC_Last_Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LOGIC_Last_Assigned__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASN_Date_Time_Stamp_First_Assigned</targetReference>
            </connector>
            <label>First assignment Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Incoming_Lead_Owner_Dec</name>
        <label>Incoming Lead Owner Dec</label>
        <locationX>182</locationX>
        <locationY>6887</locationY>
        <defaultConnector>
            <targetReference>Update_incoming_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue or Non-Active Owner</defaultConnectorLabel>
        <rules>
            <name>Non_Queue_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_incoming_lead_Non_Owner_Update</targetReference>
            </connector>
            <label>Non-Queue Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Status_is_Changed</name>
        <label>Lead Status is Changed</label>
        <locationX>446</locationX>
        <locationY>7787</locationY>
        <defaultConnector>
            <targetReference>DEC_Scoring_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Status_is_Changed</name>
            <conditionLogic>(1 OR (3 AND 4)) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASN_Status_Last_Changed_Field_Today</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Update</name>
        <label>Lead Update?</label>
        <locationX>446</locationX>
        <locationY>8987</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_starting_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeanData_Revenue_Sequence_Type_Clear</name>
        <label>LeanData Revenue Sequence Type Clear</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>DEC_CHAMP_Score_is_greater_or_equal_to_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LDSRT_Needs_Cleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeanData_Revenue_Sequence_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RDNACadence__Cadence_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_LDRST</targetReference>
            </connector>
            <label>LDSRT Needs Cleared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Moved_from_owner_to_queue</name>
        <label>Moved from owner to queue</label>
        <locationX>446</locationX>
        <locationY>5963</locationY>
        <defaultConnector>
            <targetReference>Org_object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOGIC_Owned_by_queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LOGIC_Owned_by_queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Organization_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Process Builder - HubSpot lead notification tasks</description>
        <name>New_HS_form_submission_notification</name>
        <label>New HS form submission notification</label>
        <locationX>446</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>Existing_HS_form_submission_notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_HS_form_submission_notification2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_First_conversion_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HS_Last_form_submission_type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HS_First_conversion_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HS_Recent_conversion_date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>User Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_notification_new_lead</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New HS form submission notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>This section converts a new lead when an org with specific conditions are matched.</description>
        <name>Org_Convert_new_lead_with_matched_org</name>
        <label>Org- Convert new lead with matched org</label>
        <locationX>446</locationX>
        <locationY>6779</locationY>
        <defaultConnector>
            <targetReference>Lead_Status_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Org_Match</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Org_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Org_object.LOGIC_associated_accounts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Org_object.LOGIC_associated_Contact__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incoming_Lead_Owner_Dec</targetReference>
            </connector>
            <label>Org Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_related_Opportunity_Found</name>
        <label>Was a related Opportunity Found?</label>
        <locationX>292</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Email_to_prospect_IPR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Was_a_related_Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Close_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>&apos;First name: &apos; &amp; {!$Record.FirstName} &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;Last name: &apos; &amp; {!$Record.LastName} &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;Email: &apos; &amp; {!$Record.Email} &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;Organization name: &apos; &amp; {!$Record.Company} &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;Center Type: &apos; &amp; TEXT({!$Record.Center_Type__c}) &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;Enrollment capacity: &apos; &amp; TEXT({!$Record.School_size__c}) &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;State or province: &apos; &amp; {!$Record.State} &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;Phone number: &apos; &amp; {!$Record.Phone}</expression>
    </formulas>
    <formulas>
        <name>Description2</name>
        <dataType>String</dataType>
        <expression>&apos;First name: &apos; &amp; {!$Record.FirstName} &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;Last name: &apos; &amp; {!$Record.LastName} &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;Email: &apos; &amp; {!$Record.Email} &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;Organization name: &apos; &amp; {!$Record.Company} &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;Center Type: &apos; &amp; TEXT({!$Record.Center_Type__c}) &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;Enrollment capacity: &apos; &amp; TEXT({!$Record.School_size__c}) &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;State or province: &apos; &amp; {!$Record.State} &amp; SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;) &amp; &apos;Phone number: &apos; &amp; {!$Record.Phone}</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>newlyAssignLeadSlack</name>
        <dataType>String</dataType>
        <expression>&apos;You have been assigned a new &apos; &amp;
IF(
     ISPICKVAL({!$Record.LeadSource}, &apos;User Outreach&apos;), 
     &apos;Free Trial sign up&apos;, 
      TEXT({!$Record.HS_Last_form_submission_type__c})
 ) &amp;
&apos; lead&apos; &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;&lt;https://brightwheel1.my.salesforce.com/&apos; &amp; {!$Record.Id}  &amp; &apos;|[View in Salesforce]&gt;&apos; &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*Lead Source - Detail:* &apos; &amp; {!$Record.Lead_Source_Detail__c} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*Organization:* &apos; &amp; {!$Record.Company} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*First Name:* &apos; &amp; {!$Record.FirstName}  &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*Last Name:* &apos; &amp; {!$Record.LastName}  &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*Email:* &apos; &amp; {!$Record.Email} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*Phone:* &apos; &amp; {!$Record.Phone} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*State/Province:* &apos; &amp; {!$Record.State}</expression>
    </formulas>
    <formulas>
        <name>newlyAssignLeadSlackLindseyAndLynda</name>
        <dataType>String</dataType>
        <expression>&apos;You have been assigned a new &apos; &amp;
IF(
     ISPICKVAL({!$Record.LeadSource}, &apos;User Outreach&apos;), 
     &apos;Free Trial sign up&apos;, 
      TEXT({!$Record.HS_Last_form_submission_type__c})
 ) &amp;
&apos; lead&apos; &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;&lt;https://brightwheel1.my.salesforce.com/&apos; &amp; {!$Record.Id}  &amp; &apos;|[View in Salesforce]&gt;&apos; &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*Lead Source - Detail:* &apos; &amp; {!$Record.Lead_Source_Detail__c} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*Organization:* &apos; &amp; {!$Record.Company} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*Owner First Name:* &apos; &amp; {!$Record.Owner:User.FirstName}  &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*Owner Last Name:* &apos; &amp; {!$Record.Owner:User.LastName}  &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*First Name:* &apos; &amp; {!$Record.FirstName}  &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*Last Name:* &apos; &amp; {!$Record.LastName}  &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*Email:* &apos; &amp; {!$Record.Email} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*Phone:* &apos; &amp; {!$Record.Phone} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*State/Province:* &apos; &amp; {!$Record.State}</expression>
    </formulas>
    <formulas>
        <name>NotmatchedtoOrg</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OrSyncTest</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.OR_Sync_Test__c}), 1, {!$Record.OR_Sync_Test__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ReturnPathLeadSlack</name>
        <dataType>String</dataType>
        <expression>&apos;You have been assigned an existing lead based on a new &apos; &amp;
IF(
     AND(
               {!$Record.Troops_PTL_return_path_trigger__c} = TRUE,
               {!$Record.LOGIC_Open_PTL_task__c} &gt; 0
     ),
     &apos;Free Trial sign up&apos;, 
      IF(
           AND(
                    {!$Record.Troops_HS_return_path_trigger__c}  = TRUE,
                   {!$Record.LOGIC_Open_HS_task__c} &gt; 0
            ), 
            TEXT({!$Record.HS_Last_form_submission_type__c}),
            &apos;&apos;
       )
)
&amp; &apos; inbound activity&apos; &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;&lt;https://brightwheel1.my.salesforce.com/&apos; &amp; {!$Record.Id}  &amp; &apos;|[View in Salesforce]&gt;&apos; &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*Lead Source - Detail:* &apos; &amp; {!$Record.Lead_Source_Detail__c} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*Organization:* &apos; &amp; {!$Record.Company} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*First Name:* &apos; &amp; {!$Record.FirstName}  &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*Last Name:* &apos; &amp; {!$Record.LastName}  &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*Email:* &apos; &amp; {!$Record.Email} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*Phone:* &apos; &amp; {!$Record.Phone} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*State/Province:* &apos; &amp; {!$Record.State}</expression>
    </formulas>
    <formulas>
        <name>ReturnPathLeadSlackLindseyAndLynda</name>
        <dataType>String</dataType>
        <expression>&apos;You have been assigned an existing lead based on a new &apos; &amp;
IF(
     AND(
               {!$Record.Troops_PTL_return_path_trigger__c} = TRUE,
               {!$Record.LOGIC_Open_PTL_task__c} &gt; 0
     ),
     &apos;Free Trial sign up&apos;, 
      IF(
           AND(
                    {!$Record.Troops_HS_return_path_trigger__c}  = TRUE,
                   {!$Record.LOGIC_Open_HS_task__c} &gt; 0
            ), 
            TEXT({!$Record.HS_Last_form_submission_type__c}),
            &apos;&apos;
       )
)
&amp; &apos; inbound activity&apos; &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;&lt;https://brightwheel1.my.salesforce.com/&apos; &amp; {!$Record.Id}  &amp; &apos;|[View in Salesforce]&gt;&apos; &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*Lead Source - Detail:* &apos; &amp; {!$Record.Lead_Source_Detail__c} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*Organization:* &apos; &amp; {!$Record.Company} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*Owner First Name:* &apos; &amp; {!$Record.Owner:User.FirstName}  &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*Owner Last Name:* &apos; &amp; {!$Record.Owner:User.LastName}  &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp;
&apos;*First Name:* &apos; &amp; {!$Record.FirstName}  &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*Last Name:* &apos; &amp; {!$Record.LastName}  &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*Email:* &apos; &amp; {!$Record.Email} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*Phone:* &apos; &amp; {!$Record.Phone} &amp;
SUBSTITUTE($Label.NewLine , &quot;-&quot;, &quot;&quot;)  &amp; 
&apos;*State/Province:* &apos; &amp; {!$Record.State}</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.HS_Last_form_submission_type__c}) + &apos; - new lead&apos;</expression>
    </formulas>
    <formulas>
        <name>Subject2</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.HS_Last_form_submission_type__c} ) + &apos; - existing lead&apos;</expression>
    </formulas>
    <formulas>
        <name>Subject3</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.HS_Last_form_submission_type__c} ) + &apos; - duplicate submission&apos;</expression>
    </formulas>
    <formulas>
        <name>Today30</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Lead Updates After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Updates After Save Flow CC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_notification_new_lead</name>
        <label>Task notification - new lead</label>
        <locationX>314</locationX>
        <locationY>2939</locationY>
        <connector>
            <targetReference>Existing_HS_form_submission_notification</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Integration_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.HubSpot_Form_Submission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Priority_Scoring_0</name>
        <label>Priority Scoring</label>
        <locationX>314</locationX>
        <locationY>8195</locationY>
        <connector>
            <targetReference>DEC_Scoring_Update_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Field_Event__c</field>
            <value>
                <stringValue>HubSpot Form Priority </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Recent_conversion__c</field>
            <value>
                <elementReference>$Record.HS_Recent_conversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.HS_HubSpot_Form_Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.HS_HubSpot_Form_Priority__c</elementReference>
            </value>
        </inputAssignments>
        <object>Scoring__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Scoring_0</name>
        <label>Scoring 0</label>
        <locationX>314</locationX>
        <locationY>8495</locationY>
        <connector>
            <targetReference>DEC_Scoring_Update_100</targetReference>
        </connector>
        <inputAssignments>
            <field>Field_Event__c</field>
            <value>
                <stringValue>Total HubSpot Score</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.SFDC_Total_Hubspot_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.SFDC_Total_Hubspot_Score__c</elementReference>
            </value>
        </inputAssignments>
        <object>Scoring__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Scoring_100</name>
        <label>Scoring 100</label>
        <locationX>314</locationX>
        <locationY>8795</locationY>
        <connector>
            <targetReference>Lead_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Field_Event__c</field>
            <value>
                <stringValue>Total HubSpot Score</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Recent_conversion__c</field>
            <value>
                <elementReference>$Record.HS_Recent_conversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.SFDC_Total_Hubspot_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.SFDC_Total_Hubspot_Score__c</elementReference>
            </value>
        </inputAssignments>
        <object>Scoring__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_notification_duplicate_submission</name>
        <label>Task notification - duplicate submission</label>
        <locationX>314</locationX>
        <locationY>3731</locationY>
        <connector>
            <targetReference>DEC_Last_Transfer_Date_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Integration_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.HubSpot_Form_Submission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_notification_existing_lead</name>
        <label>Task notification - existing lead</label>
        <locationX>248</locationX>
        <locationY>3239</locationY>
        <connector>
            <targetReference>Duplicateformsubmission3</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Integration_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.HubSpot_Form_Submission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_notification_existing_lead_0</name>
        <label>Task notification - existing lead</label>
        <locationX>512</locationX>
        <locationY>3347</locationY>
        <connector>
            <targetReference>Duplicateformsubmission3</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Integration_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.HubSpot_Form_Submission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_accounts_from_org</name>
        <label>Get accounts from org</label>
        <locationX>182</locationX>
        <locationY>7187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found_Dec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Org_object.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization</name>
        <label>Get Organization</label>
        <locationX>292</locationX>
        <locationY>4547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Lead_Organization_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Record</name>
        <label>Get Organization Record</label>
        <locationX>292</locationX>
        <locationY>6071</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Org_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_User_Reassignment</name>
        <label>Get Organization - User Reassignment</label>
        <locationX>292</locationX>
        <locationY>5363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Organization_Rec_Sales_Reassignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunity</name>
        <label>Get Related Opportunity</label>
        <locationX>292</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_related_Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Org_object</name>
        <label>Org object</label>
        <locationX>446</locationX>
        <locationY>6671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Org_Convert_new_lead_with_matched_org</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOGIC_associated_accounts__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Opp_Close_Date</name>
        <label>Set Opp Close Date</label>
        <locationX>160</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Email_to_prospect_IPR</targetReference>
        </connector>
        <inputReference>Get_Related_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Auto_Converted</name>
        <label>Update Auto Converted</label>
        <locationX>182</locationX>
        <locationY>7595</locationY>
        <connector>
            <targetReference>Lead_Status_is_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_contact_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOGIC_Auto_Converted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bypass_Logic</name>
        <label>Update Bypass Logic</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Convert_Leads</targetReference>
        </connector>
        <inputAssignments>
            <field>LOGIC_Bypass_Validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_incoming_lead</name>
        <label>Update incoming lead</label>
        <locationX>314</locationX>
        <locationY>6995</locationY>
        <connector>
            <targetReference>Get_accounts_from_org</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOGIC_Bypass_Validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Account_Queue</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_incoming_lead_Non_Owner_Update</name>
        <label>Update incoming lead Non Owner Update</label>
        <locationX>50</locationX>
        <locationY>6995</locationY>
        <connector>
            <targetReference>Get_accounts_from_org</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOGIC_Bypass_Validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Organization_Owner</name>
        <label>Update Organization Owner</label>
        <locationX>160</locationX>
        <locationY>4871</locationY>
        <connector>
            <targetReference>DEC_Moved_from_user_to_user_owner</targetReference>
        </connector>
        <inputReference>Get_Organization</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Organization_Owner_Sales_Reassignment</name>
        <label>Update Organization Owner - Sales Reassignment</label>
        <locationX>160</locationX>
        <locationY>5687</locationY>
        <connector>
            <targetReference>Moved_from_owner_to_queue</targetReference>
        </connector>
        <inputReference>Get_Organization_User_Reassignment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Organization_Record</name>
        <label>Update Organization Record</label>
        <locationX>160</locationX>
        <locationY>6395</locationY>
        <connector>
            <targetReference>Org_object</targetReference>
        </connector>
        <inputReference>Get_Organization_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_starting_Lead</name>
        <label>Update starting Lead</label>
        <locationX>314</locationX>
        <locationY>9095</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Auto_conversion_trigger</targetReference>
        </connector>
        <filterFormula>AND({!$Permission.Admin_Data_Loader} = FALSE,  {!$Record.IsConverted} = FALSE)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>200</triggerOrder>
    <variables>
        <name>colCampaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>colHSFormTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>colIPRtask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>colOpenTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>colPLTsignupTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>New_contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nullDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nullDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
