force-app/main/default/flows/Lead_Cadence_Sales_Exit_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_Lead_From_Cadence</name>
        <label>Remove Lead From Cadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>removeTargetFromSalesCadence</actionName>
        <actionType>removeTargetFromSalesCadence</actionType>
        <connector>
            <targetReference>Clear_Most_Recent_Cadence_Entered</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionReasonCode</name>
            <value>
                <stringValue>ManuallyRemoved</stringValue>
            </value>
        </inputParameters>
        <nameSegment>removeTargetFromSalesCadence</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Cadence_Tracker_Record_Found</name>
        <label>Cadence Tracker Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Cadence_Tracker_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Cadence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Cadence</name>
        <label>Sales Cadence?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Cadence_Tracker_Record.ActionCadence.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Sales -</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Lead_From_Cadence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>11.5.2025 - LK - Updated Get Element for Get Active Cadence Tracker Record.</description>
    <environments>Default</environments>
    <interviewLabel>Lead - Cadence Sales - Exit - After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Cadence Sales - Exit - After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets a cadence tracker record with a Target ID matching the Lead ID of the triggering record and with a State not equal to Complete or Error. Stores the ID of the returned record in the GetActiveCadenceTrackerRecord record variable.</description>
        <name>Get_Active_Cadence_Tracker_Record</name>
        <label>Get Active Cadence Tracker Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cadence_Tracker_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadenceTracker</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActionCadenceId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Most_Recent_Cadence_Entered</name>
        <label>Clear Most Recent Cadence Entered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Most_Recent_Cadence_Entered__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>OR(
    LEFT(TEXT({!$Record.Most_Recent_Disposition__c}), 5) = &quot;UNQ -&quot;,
    LEFT(TEXT({!$Record.Most_Recent_Disposition__c}), 5) = &quot;REC -&quot;,
    LEFT(TEXT({!$Record.Most_Recent_Disposition__c}), 4) = &quot;CC -&quot;,
    LEFT(TEXT({!$Record.Most_Recent_Disposition__c}), 4) = &quot;PD -&quot;,
    {!$Record.DoNotCall} = TRUE,
    {!$Record.LOGIC_Owned_by_queue__c} = TRUE,
    TEXT({!$Record.Status}) = &quot;Recycled&quot;,
    TEXT({!$Record.Status}) = &quot;Unqualified&quot;
)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Active_Cadence_Tracker_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
