force-app/main/default/flows/Lead_Log_a_Conversation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Lead_Fields</name>
        <label>Assign Lead Fields</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentLead.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Organization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentLead.Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Capacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentLead.Challenges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Challenges</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentLead.Authority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Authority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentLead.Money__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Money</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentLead.Prioritization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prioritization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentLead.Current_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Enrollment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentLead.GK__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GK</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentLead.DM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentLead.Current_Tech__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTech</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentLead.Objections__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objections</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentLead.Left_Off_Pitch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Left_Off_Pitch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
    </assignments>
    <description>Screen flow to log a conversation from a lead record.</description>
    <dynamicChoiceSets>
        <name>CurrentTech</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Tech__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Lead Log a Conversation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Log a Conversation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentLead</name>
        <label>GetCurrentLead</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Conversation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLead</name>
        <label>UpdateLead</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>GetCurrentLead</inputReference>
    </recordUpdates>
    <screens>
        <description>Log a conversation with a lead</description>
        <name>Log_Conversation</name>
        <label>Log Conversation</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Lead_Fields</targetReference>
        </connector>
        <fields>
            <name>Log_Conversation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Log_Conversation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetCurrentLead.Name</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>GK</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetCurrentLead.GK__c</elementReference>
                    </defaultValue>
                    <fieldText>GK</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DM</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetCurrentLead.DM__c</elementReference>
                    </defaultValue>
                    <fieldText>DM</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Objections</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetCurrentLead.Objections__c</elementReference>
                    </defaultValue>
                    <fieldText>Objections</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Left_Off_Pitch</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetCurrentLead.Left_Off_Pitch__c</elementReference>
                    </defaultValue>
                    <fieldText>Left Off Pitch</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Log_Conversation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Organization</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetCurrentLead.Company</elementReference>
                    </defaultValue>
                    <fieldText>Organization</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Capacity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GetCurrentLead.Capacity__c</elementReference>
                    </defaultValue>
                    <fieldText>Capacity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Current_Enrollment</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GetCurrentLead.Current_Enrollment__c</elementReference>
                    </defaultValue>
                    <fieldText>Current Enrollment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Current_Tech</name>
                    <choiceReferences>CurrentTech</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Current Tech</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CHAMP_label</name>
            <fieldText>&lt;p&gt;CHAMP Fields&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Log_Conversation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Log_Conversation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Challenges</name>
                    <defaultValue>
                        <stringValue>{!GetCurrentLead.Challenges__c}</stringValue>
                    </defaultValue>
                    <fieldText>Challenges</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Authority</name>
                    <defaultValue>
                        <stringValue>{!GetCurrentLead.Authority__c}</stringValue>
                    </defaultValue>
                    <fieldText>Authority</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Log_Conversation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Money</name>
                    <defaultValue>
                        <stringValue>{!GetCurrentLead.Money__c}</stringValue>
                    </defaultValue>
                    <fieldText>Money</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Prioritization</name>
                    <defaultValue>
                        <stringValue>{!GetCurrentLead.Prioritization__c}</stringValue>
                    </defaultValue>
                    <fieldText>Prioritization</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
