force-app/main/default/flows/Lead_After_Save_Sales_Missed_Demo_Cadence_Exit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_Lead_from_Cadence</name>
        <label>Remove Lead from Cadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>removeTargetFromSalesCadence</actionName>
        <actionType>removeTargetFromSalesCadence</actionType>
        <connector>
            <targetReference>SE_Tag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionReasonCode</name>
            <value>
                <stringValue>ManuallyRemoved</stringValue>
            </value>
        </inputParameters>
        <nameSegment>removeTargetFromSalesCadence</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Was_active_cadence_tracker_found</name>
        <label>Was active cadence tracker found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Cadence_Tracker_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Cadence_Tracker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Lead_from_Cadence</targetReference>
            </connector>
            <label>Yes - Cadence Tracker found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - After Save - Sales Missed Demo Cadence Exit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - After Save - Sales Missed Demo Cadence Exit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Cadence_Tracker</name>
        <label>Get Active Cadence Tracker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_active_cadence_tracker_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadenceTracker</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SE_Tag</name>
        <label>SE Tag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>SE_Tag__c</field>
            <value>
                <stringValue>Lead - After Save - Sales Missed Demo Cadence Exit </stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Cadence_Tracker</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3  AND 4</filterLogic>
        <filters>
            <field>DoNotCall</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LOGIC_Owned_by_queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Demo_Call_No_Show__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cadence_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales - Missed Demo</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
