force-app/main/default/flows/Local_Customer_Async_Update_Leads_and_contacts_When_Local_Customer_Data_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact_Local_Customer_Fields</name>
        <label>Assign Contact Local Customer Fields</label>
        <locationX>374</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>varContactTemp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactTemp.Local_Customer_1_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAccount1NameAndSegment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactTemp.Local_Customer_1_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_1_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactTemp.Local_Customer_2_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAccount2NameAndSegment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactTemp.Local_Customer_2_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_2_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactTemp.Local_Customer_3_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAccount3NameAndSegment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactTemp.Local_Customer_3_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_3_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContactTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Local_Customer_Fields</name>
        <label>Assign Lead Local Customer Fields</label>
        <locationX>374</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varLeadTemp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadTemp.Local_Customer_1_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAccount1NameAndSegment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadTemp.Local_Customer_1_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_1_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadTemp.Local_Customer_2_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAccount2NameAndSegment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadTemp.Local_Customer_2_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_2_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadTemp.Local_Customer_3_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAccount3NameAndSegment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadTemp.Local_Customer_3_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_3_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLeadTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contacts_Found</name>
        <label>Contacts Found?</label>
        <locationX>418</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contacts</targetReference>
            </connector>
            <label>Found Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Leads_Found</name>
        <label>Leads Found?</label>
        <locationX>418</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Contacts_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Leads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Leads</targetReference>
            </connector>
            <label>Found Leads</label>
        </rules>
    </decisions>
    <description>if any of the accounts on a local customer changes, asynchronously update all leads and contacts with a matching zipcode</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaAccount1NameAndSegment</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account_1_ID__r.Name} + &quot; &quot; + {!formulaAccount1Segment}</expression>
    </formulas>
    <formulas>
        <name>formulaAccount1Segment</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.Account_1_ID__r.Customer_Segment__c} = &quot;Small&quot;, &quot;(S)&quot;,
IF( {!$Record.Account_1_ID__r.Customer_Segment__c} = &quot;Medium&quot;, &quot;(M)&quot;,
IF( {!$Record.Account_1_ID__r.Customer_Segment__c} = &quot;Large&quot;, &quot;(L)&quot;,
IF( {!$Record.Account_1_ID__r.Customer_Segment__c} = &quot;Multisite&quot;, &quot;(MS)&quot;, &quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>formulaAccount2NameAndSegment</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account_2_ID__r.Name} + &quot; &quot; + {!formulaAccount2Segment}</expression>
    </formulas>
    <formulas>
        <name>formulaAccount2Segment</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.Account_2_ID__r.Customer_Segment__c} = &quot;Small&quot;, &quot;(S)&quot;,
IF( {!$Record.Account_2_ID__r.Customer_Segment__c} = &quot;Medium&quot;, &quot;(M)&quot;,
IF( {!$Record.Account_2_ID__r.Customer_Segment__c} = &quot;Large&quot;, &quot;(L)&quot;,
IF( {!$Record.Account_2_ID__r.Customer_Segment__c} = &quot;Multisite&quot;, &quot;(MS)&quot;, &quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>formulaAccount3NameAndSegment</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account_3_ID__r.Name} + &quot; &quot; + {!formulaAccount3Segment}</expression>
    </formulas>
    <formulas>
        <name>formulaAccount3Segment</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.Account_3_ID__r.Customer_Segment__c} = &quot;Small&quot;, &quot;(S)&quot;,
IF( {!$Record.Account_3_ID__r.Customer_Segment__c} = &quot;Medium&quot;, &quot;(M)&quot;,
IF( {!$Record.Account_3_ID__r.Customer_Segment__c} = &quot;Large&quot;, &quot;(L)&quot;,
IF( {!$Record.Account_3_ID__r.Customer_Segment__c} = &quot;Multisite&quot;, &quot;(MS)&quot;, &quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>forNormalizedZip</name>
        <dataType>String</dataType>
        <expression>left({!$Record.Zip_Code__c},5)</expression>
    </formulas>
    <interviewLabel>Local Customer - Async - Update Leads and contacts When Local Customer Data Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Local Customer - Async - Update Leads and contacts When Local Customer Data Change</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>286</locationX>
        <locationY>1200</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Local_Customer_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Leads</name>
        <label>Loop Leads</label>
        <locationX>286</locationX>
        <locationY>600</locationY>
        <collectionReference>Get_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Lead_Local_Customer_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>matched on zip</description>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Leads_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MailingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Zip_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>matched on zip</description>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>418</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NormalizedPostalCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forNormalizedZip</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>286</locationX>
        <locationY>1500</locationY>
        <inputReference>varContactsToUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Leads</name>
        <label>Update Leads</label>
        <locationX>286</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Contacts_Found</targetReference>
        </connector>
        <inputReference>varLeadsToUpdateCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account_1_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_2_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_3_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recently_Updated__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Local_Customer__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Leads</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varContactsToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varLeadsToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varLeadTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
