force-app/main/default/flows/New_school_object_record_lookup_or_create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_UUID_account</name>
        <label>Assignment UUID account</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Contact_matching_account.Brightwheel_School_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incoming_school_object.Brightwheel_School_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_matching_account.School_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incoming_school_object.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account_UUIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UUID_contact</name>
        <label>UUID contact</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>New_school_object_contact_record_lookup.School_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incoming_school_object.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_school_object_contact_record_lookup.Brightwheel_User_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incoming_school_object.Brightwheel_Owner_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_UUIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UUID_contact_0</name>
        <label>UUID contact</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>New_school_object_contact_record_lookup.School_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incoming_school_object.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_school_object_contact_record_lookup.Brightwheel_User_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incoming_school_object.Brightwheel_Owner_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_UUIDs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UUID_lead</name>
        <label>UUID lead</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>New_school_object_lead_record_lookup.School_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incoming_school_object.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_school_object_lead_record_lookup.Brightwheel_User_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incoming_school_object.Brightwheel_Owner_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_school_object_lead_record_lookup.FTS_number_of_students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incoming_school_object.Stated_student_count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_school_object_lead_record_lookup.FTS_program_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incoming_school_object.Program_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_school_object_lead_record_lookup.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_name_logic_existing_lead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_school_object_lead_record_lookup.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_logic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_school_object_lead_record_lookup.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_logic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_school_object_lead_record_lookup.Brightwheel_School_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incoming_school_object.Brightwheel_School_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead_UUIDs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_record</name>
        <label>Contact record</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>New_free_trial_sign_up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_record_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_school_object_contact_record_lookup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_matching_account</targetReference>
            </connector>
            <label>Contact record not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_account_link_to_school_object</name>
        <label>Does account link to school object</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>School_object_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_matching_account.School_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UUID_contact</targetReference>
            </connector>
            <label>School object connected</label>
        </rules>
        <rules>
            <name>School_object_not_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_matching_account.School_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_UUID_account</targetReference>
            </connector>
            <label>School object not connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_converted</name>
        <label>Is converted</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_free_trial_sign_up_lookup.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_task_whoid</targetReference>
            </connector>
            <label>Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_record</name>
        <label>Lead record</label>
        <locationX>479</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>New_school_object_contact_record_lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lead_record_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_school_object_lead_record_lookup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UUID_lead</targetReference>
            </connector>
            <label>lead record not null</label>
        </rules>
    </decisions>
    <description>New school object lookup lead/contact for notification or create new lead</description>
    <environments>Default</environments>
    <formulas>
        <name>Company_name_logic_existing_lead</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
           {!New_school_object_lead_record_lookup.Company} = &apos;Not Provided&apos;,
           {!New_school_object_lead_record_lookup.Company} = &apos;[not provided]&apos;
   ),
   IF(
        NOT(ISBLANK({!incoming_school_object.Account_Name__c})),
        {!incoming_school_object.Account_Name__c},
        {!New_school_object_lead_record_lookup.Company}
  ),        
   {!New_school_object_lead_record_lookup.Company}
)</expression>
    </formulas>
    <formulas>
        <name>Company_name_logic_new_lead</name>
        <dataType>String</dataType>
        <expression>if(
    NOT(ISBLANK({!incoming_school_object.Account_Name__c})), 
    {!incoming_school_object.Account_Name__c},
    &apos;Not Provided&apos;
)</expression>
    </formulas>
    <formulas>
        <name>First_name_40_logic</name>
        <dataType>String</dataType>
        <expression>IF(
      LEN({!incoming_school_object.Owner_First_Name__c}) &gt; 40,
      LEFT({!incoming_school_object.Owner_First_Name__c} , 40),
      {!incoming_school_object.Owner_First_Name__c}
 )</expression>
    </formulas>
    <formulas>
        <name>Last_name_80_logic</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!incoming_school_object.Owner_Last_Name__c})), 
    IF(
         LEN({!incoming_school_object.Owner_Last_Name__c}) &gt; 80,
         LEFT({!incoming_school_object.Owner_Last_Name__c}, 80),
         {!incoming_school_object.Owner_Last_Name__c}
   ),
    {!incoming_school_object.Owner_Email__c}
)</expression>
    </formulas>
    <formulas>
        <name>Phone_logic</name>
        <dataType>String</dataType>
        <expression>if(
    NOT(ISBLANK({!New_school_object_lead_record_lookup.Phone})), 
    {!New_school_object_lead_record_lookup.Phone},
   {!incoming_school_object.School_Phone__c}
)</expression>
    </formulas>
    <formulas>
        <name>State_logic</name>
        <dataType>String</dataType>
        <expression>if(
    NOT(ISBLANK({!New_school_object_lead_record_lookup.State})), 
    {!New_school_object_lead_record_lookup.State},
   {!incoming_school_object.State__c}
)</expression>
    </formulas>
    <interviewLabel>New school object record lookup or create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New school object record lookup or create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_contact_trial_sign_up_notification</name>
        <label>Create contact trial sign up notification</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051I000004HUjOQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121I000000OEYAQA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Object__c</field>
            <value>
                <elementReference>incoming_school_object.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Free Trial sign up - existing contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>New_school_object_contact_record_lookup.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>New_school_object_contact_record_lookup.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_contact_trial_sign_up_notification_0</name>
        <label>Create contact trial sign up notification</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051I000004HUjOQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121I000000OEYAQA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Object__c</field>
            <value>
                <elementReference>incoming_school_object.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Free Trial sign up - existing contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>New_school_object_contact_record_lookup.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>New_school_object_contact_record_lookup.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_lead_trial_sign_up_notification</name>
        <label>Create lead trial sign up notification</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051I000004HUjOQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121I000000OEYAQA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Object__c</field>
            <value>
                <elementReference>incoming_school_object.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Free Trial sign up - existing lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>New_school_object_lead_record_lookup.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_lead_trial_sign_up_notification_on_new_lead</name>
        <label>Create lead trial sign up notification on new lead</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>New_task_id</assignRecordIdToReference>
        <connector>
            <targetReference>New_free_trial_sign_up_lookup</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051I000004HUjOQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121I000000OEYAQA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Object__c</field>
            <value>
                <elementReference>incoming_school_object.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Free Trial sign up - new lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>New_sign_up_lead_id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>New_free_trial_sign_up</name>
        <label>New free trial sign up</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>New_sign_up_lead_id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_lead_trial_sign_up_notification_on_new_lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Brightwheel_School_UUID__c</field>
            <value>
                <elementReference>incoming_school_object.Brightwheel_School_UUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brightwheel_User_UUID__c</field>
            <value>
                <elementReference>incoming_school_object.Brightwheel_Owner_UUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_name_logic_new_lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>incoming_school_object.Owner_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FTS_number_of_students__c</field>
            <value>
                <elementReference>incoming_school_object.Stated_student_count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FTS_program_type__c</field>
            <value>
                <elementReference>incoming_school_object.Program_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_name_40_logic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_name_80_logic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>User Outreach</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Detail__c</field>
            <value>
                <stringValue>Proactive Trial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Outbound_Marketing_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>incoming_school_object.School_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Object__c</field>
            <value>
                <elementReference>incoming_school_object.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>incoming_school_object.State__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Contact_matching_account</name>
        <label>Contact matching account</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_account_link_to_school_object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_school_object_contact_record_lookup.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>School_Object__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_free_trial_sign_up_lookup</name>
        <label>New free trial sign up lookup</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_sign_up_lead_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConvertedContactId</queriedFields>
        <queriedFields>IsConverted</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_school_object_contact_record_lookup</name>
        <label>New school object contact record lookup</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incoming_school_object.Owner_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_school_object_lead_record_lookup</name>
        <label>New school object lead record lookup</label>
        <locationX>479</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incoming_school_object.Owner_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Company</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_account_UUIDs</name>
        <label>Update account UUIDs</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>UUID_contact_0</targetReference>
        </connector>
        <inputReference>Contact_matching_account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_UUIDs</name>
        <label>Update contact UUIDs</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Create_contact_trial_sign_up_notification</targetReference>
        </connector>
        <inputReference>New_school_object_contact_record_lookup</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_UUIDs_0</name>
        <label>Update contact UUIDs</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Create_contact_trial_sign_up_notification_0</targetReference>
        </connector>
        <inputReference>New_school_object_contact_record_lookup</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead_UUIDs</name>
        <label>Update lead UUIDs</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_lead_trial_sign_up_notification</targetReference>
        </connector>
        <inputReference>New_school_object_lead_record_lookup</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task_whoid</name>
        <label>Update task whoid</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_task_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>New_free_trial_sign_up_lookup.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_school_object_lead_record_lookup</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>incoming_school_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>School_Object__c</objectType>
    </variables>
    <variables>
        <name>New_sign_up_lead_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>New_task_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
