force-app/main/default/flows/Non_Sales_Funnel_Held_Task_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AccountId_to_Temp_Account</name>
        <label>Assign AccountId to Temp (Account)</label>
        <locationX>875</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_AccountId_to_Temp_Contact</name>
        <label>Assign AccountId to Temp (Contact)</label>
        <locationX>281</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Potential_Opps_by_Opp_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Opp_by_Owner_decision</name>
        <label>Found Opp by Owner decision</label>
        <locationX>281</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Get_Potential_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Looking</defaultConnectorLabel>
        <rules>
            <name>Found_Opp_by_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Potential_Opps_by_Opp_Owner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_to_Related_to_Found_Opp_by_Owner</targetReference>
            </connector>
            <label>Found Opp by Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Opp_decision</name>
        <label>Found Opp decision</label>
        <locationX>479</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Did Not Find Anything</defaultConnectorLabel>
        <rules>
            <name>Found_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Potential_Opps.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_to_Related_to_Found_Opp</targetReference>
            </connector>
            <label>Found Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Relation_decision</name>
        <label>Opp Relation decision</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Assign_AccountId_to_Temp_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need to Find Opp</defaultConnectorLabel>
        <rules>
            <name>Related_to_an_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <label>Related to an Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Relation_decision</name>
        <label>Task Relation decision</label>
        <locationX>594</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Related to a Lead</defaultConnectorLabel>
        <rules>
            <name>Related_to_a_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Relation_decision</targetReference>
            </connector>
            <label>Related to a Contact</label>
        </rules>
        <rules>
            <name>related_to_an_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountId_to_Temp_Account</targetReference>
            </connector>
            <label>Related to an Account</label>
        </rules>
    </decisions>
    <description>Attempt to link tasks to open opportunities of any type</description>
    <environments>Default</environments>
    <interviewLabel>Non Sales Funnel - Held Task Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Non Sales Funnel - Held Task Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>594</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Relation_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>594</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Potential_Opps</name>
        <label>Get Potential Opps</label>
        <locationX>479</locationX>
        <locationY>1043</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opp_decision</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR ((3 OR 4 OR 5 OR 6) AND 7 AND 8 AND 9))</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SaaS_Opportunity_Record_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SaaS_Child_Oppprtunity</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Government_Licensee_Record_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Gov_Child_Opportunity</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2025-04-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Potential_Opps_by_Opp_Owner</name>
        <label>Get Potential Opps by Opp Owner</label>
        <locationX>281</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opp_by_Owner_decision</targetReference>
        </connector>
        <filterLogic>1 AND 10 AND (2 OR ((3 OR 4 OR 5 OR 6) AND 7 AND 8 AND 9))</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SaaS_Opportunity_Record_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SaaS_Child_Oppprtunity</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Government_Licensee_Record_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Gov_Child_Opportunity</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2025-04-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Task_to_Related_to_Found_Opp_by_Owner</name>
        <label>Task to Related to Found Opp by Owner</label>
        <locationX>83</locationX>
        <locationY>1043</locationY>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Potential_Opps_by_Opp_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_to_Related_to_Found_Opp</name>
        <label>Update Task to Related to Found Opp</label>
        <locationX>347</locationX>
        <locationY>1259</locationY>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Potential_Opps.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>468</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOGIC_Is_Sales_Call__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
