force-app/main/default/flows/Offline_Payer_Renewal_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Attachment_Exists</name>
        <label>Attachment Exists</label>
        <locationX>182</locationX>
        <locationY>1200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_Partnership_Agreement_Attachment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Attachment</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continuing_Offline_Payer</name>
        <label>Continuing Offline Payer?</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Renewal_No_Upsell_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the newly created Offiline Payer Renewal case was assigned to the Account Queue. If it was, it means that the related account doesn&apos;t have an user assigned to the field SaaS Owner. In that case, we will RR it within the public group &quot;Cases_SaaSOwnerRR&quot;</description>
        <name>Offline_Payer_Case_Assigned_to_Account_Queue</name>
        <label>Offline Payer Case Assigned to Account Queue?</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Get_Original_Partnership_Agreement_Attachment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Offline_Payer_Case_Assigned_to_Account_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forT_OffilinePayerCaseOwnership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Account_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Customer_Segment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Micro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Account_Assignments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When contract end date is 60 days away, auto create offline payer renewal record and new offline payer case
03/22/24 - PE - Updated case ownership to be round-robined within the queue Cases_SaaSOwnerRR if the related account doesn&apos;t have a SaaS Owner.
04/23/25 - JH - updated to include a formula for renewal OP owner so if the triggering OP owner is inactive it defaults to account queue.
9/10/25 - updated so that it only creates records if the triggering OP status = Check Received</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_OffilinePayerCaseOwnership</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.Account__r.SaaS_Owner__r.IsActive} = True,
{!$Record.Account__r.SaaS_Owner__c},
&quot;0053u0000035xeBAAQ&quot;
)</expression>
    </formulas>
    <formulas>
        <description>formula set account queue as the owner if the triggering OP owner is inactive.</description>
        <name>forT_OfflinePayerOwner</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.Owner:User.IsActive}= True,
{!$Record.OwnerId},
&quot;0053u0000035xeBAAQ&quot;
)</expression>
    </formulas>
    <formulas>
        <name>RenewalContractEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contract_End_Date__c} + 365</expression>
    </formulas>
    <interviewLabel>Offline Payer - Renewal &amp; Renewal Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offline Payer - Renewal &amp; Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attachment</name>
        <label>Create Attachment</label>
        <locationX>50</locationX>
        <locationY>1308</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Get_Original_Partnership_Agreement_Attachment.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Create_Renewal_No_Upsell_Owner</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Offline_Payer_Case_Account_Queue</name>
        <label>Create Offline Payer Case - Account Queue</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Offline_Payer_Case_Assigned_to_Account_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Requestor_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sites_Impacted__c</field>
            <value>
                <elementReference>$Record.Account__r.Number_of_Sites__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offline_Payer_Renewal__c</field>
            <value>
                <elementReference>Create_Renewal_No_Upsell_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Auto-Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_OffilinePayerCaseOwnership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123u000000FSLUAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Offline Payer Renewal Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Triggering_Offline_Payer_Record__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_No_Upsell_Owner</name>
        <label>Create Renewal Offline Payer</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Update_Initial_Enrollment_No_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>RenewalContractEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>$Record.Contract_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Enrollment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Amount__c</field>
            <value>
                <elementReference>$Record.Monthly_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_OfflinePayerOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123u000000FSLWAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>RenewalContractEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requestor_Name__c</field>
            <value>
                <elementReference>$Record.Requestor_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Offline_Payer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Original_Partnership_Agreement_Attachment</name>
        <label>Get Original Partnership Agreement Attachment</label>
        <locationX>182</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attachment_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update newly created case ownership to match the user assigned as the SaaS Owner on the Account</description>
        <name>Update_Case_Ownership</name>
        <label>Update Case Ownership</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Get_Original_Partnership_Agreement_Attachment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Offline_Payer_Case_Account_Queue</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.SaaS_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Enrollment_No_Owner</name>
        <label>Update Recent Renewal Field</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Create_Offline_Payer_Case_Account_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Most_Recent_Renewal__c</field>
            <value>
                <elementReference>Create_Renewal_No_Upsell_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Continuing_Offline_Payer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOGIC_Renewal_In_60_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Offline_Payer__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-01-27</startDate>
            <startTime>22:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Launch_Account_Assignments</name>
        <label>Launch Account Assignments</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Update_Case_Ownership</targetReference>
        </connector>
        <flowName>Account_Subflow_Ownership_Assignments</flowName>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>AssignmentText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new offline payer case has been assigned to you!
https://brightwheel1.my.salesforce.com/{!20c921fa-b1ba-463b-871a-94f7b8ec320a}</text>
    </textTemplates>
</Flow>
