force-app/main/default/flows/Onboarding_Attempt_Subflow_Create_and_Update_OAs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Billing_OB_Attempt_Values_to_Record</name>
        <label>Assign Billing OB Attempt Values to Record</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stamp_Billing_OB_Attempt_Creation.BillingOBAttemptInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Look_For_In_Progress_Billing_OB_Attempt.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable.Onboarding_Attempt_Status_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable.Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OBAttempsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillingOnboardingAttemptVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Opportunity_Closed_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_OB_Attempt_Values_to_Record_Update</name>
        <label>Assign Billing OB Attempt Values to Record</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stamp_Billing_OB_Attempt_Values_Update.BillingOBAttemptInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingOBAttemptInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OBAttempsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillingOnboardingAttemptVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OB_Attempts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SaaS_OB_Attempt_Values_to_Record</name>
        <label>Assign SaaS OB Attempt Values to Record</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stamp_SaaS_OB_Attempt_Creation.SaaSOBAttemptInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Look_For_In_Progress_SaaS_OB_Attempt.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable.Onboarding_Attempt_Status_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable.Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OBAttempsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SaaSOnboardingAttemptVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_OB_Attempts_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SaaS_OB_Attempt_Values_to_Record_Update</name>
        <label>Assign SaaS OB Attempt Values to Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stamp_SaaS_OB_Attempt_Values_Update.SaaSOBAttemptInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaaSOBAttemptInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OBAttempsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SaaSOnboardingAttemptVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_OB_Attempt_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Record_Variables</name>
        <label>Clear Record Variables</label>
        <locationX>644</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_SaaS_OB_Attempt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Billing_OB_Attempt_Variable</name>
        <label>Create New Billing OB Attempt Variable</label>
        <locationX>644</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Billing_Onboarding_Attempt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingObAttemptName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable.Onboarding_Attempt_Status_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingOBAttemptStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable.Combined_Funnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CombinnelFunnelInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingOnboardingAttemptVariable.Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HardOptOutClosedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OBAttempsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillingOnboardingAttemptVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_OB_Attempt_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_SaaS_OB_Attempt_Variable</name>
        <label>Create New SaaS OB Attempt Variable</label>
        <locationX>732</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.SaaS_Onboarding_Attempt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaaSObAttemptName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable.Onboarding_Attempt_Status_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaaSOnboardingAttemptVariable.Combined_Funnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CombinnelFunnelInput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OBAttempsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SaaSOnboardingAttemptVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Billing_OB_Attempt_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Billing_OB_Attempt_To_Update</name>
        <label>Billing OB Attempt To Update</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Update_OB_Attempts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Billing_OB_Attempt_To_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BillingOBAttemptInput</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Billing_OB_Attempt_Values_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Opportunity_Closed_Won</name>
        <label>Billing Opportunity Closed Won?</label>
        <locationX>644</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Look_For_In_Progress_SaaS_OB_Attempt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Billing_Opportunity_Closed_Won</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityInput.Opportunity_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CombinnelFunnelInput.Temp_Create_Billing_OA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_OB_Attempts_to_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update_OB_Attempts</name>
        <label>Create or Update OB Attempts?</label>
        <locationX>413</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Look_For_In_Progress_Billing_OB_Attempt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Update_Create_or_Update_OB_Attempts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateOBAttemptsInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaaS_OB_Attempt_to_Update</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_SaaS_OB_Attempt</name>
        <label>Create SaaS OB Attempt?</label>
        <locationX>644</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Create_New_SaaS_OB_Attempt_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Create_SaaS_OB_Attempt</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityInput.Opportunity_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CombinnelFunnelInput.Temp_Create_Billing_OA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Billing_OB_Attempt_Variable</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_OB_Attempts_to_Update</name>
        <label>Existing OB Attempts to Update?</label>
        <locationX>644</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Clear_Record_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OBAttempsToUpdate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OB_Attempt_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Progress_Billing_OB_Attempt_Found</name>
        <label>In Progress Billing OB Attempt Found?</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Billing_Opportunity_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Progress_Billing_OB_Attempt_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_For_In_Progress_Billing_OB_Attempt</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Billing_OB_Attempt_Creation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Progress_SaaS_OB_Attempt_Found</name>
        <label>In Progress SaaS OB Attempt Found?</label>
        <locationX>798</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Existing_OB_Attempts_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Progress_SaaS_OB_Attempt_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_For_In_Progress_SaaS_OB_Attempt</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_SaaS_OB_Attempt_Creation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaaS_OB_Attempt_to_Update</name>
        <label>SaaS OB Attempt to Update</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Billing_OB_Attempt_To_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SaaS_OB_Attempt_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaaSOBAttemptInput</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_SaaS_OB_Attempt_Values_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Main subflow responsible for updating and creating new Onboarding Attempt records. Values from related records are captured through inputs from other flows and managed via assignments within the flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>BillingObAttemptName</name>
        <dataType>String</dataType>
        <expression>LEFT({!AccountInput.Name}, 80 - LEN(&quot; Billing Onboarding Attempt&quot;)) &amp; &quot; Billing Onboarding Attempt&quot;</expression>
    </formulas>
    <formulas>
        <name>BillingOBAttemptStatus</name>
        <dataType>String</dataType>
        <expression>IF(
 ISPICKVAL({!OpportunityInput.Billing_Status_at_CW__c}, &quot;Hard Opt Out&quot;),
&quot;Closed&quot;,
&quot;In Progress&quot; 
)</expression>
    </formulas>
    <formulas>
        <description>The Self-Serve Onboarding Queue cannot be assigned in the Combined Funnel Owner - Stamp lookup field. So, if a Combined Funnel is owned by that queue, we’ll assign the Account Queue user instead.</description>
        <name>CombinedFunnelOwner</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
{!CombinnelFunnelInput.OwnerId} = &quot;00G3u000002aqp3EAA&quot;,
{!CombinnelFunnelInput.OwnerId} = &quot;00GPB000001orzp2AA&quot;
),
&quot;0053u0000035xeBAAQ&quot;,
{!CombinnelFunnelInput.OwnerId}
)</expression>
    </formulas>
    <formulas>
        <name>HardOptOutClosedDate</name>
        <dataType>Date</dataType>
        <expression>IF(
 ISPICKVAL({!OpportunityInput.Billing_Status_at_CW__c}, &quot;Hard Opt Out&quot;),
{!$Flow.CurrentDate},
Null
)</expression>
    </formulas>
    <formulas>
        <name>SaaSObAttemptName</name>
        <dataType>String</dataType>
        <expression>LEFT({!AccountInput.Name}, 80 - LEN(&quot; SaaS Onboarding Attempt&quot;)) &amp; &quot; SaaS Onboarding Attempt&quot;</expression>
    </formulas>
    <interviewLabel>Onboarding Attempt - Subflow - Create and Update OAs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Attempt - Subflow - Create and Update OAs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_OB_Attempt_Records</name>
        <label>Create New OB Attempt Records</label>
        <locationX>644</locationX>
        <locationY>2282</locationY>
        <inputReference>OBAttempsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Look_For_In_Progress_Billing_OB_Attempt</name>
        <label>Look For In Progress Billing OB Attempt</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>In_Progress_Billing_OB_Attempt_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountInput.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OB_Attempt_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Attempt_Status_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Attempt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_For_In_Progress_SaaS_OB_Attempt</name>
        <label>Look For In Progress SaaS OB Attempt</label>
        <locationX>798</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>In_Progress_SaaS_OB_Attempt_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountInput.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OB_Attempt_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SaaS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Attempt_Status_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Attempt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OB_Attempt_Records</name>
        <label>Update OB Attempt Records</label>
        <locationX>512</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Clear_Record_Variables</targetReference>
        </connector>
        <inputReference>OBAttempsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OB_Attempts</name>
        <label>Update OB Attempts</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <inputReference>OBAttempsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_or_Update_OB_Attempts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Stamp_Billing_OB_Attempt_Creation</name>
        <label>Stamp Billing OB Attempt</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Assign_Billing_OB_Attempt_Values_to_Record</targetReference>
        </connector>
        <flowName>Onboarding_Attempt_Subflow_OAs_Field_Mappings</flowName>
        <inputAssignments>
            <name>AccountInput</name>
            <value>
                <elementReference>AccountInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BillingOBAttemptInput</name>
            <value>
                <elementReference>Look_For_In_Progress_Billing_OB_Attempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CombinnelFunnelInput</name>
            <value>
                <elementReference>CombinnelFunnelInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityInput</name>
            <value>
                <elementReference>OpportunityInput</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Stamp_Billing_OB_Attempt_Values_Update</name>
        <label>Stamp Billing OB Attempt Values</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Assign_Billing_OB_Attempt_Values_to_Record_Update</targetReference>
        </connector>
        <flowName>Onboarding_Attempt_Subflow_OAs_Field_Mappings</flowName>
        <inputAssignments>
            <name>AccountInput</name>
            <value>
                <elementReference>AccountInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BillingOBAttemptInput</name>
            <value>
                <elementReference>BillingOBAttemptInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CombinnelFunnelInput</name>
            <value>
                <elementReference>CombinnelFunnelInput</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Stamp_SaaS_OB_Attempt_Creation</name>
        <label>Stamp SaaS OB Attempt</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Assign_SaaS_OB_Attempt_Values_to_Record</targetReference>
        </connector>
        <flowName>Onboarding_Attempt_Subflow_OAs_Field_Mappings</flowName>
        <inputAssignments>
            <name>AccountInput</name>
            <value>
                <elementReference>AccountInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CombinnelFunnelInput</name>
            <value>
                <elementReference>CombinnelFunnelInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityInput</name>
            <value>
                <elementReference>OpportunityInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SaaSOBAttemptInput</name>
            <value>
                <elementReference>Look_For_In_Progress_SaaS_OB_Attempt</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Stamp_SaaS_OB_Attempt_Values_Update</name>
        <label>Stamp SaaS OB Attempt Values</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_SaaS_OB_Attempt_Values_to_Record_Update</targetReference>
        </connector>
        <flowName>Onboarding_Attempt_Subflow_OAs_Field_Mappings</flowName>
        <inputAssignments>
            <name>AccountInput</name>
            <value>
                <elementReference>AccountInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CombinnelFunnelInput</name>
            <value>
                <elementReference>CombinnelFunnelInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SaaSOBAttemptInput</name>
            <value>
                <elementReference>SaaSOBAttemptInput</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BillingOBAttemptInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding_Attempt__c</objectType>
    </variables>
    <variables>
        <name>BillingOnboardingAttemptVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Attempt__c</objectType>
    </variables>
    <variables>
        <name>CombinnelFunnelInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Combined_Funnel__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Billing_OB_Attempt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Attempt__c</objectType>
    </variables>
    <variables>
        <name>OBAttempsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Attempt__c</objectType>
    </variables>
    <variables>
        <name>OBAttempsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Attempt__c</objectType>
    </variables>
    <variables>
        <name>OpportunityInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SaaSOBAttemptInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding_Attempt__c</objectType>
    </variables>
    <variables>
        <name>SaaSOnboardingAttemptVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Attempt__c</objectType>
    </variables>
    <variables>
        <name>UpdateOBAttemptsInput</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
