force-app/main/default/flows/Opportunity_SaaS_CW_After_Save_Create_Combined_Funnel_and_Onboarding_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Updates ownership of newly created Experience Curriculum opportunity using round robin</description>
        <name>Assign_EC_Owner</name>
        <label>Assign EC Owner</label>
        <locationX>2514</locationX>
        <locationY>2124</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Get_Combined_Funnel_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>EC Upsell</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_EC_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Combined_Funnel_Owner_RR_BNP_OBS</name>
        <label>Combined Funnel Owner - RR</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Combined_Funnel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>BNP OBS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Check_for_Combined_Funnel.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Combined_Funnel_Owner_RR_CombinedPath</name>
        <label>Combined Funnel Owner - RR</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Combined_Funnel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>groupName</name>
            <value>
                <stringValue>CombinedPathOBS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Check_for_Combined_Funnel.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>roundRobinAssigner</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Evaluates the appropriate public group for round-robin assignment of the Onboarding Coordinator and Combined Funnel owner user.</description>
        <name>Assignments_Evaluation_ExistingCombinedFunnel</name>
        <label>Assignments Evaluation</label>
        <locationX>578</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Get_Combined_Funnel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Assign OBC</defaultConnectorLabel>
        <rules>
            <name>BNP_OBS_OBC_Assignment_Evaluation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand New Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BNP Site-Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Combined_Funnel_Owner_RR_BNP_OBS</targetReference>
            </connector>
            <label>BNP - OBS</label>
        </rules>
        <rules>
            <name>Combined_Path_OBC_OBS_OBC_Assignment_Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Combined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Combined_Funnel_Owner_RR_CombinedPath</targetReference>
            </connector>
            <label>Combined Path - OBC OBS</label>
        </rules>
        <rules>
            <name>Standard_Path_SS_MS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Combined_Funnel</targetReference>
            </connector>
            <label>Standard Path - SS/MS</label>
        </rules>
        <rules>
            <name>Non_BNP_or_Multi_OBC_OBC_Assignment_Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Path__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Path__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1:1 Multi-Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single-Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Path__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Brand New Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Combined_Funnel</targetReference>
            </connector>
            <label>Non BNP or Multi OBC</label>
        </rules>
        <rules>
            <name>Multi_or_Site_Add_OBC_OBC_Assignment_Evaluation</name>
            <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1:1 Multi-Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site-Add</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Declined_SaaS_Training__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Declined_Billing_Training__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Combined_Funnel</targetReference>
            </connector>
            <label>Multi or Site Add - OBC</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides on the next steps based on whether a Combined Funnel was found or not.</description>
        <name>Combined_Funnel_Exists</name>
        <label>Combined Funnel Exists?</label>
        <locationX>930</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Create_New_Combined_Funnel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CombinedFunnelExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Combined_Funnel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Combined_Funnel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identifies &apos;Customer Type&apos; based on the &apos;Number of Sites&apos; field on the opportunity.</description>
        <name>Customer_Type_Assessment</name>
        <label>Customer Type Assessment</label>
        <locationX>2250</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Create_SaaS_Handoff_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Singe_Site_Customer_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Schools__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Singe_Site</targetReference>
            </connector>
            <label>Singe Site</label>
        </rules>
        <rules>
            <name>Multi_Site_Parent_Customer_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Schools__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Multi_Site_Parent</targetReference>
            </connector>
            <label>Multi Site Parent</label>
        </rules>
        <rules>
            <name>Multi_Site_Child_Add_On_Customer_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Schools__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Multi_Site_Add_On</targetReference>
            </connector>
            <label>Multi Site Child Add On</label>
        </rules>
        <rules>
            <name>Multi_Site_Child_Customer_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Schools__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Multi_Site_Child</targetReference>
            </connector>
            <label>Multi Site Child</label>
        </rules>
    </decisions>
    <decisions>
        <description>Since contacts for SaaS and Billing Primary Contact are different, check if there&apos;s any contact tagged as Billing Primary Contact. If there is, update that contact&apos;s field &quot;Onboarding Billing Primary Contact&quot; to true only.</description>
        <name>Existing_Different_Billing_Contact</name>
        <label>Existing Different Billing Contact?</label>
        <locationX>2800</locationX>
        <locationY>1308</locationY>
        <defaultConnector>
            <targetReference>Interested_In_BW_Learning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Different_Billing_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Primary_Contact__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes_Same_SaaS_And_Billing_Primary_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_As_Billing_Primary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the value on the field &quot;Interested In BW Learning&quot; on the CW opportunity is &quot;Yes&quot;.</description>
        <name>Interested_In_BW_Learning</name>
        <label>Interested In BW Learning?</label>
        <locationX>2602</locationX>
        <locationY>1692</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Combined_Funnel_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Yes_InterestedInBrightwheelLearning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Interested_in_bw_Learning__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_EC_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_EC_Opp_Found</name>
        <label>Open EC Opp Found?</label>
        <locationX>2426</locationX>
        <locationY>1908</locationY>
        <defaultConnector>
            <targetReference>Create_EC_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_EC_Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Combined_Funnel_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the contact assgined as the SaaS Primary Contact and Billing Primary Contact on the opportunity is the same</description>
        <name>Same_SaaS_And_Billing_Primary_Contact</name>
        <label>Same SaaS And Billing Primary Contact?</label>
        <locationX>2602</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Set_Contact_As_SaaS_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_SaaS_And_Billing_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Billing_Primary_Contact__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_As_SaaS_And_Billing_Primary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Add</name>
        <label>Site Add?</label>
        <locationX>2602</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Create_SaaS_Handoff_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_Site_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site_Add__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Type_Assessment</targetReference>
            </connector>
            <label>Not a Site Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_add_immediate</name>
        <label>Site add?</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_site_add_immediate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site_Add__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Combined_Funnel</targetReference>
            </connector>
            <label>Not a site add</label>
        </rules>
    </decisions>
    <description>When a SaaS opportunity moves to the &apos;Closed Won&apos; stage, this flow creates the Combined Funnel and Onboarding records for the account. Additionally, it creates child records for multi-site accounts.
01/29/24 - PE - Added the &quot;Raise Montana Conversion&quot; path.
02/28/24 - PE - Mapped opportunity promo code to account and child accounts.
03/28/24 - PE - Added path to call a subflow to make assignments on the account
06/20/24 - PE - Updated value for Billing Onboarding Status on CF and Billing Onboarding.
6/25/24 - JH - removed raise montana decision at start of flow. Set the open and operating date last updated when the combined funnel is created.
6/26/24 - BW - added logic to populate account Billing Activation Start Date
07/16/24 - PE - Removed references to field Subisidy Tracking, Declined Billing Training and Declined Billing Training Reason
07/19/24 - PE - Added subflow to sync onboarding with school after main billing and saas onboarding records are created.
07/29/24 - PE - Mapped  Billing Activation Start Date to populate on child accounts.
08/12/24 - PE - Mapped OBC Owner, OBC Call Scheduled Date and OBC Call Completed Date to accounts.
09/11/24 - PE - Added element to stamp created combined funnel to CW opportunity.
09/24/24 - BW - Added existing record check before creating EC Opp based off of Interesting in BW Learning
10/7/24 - JH Updated formula &quot;forT_Account_IsBrandNewProgram&quot; to also be set to yes when BNP Site Add is selected
12/17/24 - MC - added decision element: Onboarding Path - if standard - it will call the subflow to assign the custom sequence reminders for the opportunity owner
12/17/24 - MC - updated forT_CombinedFunnel_Owner to assign to 00GEi000006ASkLMAW (Standard Path Onboarding Queue), added this value to the forT_Account_UpdateAccountOwner formula
12/27/24 - JH updated (update account) nodes to set the value of &apos;Bill Rate Submitted Date&apos; to Opp CW Date when &apos;Was Rate Card Added&apos; = Yes (via flow formula variable)
01/06/2024 - LK - Changed the forT_Account_Owner formula to add logic for Standard Onboarding Path. During CW for Saas Oppty, the OBS owner data will not be available - so the Account should stay in the AE&apos;s name instead of defaulting to Account Queue when OBS Owner field on Oppty is Blank.
01/08/25 - LK - Updated forT_CombinedFunnel_owner formula so it only sets the Combined Funnel Owner as Standard Onboarding Queue, if the OBS Owner is blank at opp saas cw.
1/28/2025 - Deleted - decision element: Onboarding Path - if standard - it will call the subflow to assign the custom sequence reminders for the opportunity owner
2/10/25 - BW -Updated Account Updates to include Most Recent SaaS CW Opportunity
02/25/25 - PE - Added node to call OA creation subflow
3/13/25 JH - updated to remove child site record creation in async path, this will be done in subflow called from cw screen flow instead
03/19/25 - Add a subflow to Sync Opportunity Post CW stages.
03/21/25 - Removed  Add a subflow to Sync Opportunity Post CW stages.
04/25/25 - Added logic to populate Number of Schools on Account from CW Opp.  Adjusted formula for new Rate Card picklist values
5/12/2025 - JS Moved several nodes to async path in order to free up CPU resources
5/19/2025 - AC - Removed references to Account Status field
2/5/2026 - DM - Removed references to OBC Owner field (deprecating field)
3/12/2026 - AC - Exempting Site Adds from CF and Account Update nodes.</description>
    <environments>Default</environments>
    <formulas>
        <name>forAcctBillingActivationStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISPICKVAL({!$Record.Billing_Status_at_CW__c},&apos;Opted In&apos;),{!$Flow.CurrentDate},NULL)</expression>
    </formulas>
    <formulas>
        <name>forB_BypassVR</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!$Record.Bypass_Validation_Rule__c} = True,
False,
True
)</expression>
    </formulas>
    <formulas>
        <description>Sets the Bill Rate Submitted Date on account to the date the saas opp was updated to CW if &apos;Was Rate Card Added&apos; = Yes, otherwise leave blank</description>
        <name>ForD_Bill_Rate_Submitted_Date</name>
        <dataType>Date</dataType>
        <expression>IF(CONTAINS(TEXT({!$Record.Was_rate_card_captured__c}), &quot;Yes&quot;), {!$Flow.CurrentDate}, NULL)</expression>
    </formulas>
    <formulas>
        <name>forD_BillingUpsellCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 14</expression>
    </formulas>
    <formulas>
        <name>forD_CombinedFunnel_WebinarDate</name>
        <dataType>Date</dataType>
        <expression>IF(
   ISPICKVAL({!$Record.Onboarding_Path__c}, &apos;Brand New Program&apos;),
   {!$Record.Onboarding_Webinar_Date__c},
   null
)</expression>
    </formulas>
    <formulas>
        <name>forD_HotPassOBCCompletedDate</name>
        <dataType>Date</dataType>
        <expression>IF(
{!$Record.HotPass__c} = True,
{!$Flow.CurrentDate},
{!$Record.Account.OBC_Call_Completed_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>forN_Account_Capacity_MultiSite_Child_And_AddOn</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Capacity__c} + {!$Record.Capacity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forN_SiteAddCapacity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Parent.Capacity__c} + {!$Record.Capacity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forT_Account_CustomerTypeMultiSite</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
ISPICKVAL({!$Record.Account.Customer_Type__c},&apos;Enterprise&apos;),
ISPICKVAL({!$Record.Account.Customer_Type__c},&apos;Government&apos;),
ISPICKVAL({!$Record.Account.Customer_Type__c},&apos;Government Payer&apos;),
ISPICKVAL({!$Record.Account.Customer_Type__c},&apos;Government Licensee&apos;)
),
TEXT({!$Record.Account.Customer_Type__c}),&apos;Multi-Site Parent&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_Account_CustomerTypeMultiSiteChild</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
ISPICKVAL({!$Record.Account.Customer_Type__c},&apos;Enterprise&apos;),
ISPICKVAL({!$Record.Account.Customer_Type__c},&apos;Government&apos;),
ISPICKVAL({!$Record.Account.Customer_Type__c},&apos;Government Payer&apos;),
ISPICKVAL({!$Record.Account.Customer_Type__c},&apos;Government Licensee&apos;)
),
TEXT({!$Record.Account.Customer_Type__c}),&apos;Multi-Site Child&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_Account_CustomerTypeSingleSite</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
ISPICKVAL({!$Record.Account.Customer_Type__c},&apos;Enterprise&apos;),
ISPICKVAL({!$Record.Account.Customer_Type__c},&apos;Government&apos;),
ISPICKVAL({!$Record.Account.Customer_Type__c},&apos;Government Payer&apos;),
ISPICKVAL({!$Record.Account.Customer_Type__c},&apos;Government Licensee&apos;)
),
TEXT({!$Record.Account.Customer_Type__c}),&apos;Single-Site&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_Account_IsBrandNewProgram</name>
        <dataType>String</dataType>
        <expression>IF(
   OR(
    ISPICKVAL({!$Record.Onboarding_Path__c}, &apos;BNP Site-Add&apos;),
    ISPICKVAL({!$Record.Onboarding_Path__c}, &apos;Brand New Program&apos;)),
    &apos;Yes&apos;, &apos;No&apos;
)</expression>
    </formulas>
    <formulas>
        <name>forT_Account_Owner</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!$Record.OBS_Owner__c}),
    &apos;0053u0000035xeBAAQ&apos;,
    {!$Record.OBS_Owner__c}
)</expression>
    </formulas>
    <formulas>
        <name>forT_Account_UpdateAccountOwner</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
{!Get_Combined_Funnel.OwnerId} = &quot;00G3u000002aqp3EAA&quot;,
{!Get_Combined_Funnel.OwnerId} = &quot;00G3u000002egpzEAA&quot;,
{!Get_Combined_Funnel.OwnerId} = &quot;00GPB000001orzp2AA&quot;,
{!Get_Combined_Funnel.OwnerId} = &quot;00GRd000000pTzFMAU&quot;),
&quot;0053u0000035xeBAAQ&quot;,
{!Get_Combined_Funnel.OwnerId}
)</expression>
    </formulas>
    <formulas>
        <name>forT_ActiveCombinedFunnelID</name>
        <dataType>String</dataType>
        <expression>IF(
ISNULL({!Create_New_Combined_Funnel}),
{!Check_for_Combined_Funnel.Id},
{!Create_New_Combined_Funnel}
)</expression>
    </formulas>
    <formulas>
        <name>forT_BillingOnboardingStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.Billing_Status_at_CW__c}, &quot;Hard Opt Out&quot;),
    &quot;Opted Out&quot;,
    &quot;Active&quot;
)</expression>
    </formulas>
    <formulas>
        <name>forT_BillingOnboardingStatusAccount</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.Billing_Status_at_CW__c}, &quot;Hard Opt Out&quot;),
    &quot;Opted Out&quot;,
    &quot;Active&quot;
)</expression>
    </formulas>
    <formulas>
        <name>forT_BillingUpsellOpptyName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} &amp; &quot; Experience Curriculum &quot; &amp; 
CASE(MONTH({!$Flow.CurrentDate}),
1, &quot;JAN&quot;,
2, &quot;FEB&quot;,
3, &quot;MAR&quot;,
4, &quot;APR&quot;,
5, &quot;MAY&quot;,
6, &quot;JUN&quot;,
7, &quot;JUL&quot;,
8, &quot;AUG&quot;,
9, &quot;SEP&quot;,
10, &quot;OCT&quot;,
11, &quot;NOV&quot;,
&quot;DEC&quot;) 
&amp; &quot; &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>forT_ChildAccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} &amp; &apos; - Location &apos; &amp; TEXT({!varN_ChildRecordsCreated}+1)</expression>
    </formulas>
    <formulas>
        <name>forT_ChildBillingOnboardingRecordName</name>
        <dataType>String</dataType>
        <expression>&apos;[loc&apos;+TEXT({!varN_ChildRecordsCreated}+1)+&apos;]&apos;+&apos; &apos;+{!$Record.Account.Name} + &apos; - Billing Onboarding&apos;</expression>
    </formulas>
    <formulas>
        <name>forT_ChildCombinedFunnelName</name>
        <dataType>String</dataType>
        <expression>&apos;[loc&apos; + TEXT({!varN_ChildRecordsCreated} + 1) + &apos;]&apos; + &apos; &apos; + {!$Record.Account.Name} + &apos; Combined Funnel&apos;</expression>
    </formulas>
    <formulas>
        <name>forT_ChildSaaSOnboardingRecordName</name>
        <dataType>String</dataType>
        <expression>&apos;[loc&apos;+TEXT({!varN_ChildRecordsCreated}+1)+&apos;]&apos;+&apos; &apos;+{!$Record.Account.Name} + &apos; - SaaS Onboarding&apos;</expression>
    </formulas>
    <formulas>
        <name>forT_CombinedFunnel_BillingCallOrWebinarStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!$Record.Billing_1_1_Onboarding_Call_Date__c}),
    null, &apos;Scheduled&apos;
)</expression>
    </formulas>
    <formulas>
        <name>forT_CombinedFunnel_Owner</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
             {!$Record.Declined_SaaS_Training__c} = True, 
             {!$Record.Declined_Billing_Training__c}= True
    ),
     &apos;00G3u000002aqp3EAA&apos;, 
      IF(
          AND(
         ISPICKVAL({!$Record.Onboarding_Path__c},&apos;Standard&apos;),
         ISBLANK({!$Record.OBS_Owner__c})
),
         &apos;00GPB000001orzp2AA&apos;,
IF(
    AND(
             ISBLANK({!$Record.OBS_Owner__c}),
             NOT(ISPICKVAL({!$Record.Onboarding_Path__c},&apos;Self Serve&apos;))
    ),
      &apos;00G3u000002egpzEAA&apos;, 
     IF(
         ISPICKVAL({!$Record.Onboarding_Path__c},&apos;Self Serve&apos;),
        &apos;00G3u000002aqp3EAA&apos;,
        {!$Record.OBS_Owner__c}
   ))
))</expression>
    </formulas>
    <formulas>
        <name>forT_MainBillingOnboarding_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &apos; - Billing Onboarding&apos;</expression>
    </formulas>
    <formulas>
        <name>forT_MainCombinedFunnelName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}+ &apos; Combined Funnel&apos;</expression>
    </formulas>
    <formulas>
        <name>forT_MainSaaSOnboarding_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &apos; - SaaS Onboarding&apos;</expression>
    </formulas>
    <formulas>
        <name>forT_PreventsSyncToAccountTriggerExistingCombinedFunnel</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!Check_for_Combined_Funnel.Prevent_Sync_to_Account__c} = True,
False,
True
)</expression>
    </formulas>
    <formulas>
        <name>forT_SaaSOnboarding_RecordType</name>
        <dataType>String</dataType>
        <expression>IF(
ISPICKVAL({!$Record.Account.Customer_Type__c}, &quot;Single-Site&quot;),
&quot;0121I000000OGlwQAG&quot;,
&quot;0121I000000OGluQAG&quot;
)</expression>
    </formulas>
    <interviewLabel>Opportunity - SaaS CW - After Save - Create Combined Funnel and Onboarding Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - SaaS CW - After Save - Create Combined Funnel and Onboarding Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Billing_Handoff_Note</name>
        <label>Create Billing Handoff Note</label>
        <locationX>2602</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Same_SaaS_And_Billing_Primary_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>$Record.Billing_Conversation_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SharingPrivacy</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Billing Handoff Notes From Sales</stringValue>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a new Experience Curriculum Upsell opportunity</description>
        <name>Create_EC_Opportunity</name>
        <label>Create EC Opportunity</label>
        <locationX>2514</locationX>
        <locationY>2016</locationY>
        <connector>
            <targetReference>Assign_EC_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>forD_BillingUpsellCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>$Record.Current_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Curriculum_Payment_Type__c</field>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forT_BillingUpsellOpptyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source__c</field>
            <value>
                <stringValue>SaaS - Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0053u0000035xeBAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123u000000BZUmAAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a new Billing Onboarding record from the closed won opportunity.</description>
        <name>Create_Main_Billing_Onboarding_Record</name>
        <label>Create Main Billing Onboarding Record</label>
        <locationX>2602</locationX>
        <locationY>2508</locationY>
        <connector>
            <targetReference>Launch_Account_Assignment_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_or_Webinar_Date__c</field>
            <value>
                <elementReference>$Record.Billing_1_1_Onboarding_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Conversation_Notes__c</field>
            <value>
                <elementReference>$Record.Billing_Conversation_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Intervals__c</field>
            <value>
                <elementReference>$Record.Billing_Intervals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Setup_Call_Path__c</field>
            <value>
                <elementReference>$Record.Onboarding_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Board_or_Additional_DMs_Not_Demo_d__c</field>
            <value>
                <elementReference>$Record.Board_or_Additional_DMs_Not_Demo_d__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>forT_Account_IsBrandNewProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combined_Funnel__c</field>
            <value>
                <elementReference>Get_Combined_Funnel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>$Record.Current_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tool_for_Billing__c</field>
            <value>
                <elementReference>$Record.Current_Tool_for_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Site_Info__c</field>
            <value>
                <elementReference>$Record.Multi_Site_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forT_MainBillingOnboarding_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sites__c</field>
            <value>
                <elementReference>$Record.Number_of_Schools__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Status__c</field>
            <value>
                <elementReference>forT_BillingOnboardingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>$Record.Open_and_Operating_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Close_Date_Stamp__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_Combined_Funnel_Owner.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>$Record.Preferred_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121I000000OGlsQAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uses_Attendance_or_Variable_Rate_Billing__c</field>
            <value>
                <elementReference>$Record.Uses_Attendance_or_Variable_Rate_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_BW_Billing__c</field>
            <value>
                <elementReference>$Record.Why_BW_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Combined_Funnel</name>
        <label>Create New Combined Funnel</label>
        <locationX>1282</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Get_Combined_Funnel</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BNP_Webinar_Date__c</field>
            <value>
                <elementReference>forD_CombinedFunnel_WebinarDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_or_Webinar_Date__c</field>
            <value>
                <elementReference>$Record.Billing_1_1_Onboarding_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_or_Webinar_Status__c</field>
            <value>
                <elementReference>forT_CombinedFunnel_BillingCallOrWebinarStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Dropout_Reason__c</field>
            <value>
                <elementReference>$Record.Billing_Closed_Lost_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Intervals__c</field>
            <value>
                <elementReference>$Record.Billing_Intervals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Status__c</field>
            <value>
                <elementReference>forT_BillingOnboardingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Billing_Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Status_at_CW__c</field>
            <value>
                <elementReference>$Record.Billing_Status_at_CW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Board_or_Additional_DMs_Not_Demo_d__c</field>
            <value>
                <elementReference>$Record.Board_or_Additional_DMs_Not_Demo_d__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>forT_Account_IsBrandNewProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Mindset__c</field>
            <value>
                <elementReference>$Record.Buying_Mindset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Center_Operating_Status__c</field>
            <value>
                <elementReference>$Record.Current_Center_Operating_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>$Record.Current_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tech__c</field>
            <value>
                <elementReference>$Record.Current_Tech__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tool_for_Billing__c</field>
            <value>
                <elementReference>$Record.Current_Tool_for_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declined_SaaS_Training__c</field>
            <value>
                <elementReference>$Record.Declined_SaaS_Training__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Bill_Date__c</field>
            <value>
                <elementReference>$Record.First_Bill_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Site_Info__c</field>
            <value>
                <elementReference>$Record.Multi_Site_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forT_MainCombinedFunnelName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Open_Operating_Date_Updates__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sites__c</field>
            <value>
                <elementReference>$Record.Number_of_Schools__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Path__c</field>
            <value>
                <elementReference>$Record.Onboarding_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date_Last_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>$Record.Open_and_Operating_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Promo_Offered__c</field>
            <value>
                <elementReference>$Record.Other_Promo_Offered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_CombinedFunnel_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payroll_interest_level__c</field>
            <value>
                <elementReference>$Record.Payroll_interest_level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>$Record.Preferred_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prevent_Sync_to_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_Offered__c</field>
            <value>
                <elementReference>$Record.Promo_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_CW_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>$Record.Secondary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_of_Devices__c</field>
            <value>
                <elementReference>$Record.Status_of_Devices__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Information_Currently_Stored__c</field>
            <value>
                <elementReference>$Record.Student_Information_Currently_Stored__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Billing_Launch_Timeframe__c</field>
            <value>
                <elementReference>$Record.Target_Billing_Launch_Timeframe__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Launch_Date_SaaS__c</field>
            <value>
                <elementReference>$Record.Target_Launch_Date_SaaS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uses_Attendance_or_Variable_Rate_Billing__c</field>
            <value>
                <elementReference>$Record.Uses_Attendance_or_Variable_Rate_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_BW_Billing__c</field>
            <value>
                <elementReference>$Record.Why_BW_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Paying_Students__c</field>
            <value>
                <elementReference>$Record.of_Students_Processing_Tuition_Online__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Teachers__c</field>
            <value>
                <elementReference>$Record.of_Teachers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Total_Staff__c</field>
            <value>
                <elementReference>$Record.of_Total_Staff__c</elementReference>
            </value>
        </inputAssignments>
        <object>Combined_Funnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SaaS_Handoff_Note</name>
        <label>Create SaaS Handoff Note</label>
        <locationX>2602</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Create_Billing_Handoff_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>$Record.Additional_Concerns_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SharingPrivacy</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>SaaS Handoff Notes From Sales</stringValue>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Link_Billing_Handoff_Note_to_Combined_Funnel</name>
        <label>Link Billing Handoff Note to Combined Funnel</label>
        <locationX>2602</locationX>
        <locationY>3048</locationY>
        <connector>
            <targetReference>Link_SaaS_Handoff_Note_to_Combined_Funnel</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Create_Billing_Handoff_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Copy_1_of_Get_Combined_Funnel_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Link_SaaS_Handoff_Note_to_Combined_Funnel</name>
        <label>Link SaaS Handoff Note to Combined Funnel</label>
        <locationX>2602</locationX>
        <locationY>3156</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Create_SaaS_Handoff_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Copy_1_of_Get_Combined_Funnel_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Checks if there&apos;s any Combined Funnel record associated with the opportunity&apos;s account.</description>
        <name>Check_for_Combined_Funnel</name>
        <label>Check for Combined Funnel</label>
        <locationX>930</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Combined_Funnel_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Combined_Funnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Owner of the Combined Funnel. This owner information might be set in one of two ways: either by the Apex Round Robin node on an existing Combined Funnel Record or from a newly created Combined Funnel record.</description>
        <name>Copy_1_of_Get_Combined_Funnel_Owner</name>
        <label>Get Combined Funnel Owner</label>
        <locationX>2602</locationX>
        <locationY>2400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Main_Billing_Onboarding_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Combined_Funnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>2602</locationX>
        <locationY>2724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Onboarding_Attempts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Owner of the Combined Funnel. This owner information might be set in one of two ways: either by the Apex Round Robin node on an existing Combined Funnel Record or from a newly created Combined Funnel record.</description>
        <name>Get_Combined_Funnel</name>
        <label>Get Combined Funnel</label>
        <locationX>930</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tag_Combined_Funnel_To_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Combined_Funnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_EC_Opportunity</name>
        <label>Get Existing EC Opportunity</label>
        <locationX>2426</locationX>
        <locationY>1800</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_EC_Opp_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Experience_Curriculum_Opportunity</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Contact_As_Billing_Primary</name>
        <label>Set Contact As Billing Primary</label>
        <locationX>2668</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>Interested_In_BW_Learning</targetReference>
        </connector>
        <inputAssignments>
            <field>Onboarding_Billing_Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Billing_Primary_Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If the contact for SaaS and Billing Primary Contact is the same, then set both fields &quot;Onboarding Billing Primary Contact&quot; and &quot;Onboarding SaaS Primary Contact&quot; to true.</description>
        <name>Set_Contact_As_SaaS_And_Billing_Primary</name>
        <label>Set Contact As SaaS And Billing Primary</label>
        <locationX>2404</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Interested_In_BW_Learning</targetReference>
        </connector>
        <inputAssignments>
            <field>Onboarding_Billing_Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_SaaS_Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If the contacts for SaaS and Billing Primary Contact are different, then set the field &quot;Onboarding SaaS Primary Contact&quot; to true only.</description>
        <name>Set_Contact_As_SaaS_Primary</name>
        <label>Set Contact As SaaS Primary</label>
        <locationX>2800</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Existing_Different_Billing_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Onboarding_SaaS_Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Tag_Combined_Funnel_To_Opportunity</name>
        <label>Tag Combined Funnel To Opportunity</label>
        <locationX>930</locationX>
        <locationY>1200</locationY>
        <inputAssignments>
            <field>Bypass_Validation_Rule__c</field>
            <value>
                <elementReference>forB_BypassVR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combined_Funnel__c</field>
            <value>
                <elementReference>Get_Combined_Funnel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the opportunity&apos;s account</description>
        <name>Update_Account_Multi_Site_Add_On</name>
        <label>Update Account</label>
        <locationX>2250</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Create_SaaS_Handoff_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>AE_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_Rate_Submitted_Date__c</field>
            <value>
                <elementReference>ForD_Bill_Rate_Submitted_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Activation_Start_Date__c</field>
            <value>
                <elementReference>forAcctBillingActivationStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Status__c</field>
            <value>
                <elementReference>forT_BillingOnboardingStatusAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>forT_Account_IsBrandNewProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brightwheel_School_UUID__c</field>
            <value>
                <elementReference>$Record.Closed_Won_School_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSM_Owner1__c</field>
            <value>
                <elementReference>$Record.OBS_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>forN_Account_Capacity_MultiSite_Child_And_AddOn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Center_Operating_Status__c</field>
            <value>
                <elementReference>$Record.Current_Center_Operating_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Curriculum_Other__c</field>
            <value>
                <elementReference>$Record.Current_Curriculum_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Curriculum__c</field>
            <value>
                <elementReference>$Record.Current_Curriculum__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>$Record.Current_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tech__c</field>
            <value>
                <elementReference>$Record.Current_Tech__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value>
                <elementReference>forT_Account_CustomerTypeMultiSiteChild</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Activation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Interested_in_bw_Learning__c</field>
            <value>
                <elementReference>$Record.Interested_in_bw_Learning__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OBC_Call_Completed_Date__c</field>
            <value>
                <elementReference>forD_HotPassOBCCompletedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OBC_Call_Scheduled_Date__c</field>
            <value>
                <elementReference>$Record.OBC_Call_Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Coordinator__c</field>
            <value>
                <elementReference>$Record.OBC_Owner__r.User_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Setup_Call_Path__c</field>
            <value>
                <elementReference>$Record.Onboarding_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>$Record.Open_and_Operating_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Close_Date__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_Account_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>$Record.Preferred_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotion_Offered__c</field>
            <value>
                <elementReference>$Record.Promo_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Information_Currently_Stored__c</field>
            <value>
                <elementReference>$Record.Student_Information_Currently_Stored__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the opportunity&apos;s account</description>
        <name>Update_Account_Multi_Site_Child</name>
        <label>Update Account</label>
        <locationX>2514</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Update_Parent_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AE_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_Rate_Submitted_Date__c</field>
            <value>
                <elementReference>ForD_Bill_Rate_Submitted_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Activation_Start_Date__c</field>
            <value>
                <elementReference>forAcctBillingActivationStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Status__c</field>
            <value>
                <elementReference>forT_BillingOnboardingStatusAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>forT_Account_IsBrandNewProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brightwheel_School_UUID__c</field>
            <value>
                <elementReference>$Record.Closed_Won_School_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSM_Owner1__c</field>
            <value>
                <elementReference>$Record.OBS_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>forN_Account_Capacity_MultiSite_Child_And_AddOn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Center_Operating_Status__c</field>
            <value>
                <elementReference>$Record.Current_Center_Operating_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Curriculum_Other__c</field>
            <value>
                <elementReference>$Record.Current_Curriculum_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Curriculum__c</field>
            <value>
                <elementReference>$Record.Current_Curriculum__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>$Record.Current_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tech__c</field>
            <value>
                <elementReference>$Record.Current_Tech__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value>
                <elementReference>forT_Account_CustomerTypeMultiSiteChild</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Activation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Interested_in_bw_Learning__c</field>
            <value>
                <elementReference>$Record.Interested_in_bw_Learning__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_SaaS_CW_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OBC_Call_Completed_Date__c</field>
            <value>
                <elementReference>forD_HotPassOBCCompletedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OBC_Call_Scheduled_Date__c</field>
            <value>
                <elementReference>$Record.OBC_Call_Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Coordinator__c</field>
            <value>
                <elementReference>$Record.OBC_Owner__r.User_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Setup_Call_Path__c</field>
            <value>
                <elementReference>$Record.Onboarding_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>$Record.Open_and_Operating_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Close_Date__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_Account_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>$Record.Preferred_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotion_Offered__c</field>
            <value>
                <elementReference>$Record.Promo_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Information_Currently_Stored__c</field>
            <value>
                <elementReference>$Record.Student_Information_Currently_Stored__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the opportunity&apos;s account</description>
        <name>Update_Account_Multi_Site_Parent</name>
        <label>Update Account</label>
        <locationX>1986</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Create_SaaS_Handoff_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>AE_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_Rate_Submitted_Date__c</field>
            <value>
                <elementReference>ForD_Bill_Rate_Submitted_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Activation_Start_Date__c</field>
            <value>
                <elementReference>forAcctBillingActivationStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Status__c</field>
            <value>
                <elementReference>forT_BillingOnboardingStatusAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>forT_Account_IsBrandNewProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brightwheel_School_UUID__c</field>
            <value>
                <elementReference>$Record.Closed_Won_School_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSM_Owner1__c</field>
            <value>
                <elementReference>$Record.OBS_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Center_Operating_Status__c</field>
            <value>
                <elementReference>$Record.Current_Center_Operating_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Curriculum_Other__c</field>
            <value>
                <elementReference>$Record.Current_Curriculum_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Curriculum__c</field>
            <value>
                <elementReference>$Record.Current_Curriculum__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>$Record.Current_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tech__c</field>
            <value>
                <elementReference>$Record.Current_Tech__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value>
                <elementReference>forT_Account_CustomerTypeMultiSite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Activation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Interested_in_bw_Learning__c</field>
            <value>
                <elementReference>$Record.Interested_in_bw_Learning__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_SaaS_CW_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sites__c</field>
            <value>
                <elementReference>$Record.Number_of_Schools__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OBC_Call_Completed_Date__c</field>
            <value>
                <elementReference>forD_HotPassOBCCompletedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OBC_Call_Scheduled_Date__c</field>
            <value>
                <elementReference>$Record.OBC_Call_Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Coordinator__c</field>
            <value>
                <elementReference>$Record.OBC_Owner__r.User_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Setup_Call_Path__c</field>
            <value>
                <elementReference>$Record.Onboarding_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>$Record.Open_and_Operating_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Close_Date__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_Account_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>$Record.Preferred_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotion_Offered__c</field>
            <value>
                <elementReference>$Record.Promo_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Information_Currently_Stored__c</field>
            <value>
                <elementReference>$Record.Student_Information_Currently_Stored__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Now that the Combined funnel ownership has changed and Onboarding coordinator set, update these fields on the account to match those users.</description>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>2602</locationX>
        <locationY>2940</locationY>
        <connector>
            <targetReference>Link_Billing_Handoff_Note_to_Combined_Funnel</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Account_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the opportunity&apos;s account</description>
        <name>Update_Account_Singe_Site</name>
        <label>Update Account</label>
        <locationX>1722</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Create_SaaS_Handoff_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>AE_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_Rate_Submitted_Date__c</field>
            <value>
                <elementReference>ForD_Bill_Rate_Submitted_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Activation_Start_Date__c</field>
            <value>
                <elementReference>forAcctBillingActivationStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Status__c</field>
            <value>
                <elementReference>forT_BillingOnboardingStatusAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>forT_Account_IsBrandNewProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brightwheel_School_UUID__c</field>
            <value>
                <elementReference>$Record.Closed_Won_School_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSM_Owner1__c</field>
            <value>
                <elementReference>$Record.OBS_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Center_Operating_Status__c</field>
            <value>
                <elementReference>$Record.Current_Center_Operating_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Curriculum_Other__c</field>
            <value>
                <elementReference>$Record.Current_Curriculum_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Curriculum__c</field>
            <value>
                <elementReference>$Record.Current_Curriculum__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>$Record.Current_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tech__c</field>
            <value>
                <elementReference>$Record.Current_Tech__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value>
                <elementReference>forT_Account_CustomerTypeSingleSite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Activation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Interested_in_bw_Learning__c</field>
            <value>
                <elementReference>$Record.Interested_in_bw_Learning__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_SaaS_CW_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sites__c</field>
            <value>
                <elementReference>$Record.Number_of_Schools__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OBC_Call_Completed_Date__c</field>
            <value>
                <elementReference>forD_HotPassOBCCompletedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OBC_Call_Scheduled_Date__c</field>
            <value>
                <elementReference>$Record.OBC_Call_Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Setup_Call_Path__c</field>
            <value>
                <elementReference>$Record.Onboarding_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>$Record.Open_and_Operating_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Close_Date__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_Account_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>$Record.Preferred_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotion_Offered__c</field>
            <value>
                <elementReference>$Record.Promo_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Information_Currently_Stored__c</field>
            <value>
                <elementReference>$Record.Student_Information_Currently_Stored__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Combined_Funnel</name>
        <label>Update Existing Combined Funnel</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Assignments_Evaluation_ExistingCombinedFunnel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_for_Combined_Funnel.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BNP_Webinar_Date__c</field>
            <value>
                <elementReference>forD_CombinedFunnel_WebinarDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_or_Webinar_Date__c</field>
            <value>
                <elementReference>$Record.Billing_1_1_Onboarding_Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Call_or_Webinar_Status__c</field>
            <value>
                <elementReference>forT_CombinedFunnel_BillingCallOrWebinarStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Dropout_Reason__c</field>
            <value>
                <elementReference>$Record.Billing_Closed_Lost_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Intervals__c</field>
            <value>
                <elementReference>$Record.Billing_Intervals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Onboarding_Status__c</field>
            <value>
                <elementReference>forT_BillingOnboardingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Billing_Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Status_at_CW__c</field>
            <value>
                <elementReference>$Record.Billing_Status_at_CW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Board_or_Additional_DMs_Not_Demo_d__c</field>
            <value>
                <elementReference>$Record.Board_or_Additional_DMs_Not_Demo_d__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_New_Program__c</field>
            <value>
                <elementReference>forT_Account_IsBrandNewProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Mindset__c</field>
            <value>
                <elementReference>$Record.Buying_Mindset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Center_Operating_Status__c</field>
            <value>
                <elementReference>$Record.Current_Center_Operating_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Enrollment__c</field>
            <value>
                <elementReference>$Record.Current_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tech__c</field>
            <value>
                <elementReference>$Record.Current_Tech__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Tool_for_Billing__c</field>
            <value>
                <elementReference>$Record.Current_Tool_for_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declined_SaaS_Training__c</field>
            <value>
                <elementReference>$Record.Declined_SaaS_Training__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Bill_Date__c</field>
            <value>
                <elementReference>$Record.First_Bill_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Site_Info__c</field>
            <value>
                <elementReference>$Record.Multi_Site_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Open_Operating_Date_Updates__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sites__c</field>
            <value>
                <elementReference>$Record.Number_of_Schools__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Path__c</field>
            <value>
                <elementReference>$Record.Onboarding_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date_Last_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_and_Operating_Date__c</field>
            <value>
                <elementReference>$Record.Open_and_Operating_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Promo_Offered__c</field>
            <value>
                <elementReference>$Record.Other_Promo_Offered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_CombinedFunnel_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Last_Transfer_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payroll_interest_level__c</field>
            <value>
                <elementReference>$Record.Payroll_interest_level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>$Record.Preferred_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prevent_Sync_to_Account__c</field>
            <value>
                <elementReference>forT_PreventsSyncToAccountTriggerExistingCombinedFunnel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_Offered__c</field>
            <value>
                <elementReference>$Record.Promo_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_CW_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Onboarding_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaaS_Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>$Record.Secondary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_of_Devices__c</field>
            <value>
                <elementReference>$Record.Status_of_Devices__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Information_Currently_Stored__c</field>
            <value>
                <elementReference>$Record.Student_Information_Currently_Stored__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Billing_Launch_Timeframe__c</field>
            <value>
                <elementReference>$Record.Target_Billing_Launch_Timeframe__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Launch_Date_SaaS__c</field>
            <value>
                <elementReference>$Record.Target_Launch_Date_SaaS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uses_Attendance_or_Variable_Rate_Billing__c</field>
            <value>
                <elementReference>$Record.Uses_Attendance_or_Variable_Rate_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_BW_Billing__c</field>
            <value>
                <elementReference>$Record.Why_BW_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Paying_Students__c</field>
            <value>
                <elementReference>$Record.of_Students_Processing_Tuition_Online__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Teachers__c</field>
            <value>
                <elementReference>$Record.of_Teachers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Total_Staff__c</field>
            <value>
                <elementReference>$Record.of_Total_Staff__c</elementReference>
            </value>
        </inputAssignments>
        <object>Combined_Funnel__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the parent account associated with the opportunity&apos;s account.</description>
        <name>Update_Parent_Account</name>
        <label>Update Parent Account</label>
        <locationX>2514</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Create_SaaS_Handoff_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>forN_SiteAddCapacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value>
                <stringValue>Multi-Site Parent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sites__c</field>
            <value>
                <elementReference>$Record.Number_of_Schools__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account.Parent</inputReference>
    </recordUpdates>
    <start>
        <locationX>1794</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Site_add_immediate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SaaS</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Site_Add</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Onboarding_Attempts</name>
        <label>Create Onboarding Attempts</label>
        <locationX>2602</locationX>
        <locationY>2832</locationY>
        <connector>
            <targetReference>Update_Account_Owner</targetReference>
        </connector>
        <flowName>Onboarding_Attempt_Subflow_Create_and_Update_OAs</flowName>
        <inputAssignments>
            <name>AccountInput</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CombinnelFunnelInput</name>
            <value>
                <elementReference>Get_Combined_Funnel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityInput</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Launch_Account_Assignment_Flow</name>
        <label>Launch Account Assignment Flow</label>
        <locationX>2602</locationX>
        <locationY>2616</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <flowName>Account_Subflow_Ownership_Assignments</flowName>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varN_ChildRecordsCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_SitesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable created as a dummy to allow the creation of a loop element</description>
        <name>varR_Account</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_ChildAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_ChildAccountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varR_ChildAccountContactRelationshipyToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varR_ChildAccountsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_ChildBillingHandoffNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varR_ChildBillingOnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>varR_ChildCombinedFunnel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Combined_Funnel__c</objectType>
    </variables>
    <variables>
        <name>varR_ChildCombinedFunnelsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Combined_Funnel__c</objectType>
    </variables>
    <variables>
        <name>varR_ChildHandoffNotesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varR_ChildSaaSHandoffNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varR_ChildSaaSOnboardingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>varR_ChilOnboardingRecordsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
