force-app/main/default/flows/Opportunity_After_Save_Record_Updated_CL_Saas_or_Licensee_Opp_Account_to_Inactiv.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Null_Resting_Period</name>
        <label>Null Resting Period</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>RestingPeriod</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_to_Inactive_Prospect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X30_Day_Resting_Period</name>
        <label>30 Day Resting Period</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>RestingPeriod</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_to_Inactive_Prospect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X45_Day_Resting_Period</name>
        <label>45 Day Resting Period</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>RestingPeriod</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>45.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_to_Inactive_Prospect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X90_Day_Resting_Period</name>
        <label>90 Day Resting Period</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>RestingPeriod</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_to_Inactive_Prospect</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Non_Customer_Account</name>
        <label>Non-Customer Account</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Neglected_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_CL_Reason</name>
        <label>Opp CL Reason</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X90_Day</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost - Does not have budget</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost - Gets better deal with competitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost - In contract with competitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost - Processing fees are too high</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Reporting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Billing (Canada)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Staff mgmt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Other financial management solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Multi-site functionality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Admissions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Curriculum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Ease of use</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Adoption concerns (pen/paper)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Adoption concerns (competitor)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product - Other (Note what feature)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process - Could not get right DM on the phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process - Time of year</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other - Unable to fulfill security/IT requests/redlining</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other - Staff buy-in</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X90_Day_Resting_Period</targetReference>
            </connector>
            <label>90 Day</label>
        </rules>
        <rules>
            <name>X30_Day</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process - Neglected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Responding - Spoke to Non-DM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X30_Day_Resting_Period</targetReference>
            </connector>
            <label>30 Day</label>
        </rules>
        <rules>
            <name>X45_Day</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Responding - Spoke to DM (Did Not Pitch)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process - Stopped Responding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other - Not Yet Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X45_Day_Resting_Period</targetReference>
            </connector>
            <label>45 Day</label>
        </rules>
        <rules>
            <name>None</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other - Customer was non-target</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Resting_Period</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaaS_or_Gov_Licensee_Opp</name>
        <label>SaaS or Gov Licensee Opp?</label>
        <locationX>1436</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Remove_related_payer_from_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing customer to gov licensee</defaultConnectorLabel>
        <rules>
            <name>SaaS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123u000000aNBgAAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>SaaS</label>
        </rules>
        <rules>
            <name>New_Gov_Licensee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123u000000FT4KAAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_account_to_inactive_prospect1</targetReference>
            </connector>
            <label>New Gov Licensee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Neglected_Opp</name>
        <label>Sales Neglected Opp?</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Opp_CL_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Neglected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Neglected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_to_CL_Neglected</targetReference>
            </connector>
            <label>Yes - Neglected</label>
        </rules>
    </decisions>
    <description>(12.28.23 - DJ - new flow version with updated flow naming convention. Replaced previous flow called: &apos;CL ALA - Opp CL - Update Account, Resting Period Assignment&apos;)
6/28/23 JH: Updated to include path for Government Licensee Opps. JH 8/21/23 updated to include additional 45 day path CL reason
12.28.23 - DJ - Updated to include Sales Neglected Opp Updates from previously active process builder, entry criteria updated to include OR statement when Sales Neglected = TRUE and Logic Apex Counter is changed.</description>
    <environments>Default</environments>
    <formulas>
        <name>Capacity</name>
        <dataType>Number</dataType>
        <expression>IF(
    NOT(ISBLANK({!$Record.Capacity__c})),
    {!$Record.Capacity__c},{!Get_Account.Capacity__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CustomerType</name>
        <dataType>String</dataType>
        <expression>IF(
    {!None}, 
    &apos;Non-Target&apos;, TEXT({!Get_Account.Customer_Type__c}))</expression>
    </formulas>
    <formulas>
        <name>TodayPlusRestingPeriod</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!RestingPeriod}</expression>
    </formulas>
    <interviewLabel>Opportunity - After Save - Record Updated - CL Saas or Licensee Opp - Account to Inactive Prospect, Resting Periods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Save - Record Updated - CL Saas or Licensee Opp - Account to Inactive Prospect, Resting Periods</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Non_Customer_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_related_payer_from_account</name>
        <label>Remove related payer from account</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Payer_Account__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_to_Inactive_Prospect</name>
        <label>Update Account to Inactive Prospect</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ADMIN_Last_Sales_Owner__c</field>
            <value>
                <elementReference>$Record__Prior.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Active_Form_From_Contact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>Capacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value>
                <elementReference>CustomerType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Inactive_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Transfer_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_SaaS_CL_Reason__c</field>
            <value>
                <elementReference>$Record.Closed_Lost_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0053u0000035xeBAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resell_Eligible_Date__c</field>
            <value>
                <elementReference>TodayPlusRestingPeriod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Inactive Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>update account to inactive prospect and remove related payer</description>
        <name>update_account_to_inactive_prospect1</name>
        <label>update account to inactive prospect</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Payer_Account__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Inactive Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_to_CL_Neglected</name>
        <label>Update Opp to CL Neglected</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Opp_CL_Reason</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Lost_Reason_Detail__c</field>
            <value>
                <stringValue>Auto Closed - Neglected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Lost_Reason__c</field>
            <value>
                <stringValue>Process - Neglected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SaaS_or_Gov_Licensee_Opp</targetReference>
        </connector>
        <filterLogic>(2 OR 3) AND ((1 AND 6) OR (4 AND 5))</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000aNBgAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123u000000FT4KAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOGIC_Apex_counter__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Neglected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Lost_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Process - Neglected</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RestingPeriod</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RestingPeriod_X</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
