force-app/main/default/flows/Org_Auto_Conversion_new_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Leads_Org</name>
        <label>Convert Leads Org</label>
        <locationX>297</locationX>
        <locationY>900</locationY>
        <actionName>ConvertLeadsInvocableOrg</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Auto_Converted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocableOrg</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>New_contact_id</assignToReference>
            <name>contactId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Old_lead_id</assignToReference>
            <name>leadId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Inactive_Owner_decision</name>
        <label>Inactive Owner decision</label>
        <locationX>297</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Convert_Leads_Org</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inactive_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Outbound_Marketing_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_HS_Form_Queue</targetReference>
            </connector>
            <label>Inactive Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Org_record_found</name>
        <label>Org record found</label>
        <locationX>451</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Org_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_incoming_lead</targetReference>
            </connector>
            <label>Record found</label>
        </rules>
    </decisions>
    <description>Convert new Lead if associated Org object has an associated Account
06.27.2025 - LK - Added logic to the inactive owner decision: if a lead is owned by the outbound marketing queue, then update it to the Account Queue user before the lead is converted.
08.13.25 - BW - move to async path to stop the failure of school object creation</description>
    <environments>Default</environments>
    <formulas>
        <name>Lead_id_15</name>
        <dataType>String</dataType>
        <expression>LEFT({!Old_lead_id},15)</expression>
    </formulas>
    <interviewLabel>Org Auto Conversion - new Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Org Auto Conversion - new Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Org_object</name>
        <label>Org object</label>
        <locationX>451</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Org_record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOGIC_associated_accounts__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Auto_Converted</name>
        <label>Update Auto Converted</label>
        <locationX>297</locationX>
        <locationY>1008</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_contact_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOGIC_Auto_Converted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_incoming_lead</name>
        <label>Update incoming lead</label>
        <locationX>297</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Inactive_Owner_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOGIC_Bypass_Validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_HS_Form_Queue</name>
        <label>Update to HS Form Queue</label>
        <locationX>165</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Convert_Leads_Org</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Account_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organization__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TAM</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Org_object</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Finaltasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>New_contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Old_lead_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
