force-app/main/default/flows/Organization_Fields_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigns the value Active Sales to the picklist field Customer Lifecycle Stage</description>
        <name>Active_Sales_Lifecycle_Stage</name>
        <label>Active Sales</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>VariableCustomerLifecycleStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active Sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Primary_Related_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values from the primary lead</description>
        <name>Assign_Values_From_Primary_Lead</name>
        <label>Assign Values From Primary Lead</label>
        <locationX>446</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>VariableLeadSalesLastContactedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Related_Lead.Sales_Last_Contacted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VariableLeadLastTransferDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Related_Lead.LastTransferDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VariableLeadRestingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Related_Lead.OMQ_return_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VariableLeadRecycleDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Related_Lead.Last_Recycled_or_Unqualified_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VariableLeadStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Related_Lead.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Organization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the value Prospect to the picklist field Customer Lifecycle Stage</description>
        <name>Prospect_Lifecycle_Stage</name>
        <label>Prospect</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>VariableCustomerLifecycleStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Primary_Related_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the value Resting to the picklist field Customer Lifecycle Stage</description>
        <name>Resting_Lifecycle_Stage</name>
        <label>Resting</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>VariableCustomerLifecycleStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Primary_Related_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the Get Account element found any account record</description>
        <name>Account_Customer_Type_Found</name>
        <label>Account Customer Type Found</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Assign_Customer_Lifecycle_Stage_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundCustomerAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Related_Customer_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Lifecycle_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Updates the value on the picklist field Customer Lifecycle Stage</description>
        <name>Assign_Customer_Lifecycle_Stage_Update</name>
        <label>Assign Customer Lifecycle Stage</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Prospect_Lifecycle_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prospect</defaultConnectorLabel>
        <rules>
            <name>Active_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Sales_Lifecycle_Stage</targetReference>
            </connector>
            <label>Active Sales</label>
        </rules>
        <rules>
            <name>Resting_Customer_Lifecycle_Stage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resting_Lifecycle_Stage</targetReference>
            </connector>
            <label>Resting</label>
        </rules>
    </decisions>
    <decisions>
        <description>A lead record marked as primary was found on the previous Get Primary Lead node.</description>
        <name>Primary_Lead_Found</name>
        <label>Primary Lead Found</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Update_Organization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PrimaryLeadFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Related_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_From_Primary_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>The primary purpose of this flow is to keep organization records updated based on changes to fields Customer LifeCycle Stage, Stage, Capacity, Sales Last Contacted Date, Last Transfer Date, Resting Date, and Last Recycled or Unqualified Date, across location, leads, contacts, and account records.</description>
    <environments>Default</environments>
    <formulas>
        <description>Updates the organization Stage to Customer if the related account record is customer or to Blank if the related account is updated to Inactive Prospect</description>
        <name>FormulaAccountStage</name>
        <dataType>String</dataType>
        <expression>IF(
ISPICKVAL({!Find_Related_Customer_Account.Type}, &quot;Customer&quot;),
&quot;Customer&quot;,
NULL
)</expression>
    </formulas>
    <formulas>
        <description>Updates the field Customer Lifecycle on the organization based on the values of the related account record.</description>
        <name>FormulaCustomerAccount</name>
        <dataType>String</dataType>
        <expression>IF(
ISPICKVAL({!Find_Related_Customer_Account.Type}, &quot;Customer&quot;),
&quot;Customer&quot;,
&quot;Resting&quot;
)</expression>
    </formulas>
    <interviewLabel>Organization - Fields Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Organization - Fields Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Looks for a related customer or inactive prospect account</description>
        <name>Find_Related_Customer_Account</name>
        <label>Find Related Customer Account</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Customer_Type_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive Prospect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get lead record marked as primary associated with the Organization</description>
        <name>Get_Primary_Related_Lead</name>
        <label>Get Primary Related Lead</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_Last_Contacted__c</queriedFields>
        <queriedFields>LastTransferDate</queriedFields>
        <queriedFields>OMQ_return_date__c</queriedFields>
        <queriedFields>Last_Recycled_or_Unqualified_Date__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the flow customer lifecycle stage field on the organization</description>
        <name>Update_Customer_Lifecycle_Stage</name>
        <label>Update Customer Lifecycle Stage</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Customer_Lifecycle_Stage__c</field>
            <value>
                <elementReference>FormulaCustomerAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>FormulaAccountStage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update organization record that triggered the flow</description>
        <name>Update_Organization</name>
        <label>Update Organization</label>
        <locationX>578</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>Customer_Lifecycle_Stage__c</field>
            <value>
                <elementReference>VariableCustomerLifecycleStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Recycled_or_Unqualified_Date__c</field>
            <value>
                <elementReference>VariableLeadRecycleDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Transfer_Date__c</field>
            <value>
                <elementReference>VariableLeadLastTransferDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resting_Date__c</field>
            <value>
                <elementReference>VariableLeadRestingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Last_Contacted__c</field>
            <value>
                <elementReference>VariableLeadSalesLastContactedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>VariableLeadStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Related_Customer_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Sync_Sales_Fields__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resting_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Organization__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores value from the formula FormulaCustomerAccount</description>
        <name>VariableCustomerAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value for the field Customer Lifecycle Stage</description>
        <name>VariableCustomerLifecycleStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariableLeadLastTransferDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariableLeadRecycleDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariableLeadRestingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariableLeadSalesLastContactedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the field Stage on the lead record</description>
        <name>VariableLeadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
