force-app/main/default/flows/Platform_Event_Flow_Action_Cadence_Tracker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_Target_is_Lead_or_Contact</name>
        <label>Check if Target is Lead or Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TargetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TargetId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Record</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TargetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TargetId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Cadence_Started_or_Finished</name>
        <label>Contact Cadence Started or Finished?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Contact_Default_SE_Tag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Cadence_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_s_Most_Recent_Cadence_Entered</targetReference>
            </connector>
            <label>Contact Cadence Started</label>
        </rules>
        <rules>
            <name>Contact_Cadence_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Null_out_Most_Recent_Cadence_Entered</targetReference>
            </connector>
            <label>Contact Cadence Completed</label>
        </rules>
        <rules>
            <name>Contact_Cadence_Errored</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cadence_Tracker.CompletionReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ManuallyRemoved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Errored_Null_out_Most_Recent_Cadence_Entered</targetReference>
            </connector>
            <label>Contact Cadence Errored</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Completion_Reason_and_Outreach_Stage</name>
        <label>Eligible for Recylce?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligible_for_Recycle</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cadence_Tracker.CompletionReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NoMoreSteps</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Added to Sequence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CadenceId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>77CPB00000007hR2AQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CadenceId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>77CPB000000094v2AA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recycle_Contact</targetReference>
            </connector>
            <label>Eligible for Recycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_6</name>
        <label>Eligible for Recylce?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligible_for_Recylce</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cadence_Tracker.CompletionReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NoMoreSteps</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Added to Sequence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CadenceId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>77CPB000000094v2AA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CadenceId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>77CPB00000007hR2AQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recycle_Lead</targetReference>
            </connector>
            <label>Eligible for Recylce</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Cadence_Started_or_Finished</name>
        <label>Lead Cadence Started or Finished?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Lead_Default_SE_Tag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Cadence_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_with_Most_Recent_Entered_Cadence</targetReference>
            </connector>
            <label>Lead Cadence Started</label>
        </rules>
        <rules>
            <name>Lead_Cadence_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Null_out_Most_Recent_Entered_Cadence</targetReference>
            </connector>
            <label>Lead Cadence Completed</label>
        </rules>
        <rules>
            <name>Lead_Error_Manually_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cadence_Tracker.CompletionReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ManuallyRemoved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Errored_Null_out_Most_Recent_Entered_Cadence</targetReference>
            </connector>
            <label>Lead Error Manually Removed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Cadence_found</name>
        <label>Was Cadence found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_cadence_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Target_is_Lead_or_Contact</targetReference>
            </connector>
            <label>yes cadence found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_cadence_tracker_found</name>
        <label>Was cadence tracker found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cadence_Tracker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cadence</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>This platform event flow listens for the Action Cadence Tracker CDC,Platform event and then updates the most recent cadence field based on the target id.
Added Cadence Label update
11.25.2025 - LK - Get Cadence Tracker to get Completionreason for when State = Error before removing
12.08.2025 - adding logic to see if it fixes the completed logic
02.12.2026- DM- update to recycle Lead and Contact if CompletionReason=No more steps
02.19.2026 - DM- updated added new requirement to not recycle if cadence were two specific sales cadences. Wiping cadence entry tag.</description>
    <environments>Default</environments>
    <interviewLabel>Platform Event Flow - Action Cadence Tracker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Platform Event Flow - Action Cadence Tracker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>to use later on in the flow to update the Cadence Label on Lead or Contact</description>
        <name>Get_Cadence</name>
        <label>Get Cadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Cadence_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cadence_Tracker.ActionCadenceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cadence_Tracker</name>
        <label>Get Cadence Tracker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_cadence_tracker_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TrackerId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadenceTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Cadence_Started_or_Finished</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get lead</description>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Cadence_Started_or_Finished</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Tagging for troubleshooting - investigating why the platform doesn&apos;t work for some contacts/leads when the target is removed from the Cadence.</description>
        <name>Contact_Default_SE_Tag</name>
        <label>Contact - Default SE Tag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SE_Tag__c</field>
            <value>
                <stringValue>Platform Event Flow - Contact Default Path</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Default_SE_Tag</name>
        <label>Lead Default SE Tag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SE_Tag__c</field>
            <value>
                <stringValue>Platform Event Flow - Lead Default Path</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Recycle_Contact</name>
        <label>Recycle Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreach_stage__c</field>
            <value>
                <stringValue>Recycled - Not Yet Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Recycle_Lead</name>
        <label>Recycle Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreach_stage__c</field>
            <value>
                <stringValue>Recycled - Not Yet Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Errored_Null_out_Most_Recent_Cadence_Entered</name>
        <label>Update Contact Errored- Null out Most Recent Cadence Entered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cadence_Label__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Cadence_Entered__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SE_Tag__c</field>
            <value>
                <stringValue>Errored Branch Contact - Platform Event Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Null_out_Most_Recent_Cadence_Entered</name>
        <label>Update Contact - Null out Most Recent Cadence Entered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Completion_Reason_and_Outreach_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cadence_Entry_Tag__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Cadence_Label__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Cadence_Entered__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SE_Tag__c</field>
            <value>
                <stringValue>Completed Branch contact - Platform Event Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_s_Most_Recent_Cadence_Entered</name>
        <label>Update Contact&apos;s Most Recent Cadence Entered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cadence_Label__c</field>
            <value>
                <elementReference>Get_Cadence.Cadence_Label__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Cadence_Entered__c</field>
            <value>
                <elementReference>Get_Cadence.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SE_Tag__c</field>
            <value>
                <stringValue>Started contact - Platform Event Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Errored_Null_out_Most_Recent_Entered_Cadence</name>
        <label>Update Lead Errored - Null out Most Recent Entered Cadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cadence_Label__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Cadence_Entered__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SE_Tag__c</field>
            <value>
                <stringValue>Errored Branch Lead - Platform Event Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Null_out_Most_Recent_Entered_Cadence</name>
        <label>Update Lead - Null out Most Recent Entered Cadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cadence_Entry_Tag__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Cadence_Label__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Cadence_Entered__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SE_Tag__c</field>
            <value>
                <stringValue>Completed Branch Lead - Platform Event Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_with_Most_Recent_Entered_Cadence</name>
        <label>Update Lead with Most Recent Entered Cadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cadence_Label__c</field>
            <value>
                <elementReference>Get_Cadence.Cadence_Label__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Cadence_Entered__c</field>
            <value>
                <elementReference>Get_Cadence.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SE_Tag__c</field>
            <value>
                <stringValue>Started Lead - Platform Event Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cadence_Tracker</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>CadenceTrackerEvent__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
