force-app/main/default/flows/RingDNA_Conversation_After_Save_Update_Call_Task_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Call_Task_Analysis</name>
        <label>Call Task Analysis</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_update_Call_Task</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Call_Task.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Call_Task.CallDurationInSeconds</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ringdna__Duration_Seconds__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Call_Task.Call_Completed_At__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CallCompletedAt</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Call_Task.Outreach_Call_Recoording__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ringdna__Recording_URL__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Call_Task.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ringdna__Direction__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Call_Task_Fields</targetReference>
            </connector>
            <label>Need to update Call Task</label>
        </rules>
    </decisions>
    <description>When a conversation record is updated with the recording URL, updates other call tasks using data from the conversation record
JH 1/8/24: updated to use call duration in seconds as the triggering update
BW 8/19: Added logic to check to see if Call Task needed updated to avoid unnecessary record lock failures</description>
    <environments>Default</environments>
    <formulas>
        <name>CallCompletedAt</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.ringdna__Start_Time__c} + ({!$Record.ringdna__Duration_Seconds__c}/86400)</expression>
    </formulas>
    <interviewLabel>RingDNA Conversation - After Save - Update Call Task Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RingDNA Conversation - After Save - Update Call Task Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Call_Task</name>
        <label>Get Call Task</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Task_Analysis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ringdna__Conversation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Call_Task_Fields</name>
        <label>Update Call Task Fields</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <faultConnector>
            <targetReference>Update_Call_Task_Fields_fail_try</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Call_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <elementReference>$Record.ringdna__Duration_Seconds__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Completed_At__c</field>
            <value>
                <elementReference>CallCompletedAt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outreach_Call_Recoording__c</field>
            <value>
                <elementReference>$Record.ringdna__Recording_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.ringdna__Direction__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Call_Task_Fields_fail_try</name>
        <label>Update Call Task Fields (fail try)</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Call_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <elementReference>$Record.ringdna__Duration_Seconds__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Completed_At__c</field>
            <value>
                <elementReference>CallCompletedAt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outreach_Call_Recoording__c</field>
            <value>
                <elementReference>$Record.ringdna__Recording_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.ringdna__Direction__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Call_Task</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>((1 OR 4) AND (2 OR 3))</filterLogic>
        <filters>
            <field>ringdna__Duration_Seconds__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ringdna__Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ringdna__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ringdna__Recording_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ringdna__Conversation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
