force-app/main/default/flows/RLA_Lead_Resting_Period_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_Update_Collection</name>
        <label>Assign to Update Collection</label>
        <locationX>3394</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>collectionUpdateLead</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Sales_Owned_Leads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Sales_Owned_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Store_RLQ_Owner</name>
        <label>Store RLQ Owner</label>
        <locationX>2294</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>varNewOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G1I000000XOJhUAO</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Store_RLQ_Owner</name>
        <label>Store RLQ Owner</label>
        <locationX>1106</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>varNewOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G1I000000XOJhUAO</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_3_of_Store_RLQ_Owner</name>
        <label>Store RLQ Owner</label>
        <locationX>1634</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>varNewOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G1I000000XOJhUAO</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>New_Owner_Assigned</name>
        <label>New Owner Assigned</label>
        <locationX>3394</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Sales_Owned_Leads.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_thru_Sales_Owned_Leads.LOGIC_Bypass_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_RLQ_Owner</name>
        <label>Store RLQ Owner</label>
        <locationX>1370</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>varNewOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G1I000000XOJhUAO</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_UNQ_Enterprise_Owner</name>
        <label>Store UNQ - Enterprise Owner</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>varNewOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Unqualified_Leads_Enterprise</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_UNQ_Owner_Default_UNQ_Queue</name>
        <label>Store UNQ Owner - Default UNQ Queue</label>
        <locationX>842</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>varNewOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Unqualified_Leads_Queue</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_UNQ_Owner_ECE_Non_Target</name>
        <label>Store UNQ Owner - ECE Non Target</label>
        <locationX>578</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>varNewOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Unqualfied_Leads_ECE_NonTarget</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_UNQ_Owner_Non_ECE_Queue</name>
        <label>Store UNQ Owner - Non ECE Queue</label>
        <locationX>314</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>varNewOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Unqualified_Leads_Non_ECE</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Apex_Counter_updated</name>
        <label>Apex Counter updated</label>
        <locationX>1700</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Outreach_Stage_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LOGIC_Apex_Counter_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOGIC_Apex_counter__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_back_to_OMQ</targetReference>
            </connector>
            <label>LOGIC Apex Counter Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Org_Dec</name>
        <label>Found Org Dec</label>
        <locationX>3438</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Get_Sales_Owned_Leads_from_Org</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Org</defaultConnectorLabel>
        <rules>
            <name>Found_Organization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Org_to_AQ</targetReference>
            </connector>
            <label>Found Organization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Latest_Call_Dispo</name>
        <label>Latest Call Dispo</label>
        <locationX>2294</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>OMQ_Date_30_Days2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Everything Else</defaultConnectorLabel>
        <rules>
            <name>NA_Spoke_to_Non_DM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Spoke_to_Non_DM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spoke_to_DM_Did_Not_Pitch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recycled - Not Yet Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OMQ_Date_30_Days</targetReference>
            </connector>
            <label>NA - Spoke to Non-DM</label>
        </rules>
        <rules>
            <name>NA_Spoke_to_DM_Did_Not_Pitch</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Spoke_to_DM_Did_Not_Pitch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recycled - Not Yet Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OMQ_Date_45_Days</targetReference>
            </connector>
            <label>NA - Spoke to DM (Did Not Pitch)</label>
        </rules>
        <rules>
            <name>Latest_Sequence_Not_Answered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Spoke_to_DM_Did_Not_Pitch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spoke_to_Non_DM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OMQ_Date_7_Days</targetReference>
            </connector>
            <label>Latest Sequence - Not Answered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_back_to_OMQ</name>
        <label>Move back to OMQ?</label>
        <locationX>1546</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Outreach_Stage_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_to_OMQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Last_Contacted__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.LastTransferDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_to_OMQ</targetReference>
            </connector>
            <label>Back to OMQ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Sales_Owner_Leads</name>
        <label>Other Sales Owner Leads</label>
        <locationX>3438</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>No Other Sales Owned Leads</defaultConnectorLabel>
        <rules>
            <name>Found_Leads_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Owned_Leads_from_Org</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Sales_Owned_Leads</targetReference>
            </connector>
            <label>Found Leads to Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outreach_Stage_Decision</name>
        <label>Outreach Stage Decision</label>
        <locationX>1700</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UNQ_Enterprise_decision</targetReference>
            </connector>
            <label>Unqualified</label>
        </rules>
        <rules>
            <name>Recycled_90_Day_Resting_Period</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recycled - Not Interested - Budget Issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>P&amp;P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OMQ_Date_90_Days2</targetReference>
            </connector>
            <label>Recycled - 90 Day Resting Period</label>
        </rules>
        <rules>
            <name>Recycled_120_Day_Resting_Period</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recycled - Not Interested - Time of Year</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recycled - Non Primary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recycled - Features Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recycled - Not Interested - Hung Up on Multiple Times</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recycled - Not Yet Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OMQ_Date_120_Days</targetReference>
            </connector>
            <label>Recycled - 120 Day Resting Period</label>
        </rules>
        <rules>
            <name>Recycled_180_Day_Resting_Period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recycled - Using Competitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OMQ_Date_180_Days</targetReference>
            </connector>
            <label>Recycled - 180 Day Resting Period</label>
        </rules>
        <rules>
            <name>Recycled_Not_Responding_Neglected</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Recycled - </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Last_Contacted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastReferencedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Latest_Call_Dispo</targetReference>
            </connector>
            <label>Recycled - Not Responding/Neglected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Lead_dec</name>
        <label>Primary Lead dec</label>
        <locationX>3636</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Non-Primary Lead</defaultConnectorLabel>
        <rules>
            <name>Primary_Lead_marked_REQ_UNQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNewOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Organization</targetReference>
            </connector>
            <label>Primary Lead marked REQ/UNQ</label>
        </rules>
    </decisions>
    <decisions>
        <name>UNQ_Enterprise_decision</name>
        <label>UNQ - Enterprise decision</label>
        <locationX>446</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>OMQ_Date_Null_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default UNQ</defaultConnectorLabel>
        <rules>
            <name>Call_Dispo_Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Enterpise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enterprise_OMQ_Date_Null</targetReference>
            </connector>
            <label>Call Dispo = Enterprise</label>
        </rules>
        <rules>
            <name>Non_ECE_Dispos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Existing Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Not ECE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Out of Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Do Not Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Public School</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_ECE_OMQ_Date_Null</targetReference>
            </connector>
            <label>Non ECE Dispos</label>
        </rules>
        <rules>
            <name>ECE_Non_Target</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>International</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Language</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Capacity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ECE_Non_Target_OMQ_Date_Null</targetReference>
            </connector>
            <label>ECE Non Target</label>
        </rules>
    </decisions>
    <description>When a leads outreach stage is marked as REC or UNQ, sets OMQ return date and updates the stage and owner to OMQ. JH 8/18/23 updated to incorporate new outreach stage REC - Not yet qualified
5/7/25 - BW - Updated to run at time of REC or UNQ with the removal of Final Disposition
11/04/2025 - LK - Exclude TaskSubtype = Cadence from the Auto Close Tasks
02/25/2026- VB- Removed &quot;Inactive Lead&quot; field reference from the flow</description>
    <environments>Default</environments>
    <formulas>
        <name>TimesRecycledFormula</name>
        <dataType>Number</dataType>
        <expression>IF(OR({!$Record.Times_Recycled__c}= NULL,
          {!$Record.Times_Recycled__c} = 0), 1, {!$Record.Times_Recycled__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TodayPlus120</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISNULL({!$Record.Target_Resell_Date__c})),
{!$Record.Target_Resell_Date__c},
Today() + 120)</expression>
    </formulas>
    <formulas>
        <name>TodayPlus180</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISNULL({!$Record.Target_Resell_Date__c})),
{!$Record.Target_Resell_Date__c},
Today() + 180)</expression>
    </formulas>
    <formulas>
        <name>TodayPlus30</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISNULL({!$Record.Target_Resell_Date__c})),
{!$Record.Target_Resell_Date__c},
Today() + 30)</expression>
    </formulas>
    <formulas>
        <name>TodayPlus45</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISNULL({!$Record.Target_Resell_Date__c})),
{!$Record.Target_Resell_Date__c},
Today() + 45)</expression>
    </formulas>
    <formulas>
        <name>TodayPlus7</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISNULL({!$Record.Target_Resell_Date__c})),
{!$Record.Target_Resell_Date__c},
Today() + 7)</expression>
    </formulas>
    <formulas>
        <name>TodayPlus90</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISNULL({!$Record.Target_Resell_Date__c})),
{!$Record.Target_Resell_Date__c},
Today() + 90)</expression>
    </formulas>
    <interviewLabel>RLA - Lead - Resting Period Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLA - Lead - Resting Period Assignment</label>
    <loops>
        <name>Loop_thru_Sales_Owned_Leads</name>
        <label>Loop thru Sales Owned Leads</label>
        <locationX>3306</locationX>
        <locationY>1116</locationY>
        <collectionReference>Get_Sales_Owned_Leads_from_Org</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Owner_Assigned</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_Collection_New_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Organization</name>
        <label>Get Organization</label>
        <locationX>3438</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Org_Dec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Owned_Leads_from_Org</name>
        <label>Get Sales Owned Leads from Org</label>
        <locationX>3438</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Sales_Owner_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOGIC_Owned_by_queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Auto_Close_Tasks</name>
        <label>Auto Close Tasks</label>
        <locationX>3636</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Primary_Lead_dec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Auto completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>ECE_Non_Target_OMQ_Date_Null</name>
        <label>ECE Non Target - OMQ Date = Null</label>
        <locationX>578</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Store_UNQ_Owner_ECE_Non_Target</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Status_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Active_Form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Behavior_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Demographic_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_HubSpot_Form_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOGIC_Enterprise_Call_Dispo_Selected__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Recycled_or_Unqualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMQ_return_date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Unqualfied_Leads_ECE_NonTarget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Recycled__c</field>
            <value>
                <elementReference>TimesRecycledFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reason__c</field>
            <value>
                <elementReference>$Record.Outreach_stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Enterprise_OMQ_Date_Null</name>
        <label>Enterprise OMQ Date = Null</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Store_UNQ_Enterprise_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Status_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Active_Form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Behavior_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Demographic_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_HubSpot_Form_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOGIC_Enterprise_Call_Dispo_Selected__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Recycled_or_Unqualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMQ_return_date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Unqualified_Leads_Enterprise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Recycled__c</field>
            <value>
                <elementReference>TimesRecycledFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reason__c</field>
            <value>
                <elementReference>$Record.Outreach_stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Non_ECE_OMQ_Date_Null</name>
        <label>Non ECE - OMQ Date = Null</label>
        <locationX>314</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Store_UNQ_Owner_Non_ECE_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Status_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Active_Form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Behavior_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Demographic_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_HubSpot_Form_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOGIC_Enterprise_Call_Dispo_Selected__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Recycled_or_Unqualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMQ_return_date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Unqualified_Leads_Non_ECE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Recycled__c</field>
            <value>
                <elementReference>TimesRecycledFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reason__c</field>
            <value>
                <elementReference>$Record.Outreach_stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OMQ_Date_120_Days</name>
        <label>OMQ Date = 120 Days</label>
        <locationX>1370</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Store_RLQ_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Status_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Active_Form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Behavior_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Demographic_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_HubSpot_Form_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Recycled_or_Unqualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMQ_return_date__c</field>
            <value>
                <elementReference>TodayPlus120</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1I000000XOJhUAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasons_to_Recycle__c</field>
            <value>
                <elementReference>$Record.Outreach_stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Recycled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Recycled__c</field>
            <value>
                <elementReference>TimesRecycledFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OMQ_Date_180_Days</name>
        <label>OMQ Date = 180 Days</label>
        <locationX>1634</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Copy_3_of_Store_RLQ_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Status_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Active_Form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Behavior_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Demographic_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_HubSpot_Form_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Recycled_or_Unqualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMQ_return_date__c</field>
            <value>
                <elementReference>TodayPlus180</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1I000000XOJhUAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasons_to_Recycle__c</field>
            <value>
                <elementReference>$Record.Outreach_stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Recycled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Recycled__c</field>
            <value>
                <elementReference>TimesRecycledFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OMQ_Date_30_Days</name>
        <label>OMQ Date = 30 Days</label>
        <locationX>1898</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Copy_1_of_Store_RLQ_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Status_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Active_Form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Behavior_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Demographic_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_HubSpot_Form_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Recycled_or_Unqualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMQ_return_date__c</field>
            <value>
                <elementReference>TodayPlus30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1I000000XOJhUAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasons_to_Recycle__c</field>
            <value>
                <elementReference>$Record.Outreach_stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Recycled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Recycled__c</field>
            <value>
                <elementReference>TimesRecycledFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OMQ_Date_30_Days2</name>
        <label>OMQ Date = 30 Days</label>
        <locationX>2690</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Copy_1_of_Store_RLQ_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Status_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Active_Form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Behavior_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Demographic_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_HubSpot_Form_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Recycled_or_Unqualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMQ_return_date__c</field>
            <value>
                <elementReference>TodayPlus30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1I000000XOJhUAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasons_to_Recycle__c</field>
            <value>
                <elementReference>$Record.Outreach_stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Recycled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Recycled__c</field>
            <value>
                <elementReference>TimesRecycledFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OMQ_Date_45_Days</name>
        <label>OMQ Date = 45 Days</label>
        <locationX>2162</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Copy_1_of_Store_RLQ_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Status_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Active_Form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Behavior_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Demographic_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_HubSpot_Form_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Recycled_or_Unqualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMQ_return_date__c</field>
            <value>
                <elementReference>TodayPlus45</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1I000000XOJhUAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasons_to_Recycle__c</field>
            <value>
                <elementReference>$Record.Outreach_stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Recycled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Recycled__c</field>
            <value>
                <elementReference>TimesRecycledFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OMQ_Date_7_Days</name>
        <label>OMQ Date = 7 Days</label>
        <locationX>2426</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Copy_1_of_Store_RLQ_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Status_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Active_Form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Behavior_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Demographic_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_HubSpot_Form_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Recycled_or_Unqualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMQ_return_date__c</field>
            <value>
                <elementReference>TodayPlus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1I000000XOJhUAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasons_to_Recycle__c</field>
            <value>
                <elementReference>$Record.Outreach_stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Recycled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Recycled__c</field>
            <value>
                <elementReference>TimesRecycledFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OMQ_Date_90_Days2</name>
        <label>OMQ Date = 90 Days</label>
        <locationX>1106</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Copy_2_of_Store_RLQ_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Status_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Active_Form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Behavior_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Demographic_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_HubSpot_Form_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Recycled_or_Unqualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMQ_return_date__c</field>
            <value>
                <elementReference>TodayPlus90</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1I000000XOJhUAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasons_to_Recycle__c</field>
            <value>
                <elementReference>$Record.Outreach_stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Recycled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Recycled__c</field>
            <value>
                <elementReference>TimesRecycledFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OMQ_Date_Null_Days</name>
        <label>OMQ Date = Null</label>
        <locationX>842</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Store_UNQ_Owner_Default_UNQ_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Status_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Active_Form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Behavior_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Demographic_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_HubSpot_Form_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Recycled_or_Unqualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMQ_return_date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Unqualified_Leads_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Recycled__c</field>
            <value>
                <elementReference>TimesRecycledFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reason__c</field>
            <value>
                <elementReference>$Record.Outreach_stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Collection_New_Owner</name>
        <label>Update Lead Collection New Owner</label>
        <locationX>3306</locationX>
        <locationY>1524</locationY>
        <inputReference>collectionUpdateLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_to_OMQ</name>
        <label>Update Lead to OMQ</label>
        <locationX>1414</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Booking_Status_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type_CP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outreach_stage__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1I000002EeRIUA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Lead_Owner__c</field>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spoke_to_DM_Did_Not_Pitch__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spoke_to_Non_DM__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Org_to_AQ</name>
        <label>Update Org to AQ</label>
        <locationX>3306</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Get_Sales_Owned_Leads_from_Org</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organization__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Account_Queue</elementReference>
            </value>
        </inputAssignments>
        <object>Organization__c</object>
    </recordUpdates>
    <start>
        <locationX>2542</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Apex_Counter_updated</targetReference>
        </connector>
        <filterLogic>2 AND 3 AND ((1 AND (5 OR 6)) OR 4 )</filterLogic>
        <filters>
            <field>Outreach_stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00Q3u00001CfuiNEAR</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LOGIC_Apex_counter__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Outreach_stage__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Recycled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Outreach_stage__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Auto_Close_Tasks</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1300</triggerOrder>
    <variables>
        <name>collectionUpdateLead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varNewOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
