force-app/main/default/flows/School_Object_Customer_Segment_Change_Trigger_Account_Owner_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Customer_Segment</name>
        <label>Customer Segment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Remove_SaaS_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SaaSEntTeam_Members</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
        <rules>
            <name>Small_or_Medium</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10-39 small</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>40-99 medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SaaSSMBTeam_Members</targetReference>
            </connector>
            <label>Small or Medium</label>
        </rules>
        <rules>
            <name>Large_or_Multisite</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMB Multisite 2-9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100+ large</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SaaSLargeTeam_Members</targetReference>
            </connector>
            <label>Large or Multisite</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Segment_Check</name>
        <label>Customer Segment Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_or_Micro</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Segment__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&lt; 10 micro</stringValue>
                </rightValue>
            </conditions>
            <label>Blank or Micro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gov_Ent</name>
        <label>Gov / Ent ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Customer_Segment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Related_Payer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government Payer</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaaSEntTeam_Owner_match</name>
        <label>SaaSEntTeam Owner match?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Remove_SaaS_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SaaSEntTeam_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaaSLargeTeam_Owner_Match</name>
        <label>SaaSLargeTeam Owner Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Remove_SaaS_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SaaSLargeTeam_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaaSSMB_Owner_Match</name>
        <label>SaaSSMB Owner Match?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Remove_SaaS_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SaaSSMBTeam_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_NeedsUpdate</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
  OR(
    AND(
      {!$Record.Customer_Segment__c} = &quot;40-99 medium&quot;,
      {!$Record__Prior.Customer_Segment__c} = &quot;10-39 small&quot;
    ),
    AND(
      {!$Record.Customer_Segment__c} = &quot;10-39 small&quot;,
      {!$Record__Prior.Customer_Segment__c} = &quot;40-99 medium&quot;
    ),
    AND(
      {!$Record.Customer_Segment__c} = &quot;SMB Multisite 2-9&quot;,
      {!$Record__Prior.Customer_Segment__c} = &quot;100+ large&quot;
    ),
    AND(
      {!$Record.Customer_Segment__c} = &quot;100+ large&quot;,
      {!$Record__Prior.Customer_Segment__c} = &quot;SMB Multisite 2-9&quot;
    )
  )
)</expression>
    </formulas>
    <interviewLabel>School Object - Customer Segment Change - Trigger Account Owner Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>School Object - Customer Segment Change - Trigger Account Owner Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gov_Ent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bw_School_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Brightwheel_School_UUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_account_related_to_triggering_school</name>
        <label>Get account related to triggering school</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Launch_Ownership_assignments_subflow1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bw_School_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Brightwheel_School_UUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SaaSEntTeam_Members</name>
        <label>Get SaaSEntTeam Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SaaSEntTeam_Owner_match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SaaSEntTeam_Public_Group</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.SaaS_Owner__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SaaSLargeTeam_Members</name>
        <label>Get SaaSLargeTeam Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SaaSLargeTeam_Owner_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SaaSLargeTeam_Public_Group</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.SaaS_Owner__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SaaSSMBTeam_Members</name>
        <label>Get SaaSSMBTeam Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SaaSSMB_Owner_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SaaSSMBTeam_Public_Group</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.SaaS_Owner__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_SaaS_Owner</name>
        <label>Remove SaaS Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SaaS_Owner__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Segment_Check</targetReference>
        </connector>
        <filterFormula>AND(
  {!$Record.Premium_ECE__c} = TRUE,
  OR(
    AND(
        ISNEW(),
        NOT(ISBLANK({!$Record.Customer_Segment__c}))
     ),
    ISCHANGED({!$Record.Customer_Segment__c})
    )
)</filterFormula>
        <object>School_Object__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_Hour_Delay_Path</name>
            <connector>
                <targetReference>Get_account_related_to_triggering_school</targetReference>
            </connector>
            <label>1 Hour Delay Path</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Launch_Ownership_assignments_subflow1</name>
        <label>Launch Ownership assignments subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Account_Subflow_Ownership_Assignments</flowName>
        <inputAssignments>
            <name>varOrgUUID</name>
            <value>
                <elementReference>Get_account_related_to_triggering_school.bw_Organization_UUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>Get_account_related_to_triggering_school.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>NeedsSaaSOwnerUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SaaSOwnerPublicGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>var_OrgUUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
