force-app/main/default/flows/School_Object_After_Save_Post_CW_Opp_Stages.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Find the related  Account to later get the latest Closed Won Opportunity.</description>
        <name>Account_Found</name>
        <label>Account Found?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Post_CW_Opportunity</targetReference>
            </connector>
            <label>Yes, Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Opp_Found</name>
        <label>Was Opp Found?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Post_CW_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Post_CW_Set_by_Automation_on_Opp</targetReference>
            </connector>
            <label>Yes, Opp Found</label>
        </rules>
    </decisions>
    <description>Testing - Replace with the Subflow

Update Opportunity Post Close Won stages based on the School Object data. This Flow is responsible for updating Opportunity Stages - SSPR Collection and Completed

03.20.2025 - LK - Remove the required of Billing Training Scheduled Date for the OB Eligible Stage
03.21.2025 - LK - Add 2 formulas for CF Saas/Billing Onboarding Status - to update the In progress stage , post cw status = OBS Owned At Risk
03.24.2025 - LK - Fixed the Post CW Status Update picklist value - Fully Activated
03.25.2025 - adding Billing Setting Up Bills Stage Met Date to SSPR logic
04.10.2025 - Updates the new checkbox field - Post CW Set by Automation to allow the flow to bypass the validation rule that prevents users from updating the Post CW Stages
04.14.2025 - BW - Added logic to set AE Owned at Risk based on Billing Onboarding Status
04.18.2025 - LK - Added logic to evulate for Open Cancel Case
04.28.2025 - LK - Unresponsive Logic added, so if Post CW Status = Unresponsive, then don&apos;t evaluate the post cw stages.
05.06.2025 - LK - Added OBE Override logic
06.04.2025 - LK - Update Winback Logic for the SSPR Stage ( Update logic to treat the deal as a true winback only if the SSPR dates are more than 30 days before the Close Date.)
06.10.2025 - LK - Update logic to treat the deal as a true winback only if the SSPR dates are more than 4 days before the Close Date.)
07.31.2025 - LK  Updated SSPR Logic and Added logic for self-serve and site add when training is declined
08.04.2025 - LK - Added Saas Onboarding Elgible Date and Billing Onboarding Eligible Date to entry criteria.</description>
    <environments>Default</environments>
    <formulas>
        <description>If anyone of the Billing Onboarding Status = Postponed, Unresponsive, SaaS At Risk, Billing At Risk, Requesting Postpone -
Awaiting Approval, Requesting Opt Out Awaiting Approval, then Opp Stage = Onboarding in progress and Post CW Stage =
OBS Owned at Risk</description>
        <name>BillingOnboardingStatusRISK</name>
        <dataType>Boolean</dataType>
        <expression>IF( 
OR(
ISPICKVAL({!Get_Post_CW_Opportunity.Combined_Funnel__r.Billing_Onboarding_Status__c} , &quot;Postponed&quot;),
ISPICKVAL({!Get_Post_CW_Opportunity.Combined_Funnel__r.Billing_Onboarding_Status__c} ,&quot;Unresponsive&quot;),
ISPICKVAL({!Get_Post_CW_Opportunity.Combined_Funnel__r.Billing_Onboarding_Status__c} ,&quot;SaaS At Risk&quot;),
ISPICKVAL({!Get_Post_CW_Opportunity.Combined_Funnel__r.Billing_Onboarding_Status__c} , &quot;Billing At Risk&quot;),
ISPICKVAL({!Get_Post_CW_Opportunity.Combined_Funnel__r.Billing_Onboarding_Status__c} , &quot;Requesting Postpone - Awaiting Approval&quot;),
ISPICKVAL({!Get_Post_CW_Opportunity.Combined_Funnel__r.Billing_Onboarding_Status__c} , &quot;Requesting Opt Out - Awaiting Approval&quot;)), 
TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <description>if Approved_Accelerated_Onboarding_Date__c and Approved_OBE_Override_Date__c is blank then there is no OBE Override and all SSPR fields need to be evaluated. If one has a value, then this formula = true, that there is OBE Override.</description>
        <name>OBEOverrideApproved</name>
        <dataType>Boolean</dataType>
        <expression>IF(
  AND(
    ISBLANK({!Get_Post_CW_Opportunity.Approved_Accelerated_Onboarding_Date__c}),
    ISBLANK({!Get_Post_CW_Opportunity.Approved_OBE_Override_Date__c})
  ),
  FALSE,
  TRUE
)</expression>
    </formulas>
    <formulas>
        <description>If anyone of the Saas Onboarding Status = Postponed, Unresponsive, SaaS At Risk, Billing At Risk, Requesting Postpone -
Awaiting Approval, Requesting Opt Out Awaiting Approval, then Opp Stage = Onboarding in progress and Post CW Stage =
OBS Owned at Risk</description>
        <name>SaasOnboardingStatusRISK</name>
        <dataType>Boolean</dataType>
        <expression>IF( 
OR(
ISPICKVAL({!Get_Post_CW_Opportunity.Combined_Funnel__r.SaaS_Onboarding_Status__c} , &quot;Postponed&quot;),
ISPICKVAL({!Get_Post_CW_Opportunity.Combined_Funnel__r.SaaS_Onboarding_Status__c} ,&quot;Unresponsive&quot;),
ISPICKVAL({!Get_Post_CW_Opportunity.Combined_Funnel__r.SaaS_Onboarding_Status__c} ,&quot;SaaS At Risk&quot;),
ISPICKVAL({!Get_Post_CW_Opportunity.Combined_Funnel__r.SaaS_Onboarding_Status__c} , &quot;Billing At Risk&quot;),
ISPICKVAL({!Get_Post_CW_Opportunity.Combined_Funnel__r.SaaS_Onboarding_Status__c} , &quot;Requesting Postpone - Awaiting Approval&quot;),
ISPICKVAL({!Get_Post_CW_Opportunity.Combined_Funnel__r.SaaS_Onboarding_Status__c} , &quot;Requesting Opt Out - Awaiting Approval&quot;)), 
TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>varCloseDateMinus4Days</name>
        <dataType>Date</dataType>
        <expression>{!Get_Post_CW_Opportunity.CloseDate} - 4</expression>
    </formulas>
    <interviewLabel>School Object - After Save - Post CW Opp Stages {!$Flow.CurrentDateTime}</interviewLabel>
    <label>School Object - After Save - Post CW Opp Stages</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Account that is related to the Newly created or updated School Object.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>School_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the recently closed won opportunity that is one of the Post CW</description>
        <name>Get_Post_CW_Opportunity</name>
        <label>Get Post CW Opportunity</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Opp_Found</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4 OR 5 ) AND 6 AND 7 AND ( 8 OR 9 OR 10 )</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SaaS_Opportunity_Record_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SaaS_Child_Oppprtunity</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Government_Licensee_Record_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Gov_Child_Opportunity</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2025-04-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSPR Collection</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OB Eligible</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set the Post CW Set by Automation checkbox to TRUE to allow the flow to update the Opportunity Stage to a Post-CW value (e.g., SSPR, OB, Onboarding in Progress, Completed) without triggering the validation rule.</description>
        <name>Set_Post_CW_Set_by_Automation_on_Opp</name>
        <label>Set Post CW Set by Automation on Opp</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Subflow_Post_Close_Won_Opportunity_Stage_Sync</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Post_CW_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Post_CW_Set_by_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterFormula>OR(
IsNEW(),
ISCHANGED({!$Record.SaaS_Adding_Students_Stage_Met_Date__c}),
ISCHANGED({!$Record.SaaS_Adding_Parents_Stage_Met_Date__c}),
ISCHANGED({!$Record.SaaS_Adding_Staff_Stage_Met_Date__c}),
ISCHANGED({!$Record.Billing_Setting_Up_Bills_Stage_Met_Date__c}),
ISCHANGED({!$Record.SaaS_Activation_Funnel_Stage_2024__c}),
ISCHANGED({!$Record.Billing_Activation_Funnel_Stage_2024__c}),
ISCHANGED({!$Record.Cancellation_Date__c}),
ISCHANGED({!$Record.SaaS_Onboarding_Eligible_Date__c}),
ISCHANGED({!$Record.Billing_Onboarding_Eligible_Date__c})

)</filterFormula>
        <object>School_Object__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Post_Close_Won_Opportunity_Stage_Sync</name>
        <label>Subflow - Post Close Won Opportunity Stage Sync</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <flowName>School_Subflow_Sync_Opportunity_Post_CW_Stages</flowName>
        <inputAssignments>
            <name>varR_Accountid</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_Oppid</name>
            <value>
                <elementReference>Get_Post_CW_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_SchoolObjectid</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
