force-app/main/default/flows/School_Object_After_Save_New_Record_Matching.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact_UUIDs</name>
        <label>Assign Contact UUIDs</label>
        <locationX>94</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.School_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Brightwheel_User_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Brightwheel_Owner_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Existing_School</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_UUID</name>
        <label>Assign Lead UUID</label>
        <locationX>578</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.School_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Brightwheel_User_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Brightwheel_Owner_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Brightwheel_School_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Brightwheel_School_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyNameLogicExistingLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StateLogic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneLogic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_UUID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_School_Id_to_Account</name>
        <label>Assign School Id to Account</label>
        <locationX>468</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.School_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ADMIN_Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BW - New School Match</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UUID_to_Contact_Account</name>
        <label>Assign UUID to Contact Account</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>Get_Contacts_Account.Brightwheel_School_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Brightwheel_School_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contacts_Account.School_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contacts_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_UUID_decision</name>
        <label>Account UUID decision</label>
        <locationX>94</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>School_Object_already_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_Account.School_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_UUIDs</targetReference>
            </connector>
            <label>School Object already connected</label>
        </rules>
        <rules>
            <name>School_Object_NOT_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_Account.School_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_UUID_to_Contact_Account</targetReference>
            </connector>
            <label>School Object NOT connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_decision</name>
        <label>Email decision</label>
        <locationX>754</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Nothing more to do</defaultConnectorLabel>
        <rules>
            <name>School_contains_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>School contains email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Account_Decision</name>
        <label>Found Account Decision</label>
        <locationX>600</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Email_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_School_Id_to_Account</targetReference>
            </connector>
            <label>Found Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Contact_decision</name>
        <label>Found Contact decision</label>
        <locationX>402</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Move on</defaultConnectorLabel>
        <rules>
            <name>Found_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_Account</targetReference>
            </connector>
            <label>Found Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Lead_decision</name>
        <label>Found Lead decision</label>
        <locationX>710</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Get_New_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_UUID</targetReference>
            </connector>
            <label>Found Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>School_UUID_decision</name>
        <label>School UUID decision</label>
        <locationX>754</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Email_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>School_UUID_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brightwheel_School_UUID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>School UUID exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CompanyNameLogicExistingLead</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
           {!Get_Lead.Company} = &apos;Not Provided&apos;,
           {!Get_Lead.Company}  = &apos;[not provided]&apos;
   ),
   IF(
        NOT(ISBLANK({!$Record.Account_Name__c})),
        {!$Record.Account_Name__c},
        {!Get_Lead.Company} 
  ),        
   {!Get_Lead.Company} 
)</expression>
    </formulas>
    <formulas>
        <name>CompanyNameLogicNewLead</name>
        <dataType>String</dataType>
        <expression>if(
    NOT(ISBLANK({!$Record.Account_Name__c})), 
    {!$Record.Account_Name__c},
    &apos;Not Provided&apos;
)</expression>
    </formulas>
    <formulas>
        <name>FirstName40Logic</name>
        <dataType>String</dataType>
        <expression>IF(
      LEN({!$Record.Owner_First_Name__c}) &gt; 40,
      LEFT({!$Record.Owner_First_Name__c} , 40),
      {!$Record.Owner_First_Name__c}
 )</expression>
    </formulas>
    <formulas>
        <name>LastName80Logic</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!$Record.Owner_Last_Name__c})), 
    IF(
         LEN({!$Record.Owner_Last_Name__c}) &gt; 80,
         LEFT({!$Record.Owner_Last_Name__c}, 80),
         {!$Record.Owner_Last_Name__c}
   ),
    {!$Record.Owner_Email__c}
)</expression>
    </formulas>
    <formulas>
        <name>PhoneLogic</name>
        <dataType>String</dataType>
        <expression>if(
    NOT(ISBLANK({!$Record.School_Phone__c})), 
    {!$Record.School_Phone__c},
   {!Get_Lead.Phone}
)</expression>
    </formulas>
    <formulas>
        <name>StateLogic</name>
        <dataType>String</dataType>
        <expression>if(
    NOT(ISBLANK({!$Record.State__c})), 
    {!$Record.State__c},
   {!Get_Lead.State}
)</expression>
    </formulas>
    <interviewLabel>School Object - After Save - New Record Matching {!$Flow.CurrentDateTime}</interviewLabel>
    <label>School Object - After Save - New Record Matching</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Task</name>
        <label>Create Contact Task</label>
        <locationX>94</locationX>
        <locationY>2195</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051I000004HUjOQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121I000000OEYAQA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Object__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Free Trial sign up - existing contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Contacts_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Existing_Lead_Task</name>
        <label>Create Existing Lead Task</label>
        <locationX>578</locationX>
        <locationY>1895</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051I000004HUjOQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121I000000OEYAQA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Object__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Free Trial sign up - existing lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Lead_Task</name>
        <label>Create New Lead Task</label>
        <locationX>842</locationX>
        <locationY>1787</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051I000004HUjOQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121I000000OEYAQA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Object__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Free Trial sign up - existing lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_New_Lead</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Get_New_Lead</name>
        <label>Get New Lead</label>
        <locationX>842</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Create_New_Lead_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Brightwheel_School_UUID__c</field>
            <value>
                <elementReference>$Record.Brightwheel_School_UUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brightwheel_User_UUID__c</field>
            <value>
                <elementReference>$Record.Brightwheel_Owner_UUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>CompanyNameLogicNewLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FTS_number_of_students__c</field>
            <value>
                <elementReference>$Record.Stated_student_count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FTS_program_type__c</field>
            <value>
                <elementReference>$Record.Program_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName40Logic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName80Logic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>User Outreach</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Detail__c</field>
            <value>
                <stringValue>Proactive Trial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Outbound_Marketing_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.School_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Object__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>600</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Account_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brightwheel_School_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Brightwheel_School_UUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>402</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Contact_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_Account</name>
        <label>Get Contacts Account</label>
        <locationX>94</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_UUID_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>710</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Lead_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>468</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Existing_School</name>
        <label>Update Contact - Existing School</label>
        <locationX>94</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Create_Contact_Task</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contacts_Account</name>
        <label>Update Contacts Account</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Assign_Contact_UUIDs</targetReference>
        </connector>
        <inputReference>Get_Contacts_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_UUID</name>
        <label>Update Lead UUID</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Create_Existing_Lead_Task</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>School_UUID_decision</targetReference>
        </connector>
        <object>School_Object__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
</Flow>
