force-app/main/default/flows/School_Object_After_Save_Update_Account_from_Canceled_to_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Acct_Type</name>
        <label>Assign Acct Type</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ADMIN_Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAdminTag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Account_decision</name>
        <label>Found Account decision</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Nada</defaultConnectorLabel>
        <rules>
            <name>Found_Updatable_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Acct_Type</targetReference>
            </connector>
            <label>Found Updatable Account</label>
        </rules>
    </decisions>
    <description>Automated flow to capture when an Account goes from Cancelled to BW Plan = Premium</description>
    <environments>Default</environments>
    <formulas>
        <name>formAdminTag</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDate}) &amp; &quot; BW - SO After Save Canceled&quot;</expression>
    </formulas>
    <interviewLabel>School Object - After Save - Update Account from Canceled to Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>School Object - After Save - Update Account from Canceled to Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Account_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>School_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cancellation_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cancellation_Date__c</field>
            <operator>EqualTo</operator>
        </filters>
        <object>School_Object__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
