force-app/main/default/flows/School_Object_After_Save_Contact_Field_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>162</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>collUpdateContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_from_School_Object</name>
        <label>Assign values from School Object</label>
        <locationX>162</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varTempContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempContact.SaaS_Activation_Funnel_Stage_2024__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSaaSActivationFunnelStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempContact.SaaS_Activation_Funnel_Value_2024__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSaaSActivationFunnelValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempContact.Billing_Activation_Funnel_Stage_2024__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forBillingActivationFunnelStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempContact.Billing_Activation_Funnel_Value_2024__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forBillingActivationFunnelValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempContact.SaaS_Adding_Students_Stage_Met_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSaaSAddingStudentsStageMetDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempContact.SaaS_Adding_Parents_Stage_Met_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSaasAddingParentsStageMetDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempContact.SaaS_Adding_Staff_Stage_Met_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSaaSAddingStaffStageMetDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Account_decision</name>
        <label>Found Account decision</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Account - No Further Actions</defaultConnectorLabel>
        <rules>
            <name>Found_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Found Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Contacts_decision</name>
        <label>Found Contacts decision</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Collection_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contacts - DONE</defaultConnectorLabel>
        <rules>
            <name>Found_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Contacts</targetReference>
            </connector>
            <label>Found Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Collection_Decision</name>
        <label>Update Collection Decision</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Nothing to see here</defaultConnectorLabel>
        <rules>
            <name>Update_the_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collUpdateContacts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Contacts</targetReference>
            </connector>
            <label>Update the Records</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forBillingActivationFunnelStage</name>
        <dataType>String</dataType>
        <expression>IF(
  ISCHANGED({!$Record.Billing_Activation_Funnel_Stage_2024__c}),
  TEXT({!$Record.Billing_Activation_Funnel_Stage_2024__c}),
  TEXT({!Loop_Thru_Contacts.Billing_Activation_Funnel_Stage_2024__c})
)</expression>
    </formulas>
    <formulas>
        <name>forBillingActivationFunnelValue</name>
        <dataType>Number</dataType>
        <expression>IF(
  ISCHANGED({!$Record.Billing_Activation_Funnel_Value_2024__c}),
  {!$Record.Billing_Activation_Funnel_Value_2024__c},
{!Loop_Thru_Contacts.Billing_Activation_Funnel_Value_2024__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forSaaSActivationFunnelStage</name>
        <dataType>String</dataType>
        <expression>IF(
  ISCHANGED({!$Record.SaaS_Activation_Funnel_Stage_2024__c}),
  TEXT({!$Record.SaaS_Activation_Funnel_Stage_2024__c}),
  TEXT({!Loop_Thru_Contacts.SaaS_Activation_Funnel_Stage_2024__c})
)</expression>
    </formulas>
    <formulas>
        <name>forSaaSActivationFunnelValue</name>
        <dataType>Number</dataType>
        <expression>IF(
  ISCHANGED({!$Record.SaaS_Activation_Funnel_Value_2024__c}),
  {!$Record.SaaS_Activation_Funnel_Value_2024__c},
{!Loop_Thru_Contacts.SaaS_Activation_Funnel_Value_2024__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forSaasAddingParentsStageMetDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  ISCHANGED({!$Record.SaaS_Adding_Parents_Stage_Met_Date__c}),
  {!$Record.SaaS_Adding_Parents_Stage_Met_Date__c},
  {!Loop_Thru_Contacts.SaaS_Adding_Parents_Stage_Met_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>forSaaSAddingStaffStageMetDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  ISCHANGED({!$Record.SaaS_Adding_Staff_Stage_Met_Date__c}),
  {!$Record.SaaS_Adding_Staff_Stage_Met_Date__c},
  {!Loop_Thru_Contacts.SaaS_Adding_Staff_Stage_Met_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>forSaaSAddingStudentsStageMetDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  ISCHANGED({!$Record.SaaS_Adding_Students_Stage_Met_Date__c}),
  {!$Record.SaaS_Adding_Students_Stage_Met_Date__c},
  {!Loop_Thru_Contacts.SaaS_Adding_Students_Stage_Met_Date__c}
)</expression>
    </formulas>
    <interviewLabel>School Object - After Save - Contact Field Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>School Object - After Save - Contact Field Sync</label>
    <loops>
        <name>Loop_Thru_Contacts</name>
        <label>Loop Thru Contacts</label>
        <locationX>74</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_from_School_Object</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Account_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>School_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Contacts_decision</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Billing_Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_SaaS_Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Contacts</name>
        <label>Update the Contacts</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputReference>collUpdateContacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterFormula>OR(
  ISNEW(),
  ISCHANGED({!$Record.SaaS_Activation_Funnel_Stage_2024__c}),
  ISCHANGED({!$Record.Billing_Activation_Funnel_Stage_2024__c}),
  ISCHANGED({!$Record.SaaS_Adding_Students_Stage_Met_Date__c}),
  ISCHANGED({!$Record.SaaS_Adding_Parents_Stage_Met_Date__c}),
  ISCHANGED({!$Record.SaaS_Adding_Staff_Stage_Met_Date__c})
)</filterFormula>
        <object>School_Object__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collUpdateContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varTempContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
