force-app/main/default/flows/Sequence_Subflow_Mark_Sequences_As_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_current_task_to_collection_to_update</name>
        <label>Add current task to collection to update</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varRTasksToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Auto_completed</name>
        <label>Assign Task = Auto completed</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Loop_Tasks.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_task_to_collection_to_update</targetReference>
        </connector>
    </assignments>
    <description>Pass the onboarding Id and the Sequence identifier of the custom sequence to close</description>
    <environments>Default</environments>
    <interviewLabel>Sequence - Subflow - Mark Sequences As Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sequence - Subflow - Mark Sequences As Complete</label>
    <loops>
        <name>Loop_Tasks</name>
        <label>Loop Tasks</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Custom_Sequences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Auto_completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Sequences</name>
        <label>Get Custom Sequences</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputOnboardingId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sequence_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputSequenceIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>varRTasksToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Sequences</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Pass the Id (text) of the onboarding record to find all of the custom task sequences associated</description>
        <name>varInputOnboardingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>pass the picklist value from the custom sequence metadata that identifies the sequence to be closed</description>
        <name>varInputSequenceIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRTasksToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
