force-app/main/default/flows/Task_After_Save_Update_Case_Activity_Metrics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_Working_Case_Record</name>
        <label>Assign to Working Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkingCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_Contact_Related_to_any_Open_Billing_At_Risk_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_this_task_already_captured</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Working_Case_Record_Acct</name>
        <label>Assign to Working Case Record - Acct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkingCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cases_Related_to_the_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_this_task_already_captured</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Working_Case_Record_Case</name>
        <label>Assign to Working Case Record - Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkingCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Based_on_CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_this_task_already_captured</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Working_Case_Record_Opp</name>
        <label>Assign to Working Case Record - Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkingCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Based_on_OppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_this_task_already_captured</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Data_Fields</name>
        <label>Update Case Data Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkingCase.Case_Last_Contact_Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formLastConnectAttempt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkingCase.Number_of_Contact_Attempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormNumberofContactsAttempts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkingCase.Number_of_Connected_Attempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormNumberofConnectedAttempts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkingCase.Most_Recent_Call_Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormMostRecentCallDisposition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_Case_Found</name>
        <label>Was Case Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_Contact_Related_to_any_Open_Billing_At_Risk_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Working_Case_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Case_Found_based_on_Accountid</name>
        <label>Was Case Found based on Accountid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cases_Related_to_the_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Working_Case_Record_Acct</targetReference>
            </connector>
            <label>Yes,Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Case_Found_based_on_CaseId</name>
        <label>Was Case Found based on CaseId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Found_based_on_CaseId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Based_on_CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Working_Case_Record_Case</targetReference>
            </connector>
            <label>Yes, Case Found based on CaseId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Case_Found_Based_on_Opp</name>
        <label>Was Case Found Based on Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Found_based_on_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Based_on_OppId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Working_Case_Record_Opp</targetReference>
            </connector>
            <label>Yes, Case Found based on Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_this_task_already_captured</name>
        <label>Was this task already captured?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_Capture_Data</name>
            <conditionLogic>1  OR ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Counted_on_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Counted_on_Case_as_Connected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Connected_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Data_Fields</targetReference>
            </connector>
            <label>Need to Capture Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatId_is</name>
        <label>WhatId is</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Whatid_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_Contact_Related_to_any_Open_Billing_At_Risk_Cases</targetReference>
            </connector>
            <label>Whatid is Null</label>
        </rules>
        <rules>
            <name>WhatID_is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cases_Related_to_the_Account</targetReference>
            </connector>
            <label>WhatID is Account</label>
        </rules>
        <rules>
            <name>WhatId_is_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Based_on_OppId</targetReference>
            </connector>
            <label>WhatId is Opportunity</label>
        </rules>
        <rules>
            <name>Whatid_is_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Based_on_CaseId</targetReference>
            </connector>
            <label>Whatid is Case</label>
        </rules>
    </decisions>
    <description>06.26.2025 - LK - When a call task is created or updated, and if there is a open &quot;Passback to Sales&quot; case ,then update the Case fields
07.14.2025 - LK - Update with new in flow Connect Sales FOrmula
10.30.2024 - DM - Updated old Call Result field with new Disposition field (rev migration)
11.03.2025 - LK - Quick Fix - default to end.</description>
    <environments>Default</environments>
    <formulas>
        <description>Needs to be update if the Connect Call Formula Field is update. Same function b,ut here as a backup for on created .</description>
        <name>FormBackupConnectSalesFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF ( 
OR(
TEXT({!$Record.Disposition__c}) = &quot;CC - Already Talking to Sales&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - Cannot Reach DM&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - Competitor / Status Quo&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - COVID-19&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - Demo Scheduled&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - Demo Set&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - DM (Follow Up Task)&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - Do Not Contact&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - Feature/Product Limitation&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - Initial Call Scheduled&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - Not Interested&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - Not Ready Now&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - Not Sales Related&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - Pitched DM (Follow Up Task)&quot;,
TEXT({!$Record.Disposition__c}) = &quot;CC - Price Too High&quot;,
TEXT({!$Record.Disposition__c}) = &quot;NA - Spoke to DM (Did Not Pitch)&quot;,
TEXT({!$Record.Disposition__c}) = &quot;NA - Spoke to DM / Sent Info&quot;,
TEXT({!$Record.Disposition__c}) = &quot;NA - Spoke to Non-DM&quot;,
TEXT({!$Record.Disposition__c}) = &quot;NA - Spoke to Non-DM (GK Navigation)&quot;,
TEXT({!$Record.Disposition__c}) = &quot;NA - Spoke to Non-DM (Hung Up Pre-Pitch)&quot;,
TEXT({!$Record.Disposition__c}) = &quot;NA - Spoke to Non-DM / Sent Info&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Enterprise&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Non Primary&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Not Interested - Budget Issue&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Not Interested - COVID19&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Not Interested - Feature / Product Limitation&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Not Interested - Happy w/ P&amp;P&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Not Interested - Hung Up on Multiple Times&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Not Interested - In Contract&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Not Interested - No Reason&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Not Interested - Not Ready Now&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Not Interested - Price Too High&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Not Interested - Using Competitor&quot;,
TEXT({!$Record.Disposition__c}) = &quot;REC - Public School (K12 with ECE/Headstart)&quot;,
TEXT({!$Record.Disposition__c}) = &quot;UNQ - Do Not Call&quot;,
TEXT({!$Record.Disposition__c}) = &quot;EDU - Demo Conf - DM confirmed&quot;,
TEXT({!$Record.Disposition__c}) = &quot;EDU - Demo Conf - Gatekeeper&quot;,
TEXT({!$Record.Disposition__c}) = &quot;EDU - Spoke to DM did not pitch&quot;,
TEXT({!$Record.Disposition__c}) = &quot;EDU - Y, Spoke to DM&quot;,
TEXT({!$Record.Disposition__c}) = &quot;EDU - Y, Spoke to non DM&quot;
), TRUE, FALSE )</expression>
    </formulas>
    <formulas>
        <name>formLastConnectAttempt</name>
        <dataType>Date</dataType>
        <expression>IF({!$Record.Counted_on_Case__c}=FALSE, {!$Record.ActivityDate}, {!WorkingCase.Case_Last_Contact_Attempt__c})</expression>
    </formulas>
    <formulas>
        <name>FormMostRecentCallDisposition</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.Counted_on_Case__c}=FALSE,
     TEXT({!$Record.Disposition__c}),
     {!WorkingCase.Most_Recent_Call_Disposition__c} )</expression>
    </formulas>
    <formulas>
        <name>FormNumberofConnectedAttempts</name>
        <dataType>Number</dataType>
        <expression>IF( 
AND(    OR ( {!$Record.Sales_Connected_Call__c}=TRUE, {!FormBackupConnectSalesFormula}=TRUE), 
        {!$Record.Counted_on_Case_as_Connected__c}=FALSE ), 
   ( BLANKVALUE( {!WorkingCase.Number_of_Connected_Attempts__c}, 0)  +1 ) ,
      {!WorkingCase.Number_of_Connected_Attempts__c} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormNumberofContactsAttempts</name>
        <dataType>Number</dataType>
        <expression>IF( {!$Record.Counted_on_Case__c}=FALSE, (BLANKVALUE(  {!WorkingCase.Number_of_Contact_Attempts__c}, 0) +1) , {!WorkingCase.Number_of_Contact_Attempts__c} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formTaskCountedonCaseAsConnected</name>
        <dataType>Boolean</dataType>
        <expression>IF( 
AND({!$Record.Counted_on_Case_as_Connected__c}=FALSE,  OR(  {!$Record.Sales_Connected_Call__c}=TRUE, {!FormBackupConnectSalesFormula}=TRUE)),
TRUE,
FALSE)</expression>
    </formulas>
    <interviewLabel>Task - After Save - Update Case Activity Metrics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - After Save - Update Case Activity Metrics</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Based_on_CaseId</name>
        <label>Get Case Based on CaseId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Case_Found_based_on_CaseId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Passback_to_Sales_Case</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing At-Risk</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Based_on_OppId</name>
        <label>Get Case Based on OppId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Case_Found_Based_on_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Passback_to_Sales_Case</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing At-Risk</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases_Related_to_the_Account</name>
        <label>Get Cases Related to the Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Case_Found_based_on_Accountid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Passback_to_Sales_Case</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing At-Risk</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhatId_is</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Is_this_Contact_Related_to_any_Open_Billing_At_Risk_Cases</name>
        <label>Is this Contact Related to any Open Billing At Risk Cases?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Case_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Passback_to_Sales_Case</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing At-Risk</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
        <inputReference>WorkingCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Counted_on_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Counted_on_Case_as_Connected__c</field>
            <value>
                <elementReference>formTaskCountedonCaseAsConnected</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterFormula>AND( 
NOT(ISBLANK({!$Record.WhoId})), 
NOT(BEGINS({!$Record.WhatId},&apos;a0E&apos;)),
NOT(BEGINS({!$Record.WhatId},&apos;00Q&apos;)),
OR( 
     ISPICKVAL({!$Record.Task__c} , &quot;Call&quot;),
     ISPICKVAL({!$Record.TaskSubtype} , &quot;Call&quot;),
      AND( {!$Record.Counted_on_Case__c} = TRUE , {!$Record.Counted_on_Case_as_Connected__c}=FALSE ,      {!$Record.Sales_Connected_Call__c}=TRUE 
      ) ,
NOT( AND ( {!$Record.Counted_on_Case__c} = TRUE , {!$Record.Counted_on_Case_as_Connected__c}=TRUE))))</filterFormula>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1700</triggerOrder>
    <variables>
        <name>WorkingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
