force-app/main/default/flows/User_record_to_SFDC_lead_or_contact_matching.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_LOGIC_matching_counter</name>
        <label>Add to LOGIC matching counter</label>
        <locationX>1391</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>User_Object.LOGIC_matching_count__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contact_User</name>
        <label>Update contact User</label>
        <locationX>647</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>Get_contacts_from_account.User_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Object.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_contacts_from_account.School_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Object.School_Object__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_From_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contacts_from_account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_LOGIC_matching</name>
        <label>Update LOGIC matching</label>
        <locationX>395</locationX>
        <locationY>1053</locationY>
        <assignmentItems>
            <assignToReference>User_Object.LOGIC_is_matched__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_LOGIC_matching_0</name>
        <label>Update LOGIC matching</label>
        <locationX>736</locationX>
        <locationY>1376</locationY>
        <assignmentItems>
            <assignToReference>User_Object.LOGIC_is_matched__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Associated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Object.Associated_User_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_default_Contact_record.User_Object__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_user_id</name>
        <label>Update user id</label>
        <locationX>387</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>Search_for_lead.User_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Object.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_found</name>
        <label>Account found</label>
        <locationX>1092</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Add_to_LOGIC_matching_counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contacts_from_account</targetReference>
            </connector>
            <label>Account record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_found_to_update</name>
        <label>Contact found to update</label>
        <locationX>772</locationX>
        <locationY>873</locationY>
        <defaultConnector>
            <targetReference>Is_default_school</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_record_found_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contacts_from_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contact_User</targetReference>
            </connector>
            <label>Contact record found to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_contact_record</name>
        <label>Default contact record</label>
        <locationX>1377</locationX>
        <locationY>1232</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default_contact_record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_default_Contact_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_association</targetReference>
            </connector>
            <label>Default contact record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_association_record_exist</name>
        <label>Does association record exist</label>
        <locationX>1109</locationX>
        <locationY>1381</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_association</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_association</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_contact_relationship</targetReference>
            </connector>
            <label>No association</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_default_school</name>
        <label>Is default school</label>
        <locationX>1253</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_record_is_default_school_and_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Object.is_user_default_school__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Object.is_archive_ready__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_contact</targetReference>
            </connector>
            <label>User record is default school and active</label>
        </rules>
        <rules>
            <name>User_record_is_not_default_school_and_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Object.is_user_default_school__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Object.is_archive_ready__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_default_Contact_record</targetReference>
            </connector>
            <label>User record is not default school and active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_found</name>
        <label>Lead found</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Search_for_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_user_id</targetReference>
            </connector>
            <label>Lead record found</label>
        </rules>
    </decisions>
    <description>User record to SFDC lead or contact matching</description>
    <environments>Default</environments>
    <formulas>
        <name>First_name_40_logic</name>
        <dataType>String</dataType>
        <expression>IF(
      LEN({!User_Object.First_Name__c}) &gt; 40,
      LEFT({!User_Object.First_Name__c} , 40),
      {!User_Object.First_Name__c}
 )</expression>
    </formulas>
    <formulas>
        <name>Last_Name_logic</name>
        <dataType>String</dataType>
        <expression>IF(
     NOT(ISBLANK({!User_Object.Last_Name__c})),
     {!User_Object.Last_Name__c},
     &apos;Not Provided&apos;
)</expression>
    </formulas>
    <formulas>
        <name>Owner_logic_for_possible_inactive_user</name>
        <dataType>String</dataType>
        <expression>IF(
     {!Search_for_Account.Owner.IsActive},
     {!Search_for_Account.OwnerId},
     &apos;0053u0000035xeBAAQ&apos;
)</expression>
    </formulas>
    <interviewLabel>User record to SFDC lead or contact matching {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User record to SFDC lead or contact matching</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_contact_relationship</name>
        <label>Create contact relationship</label>
        <locationX>896</locationX>
        <locationY>1376</locationY>
        <connector>
            <targetReference>Update_LOGIC_matching_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Search_for_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_default_Contact_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_contact</name>
        <label>New contact</label>
        <locationX>767</locationX>
        <locationY>1053</locationY>
        <connector>
            <targetReference>Update_LOGIC_matching</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Search_for_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>User_Object.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_name_40_logic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_logic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Owner_logic_for_possible_inactive_user</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>User_Object.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Object__c</field>
            <value>
                <elementReference>Search_for_Account.School_Object__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Object__c</field>
            <value>
                <elementReference>User_Object.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Current_association</name>
        <label>Current association</label>
        <locationX>1118</locationX>
        <locationY>1226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_association_record_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_for_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_default_Contact_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contacts_from_account</name>
        <label>Get contacts from account</label>
        <locationX>780</locationX>
        <locationY>465</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_found_to_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_for_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Object.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>bw_User_UUID__c</queriedFields>
        <queriedFields>User_Object__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_default_Contact_record</name>
        <label>Get default Contact record</label>
        <locationX>1385</locationX>
        <locationY>1000</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_contact_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brightwheel_User_UUID_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Object.Brightwheel_User_UUID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Default_School__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inactive_School_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>User_Object__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_for_Account</name>
        <label>Search for Account</label>
        <locationX>1099</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bw_School_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Object.Brightwheel_School_UUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>School_Object__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_for_lead</name>
        <label>Search for lead</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brightwheel_School_UUID_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Object.Brightwheel_School_UUID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brightwheel_User_UUID_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Object.Brightwheel_User_UUID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact</name>
        <label>Update contact</label>
        <locationX>507</locationX>
        <locationY>868</locationY>
        <connector>
            <targetReference>Update_LOGIC_matching</targetReference>
        </connector>
        <inputReference>Get_contacts_from_account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_count</name>
        <label>Update count</label>
        <locationX>1391</locationX>
        <locationY>662</locationY>
        <inputReference>User_Object</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>387</locationX>
        <locationY>594</locationY>
        <connector>
            <targetReference>Update_LOGIC_matching</targetReference>
        </connector>
        <inputReference>Search_for_lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>395</locationX>
        <locationY>1310</locationY>
        <inputReference>User_Object</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0</name>
        <label>Update User Record</label>
        <locationX>566</locationX>
        <locationY>1376</locationY>
        <inputReference>User_Object</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Search_for_lead</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Contact_From_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Single_contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>User_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User_Object__c</objectType>
    </variables>
</Flow>
