force-app/main/default/flows/WR_Parent_User_Object_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Lead_IDs_to_variable</name>
        <label>Assign Lead IDs to variable</label>
        <locationX>138</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>collection_of_leads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLeadIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>My_WorkRamp_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_WR_registration</name>
        <label>Update WR registration</label>
        <locationX>138</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>varLeadIDs.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>My_WorkRamp_Loop.WorkRampApp__Lead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lead_IDs_to_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_account_is_found</name>
        <label>If account is found</label>
        <locationX>512</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account_field</targetReference>
            </connector>
            <label>Account found</label>
        </rules>
        <rules>
            <name>No_account_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_object_account_assignment</targetReference>
            </connector>
            <label>No account found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_WR_registration_with_contact</name>
        <label>Update WR registration with contact</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_contact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WR_registration</targetReference>
            </connector>
            <label>If contact found</label>
        </rules>
    </decisions>
    <decisions>
        <name>WR_Lead_Ids_Decision</name>
        <label>WR Lead Ids Decision</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>No Leads Found</defaultConnectorLabel>
        <rules>
            <name>Founds_Leads_to_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkRamp_Registration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>My_WorkRamp_Loop</targetReference>
            </connector>
            <label>Founds Leads to Delete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WR - Parent User Object update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WR - Parent User Object update</label>
    <loops>
        <name>My_WorkRamp_Loop</name>
        <label>My WorkRamp Loop</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <collectionReference>Get_WorkRamp_Registration</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_WR_registration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WR_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_leads</name>
        <label>Delete leads</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <inputReference>collection_of_leads</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>512</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_account_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contact</name>
        <label>Get contact</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_WR_registration_with_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkRamp_Registration</name>
        <label>Get WorkRamp Registration</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WR_Lead_Ids_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkRampApp__Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkRampApp__Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkRampApp__WorkRamp_Academy_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WR_registration</name>
        <label>Get WR registration</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_WR_registrations_with_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkRampApp__Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkRampApp__WorkRamp_Academy_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_account_field</name>
        <label>Update account field</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_WorkRamp_Registration</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Get_account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brightwheel_School_UUID__c</field>
            <value>
                <elementReference>Get_account.Brightwheel_School_UUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_object_account_assignment</name>
        <label>Update User object account assignment</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <stringValue>WR default account</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WR_records</name>
        <label>Update WR records</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Delete_leads</targetReference>
        </connector>
        <inputReference>Get_WorkRamp_Registration</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WR_registrations_with_contacts</name>
        <label>Update WR registrations with contacts</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_account</targetReference>
        </connector>
        <inputReference>Get_WR_registration</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_contact</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>User_Role__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>User_Role__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>guardian</stringValue>
            </value>
        </filters>
        <object>User_Object__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_of_leads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadIDs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
